# Listing of Most Popular Stratego Game Board Setups from Gravon Archive

## 1. Reproducing Dobby125's [blog post](http://stratego-tips.blogspot.com/2019/03/listing-of-most-popular-stratego-game.html)

In [1]:
from IPython.display import display

import gravon.package as pkg
from gravon.piece import rank_translate
from gravon.setup import diagram, theme_minimal

db_setups = pkg.load_dataset('db_setups')

In [2]:
classic_xml = (db_setups
    .query('type == "classic" & ext == ".xml"')
    .assign(result = lambda r: r.result.cat.reorder_categories(['win', 'loss', 'draw']))
)

In [3]:
df = (classic_xml
    .groupby('setup_str')
    .agg(**{
        'Wins'        : ('win',    'sum'  ), 
        'Losses'      : ('loss',   'sum'  ), 
        'Ties'        : ('draw',   'sum'  ),
        'Games Played': ('result', 'count')
    })
    .astype(dtype={'Wins': int})
    .assign(**{'Winning Percentage': lambda r: r.Wins / (r.Wins + r.Losses)})
    .sort_values('Games Played', ascending=False)
    .query('`Games Played` >= 10')
)

In [4]:
for i, row in enumerate(df.itertuples()):
    print(diagram(rank_translate(row.Index), theme=theme_minimal))
    display(df.iloc[i:(i+1),:].style.hide_index().format({'Winning Percentage': '{:.2%}'}))
    print()

9531992479
7B7965S3B7
8494B5896B
896BFB6858

693249147B
9BBS6995B7
B768795359
89B584F868

979B794768
B9969B2319
78B865S384
B986B5554F

9619964995
538752S379
7468848B95
BB8BFB6B79

97BS455679
5968127B95
8638B83B78
994BFB4699

9758592659
76B496S839
48B5B39199
6B7BFB8784

99B5998499
753S456256
67168B937B
84B897B8BF

59649957B9
314S6235B6
989B896479
57BFB887B8

7683592469
541465S359
BB699B99BB
7FB8879887

9649599354
9B3S298661
75B76B7894
8B75BFB898

7964799169
9986952847
54B838S35B
97B6B58BBF

4694967596
5391539294
9987688S85
B8BBF7BB7B

7997B95163
5958B6288F
899B7B453S
6996B7B484

764B79B859
9B98B58195
B863S34592
76867BF499

6762761597
953S549853
B98949849B
B8B8F9B76B

5964695697
319S9293B5
984B688479
57BBFB87B8

699367B359
8525948996
976S19478B
8BB485FBB7

7999762846
9599B3S751
B99864348B
786B585BBF

97BS397B59
5B791946B6
B48398526B
689589F487

964745S269
9598139976
6B7B88B493
98B75BFB85

67456B7956
9559928399
86B7BS3419
BB8987F48B

9756945S75
493999213B
96874958BF
68BBB7868B

6512569576
494S689597
B93B34BB8B
FB88998797

97BS455679
5968127B95
8683B83B78
994BFB4699

9693591469
952S469357
694889587B
88B7BBB7BF

9641953969
753964S259
B785988496
FB7BBB7B88

9566598159
97BS924439
5B7436B699
87B78BFB88

BB7999B819
77BBB24894
69358S6357
685959864F

768975236B
4936B9857B
1598B5S697
894BFB4899

76B6942467
94SB51959B
7938985378
B8965BF8B9

9693594269
654S369B85
8BB4178B79
5BFB897897

99639B579B
B62S678165
79B745453B
98B899884F

6996751769
495342S357
9B988BB849
8765BFBB98

9619964995
5387528573
746884SB99
BB8BFB6B79

5412594B76
399S397B49
B6989585B6
FB68987B78

9795797579
598S359846
8B26BB31B8
9684BFB469

B971492979
86B993S356
BB549945BB
868765F788

9624953969
58B963S456
9B78714BB8
789798BFB5

6797B63466
2934991985
S85959B49B
7B588BFB87

9795765979
567S359849
8B28BB31B8
964BFB4869

7495953547
29S3999991
B65B84B6B8
7B86B87F86

6796751979
956942S356
9B4385B847
988BBFBB89

9685699596
741994S24B
8953837B6B
97B858B7BF

B98299199B
763S956367
B94B94748B
78568585BF

964597B497
43S5959295
18BB638989
867FB7B6B8

65BB664176
799593S243
58BB94899B
79879858BF

6B36514S46
58B4999927
BB5899B399
767885FB78

9619964995
738652S379
7458848B95
BB8BFB6B79

461465S247
6593698B9B
93859B8B98
8957BFB797

698397B359
9525648996
976S19478B
8BB485FBB7

9641468469
95389B5295
7987B7BS39
985BFB7B68

7649569357
5698258969
9BB4S3B914
B7798BFB88

5995965567
3914929939
884S4B8688
767BB7FBBB

9683964596
6491598994
52S3B858B7
8BF7B7B97B

9649964579
791879S296
95B3538B54
86BF8BB78B

6521497B57
94S8953B94
993B689B78
88BFB76596

9619964995
5387528573
B46884SB99
FB8BB76B79

9676947S75
492397913B
69859948BF
86BB5B858B

698367B359
9525948996
976S19478B
8BB485FBB7

9993649997
6B491345B6
B75S2B5589
8887BFB867

9619974995
738259B879
B45S34B5B6
FB68886B79

6686557S46
5939315729
9BB8B98B89
97B7894FB4

9619964595
5385728989
746784SB93
BB8BFB6B79

6935769369
158492S957
8948B84B9B
695BFB7B87

992S594697
959316B7B9
6454838B79
88F58B6B7B

B6517694B7
983959298B
85B496S496
7BFB538789

9927999199
83S3BB6777
65B444B698
6BF8555B88

B682675969
B9359B8397
75987B6984
89S4BFB451

9789675269
6963198958
7954944S37
B8BF5BBBB8

66267B9856
9589438199
4BB8BS743B
97B7895F59

969576286B
7938B9539B
4896B78957
154BFB4S98

5716578257
3999947SB5
984B493B69
86BFB698B8

B6655B4578
7BB3618S23
B789999999
FB85944876

698869B797
391236B796
B9944S5B78
FB45585B89

6689557S75
9549319826
9BB769B399
8B784BFB84

9996751797
956942S536
7B4385B864
988BBFBB89

5799674365
24865BB581
S83B967949
99BFB887B9

9999997279
5676B53S36
798B541B86
88B544BFB8

7997B95163
5958B6288F
999B7B453S
69B7B68484

9787975897
649653S959
8B13BB52B8
964BFB4869

96B595S855
7B79926691
9649B34834
B7B8B9788F

9698946397
49256BB954
B5BB3S7819
786897BF58

941259B77B
993S496BB7
58538586B7
89F496896B

97BS596855
7B63259361
9948469984
B8B8B7B97F

96B595S855
7B79926691
9649B34843
B7B8B9788F

9792991657
5B4784B3B9
B653894S6B
8FB9968587

9647943569
92979167B9
BS8359B578
85BFB4886B

76B4953796
49B692S154
985B99583B
97B78886BF

9696998969
7489569747
B2S3B4B813
FB585875BB

5961799695
6935452897
78849S3847
B8BFBBB96B

B632579867
B7589B6394
796S5B8951
9984BFB498

6B75649595
4BB3168392
97958B4S98
86B7B7F899

5994699169
973S257835
59B8488647
97B6BFB8BB

975S496359
B293159897
656B694B84
98BFB878B7

6753671476
9539949752
8695B984SB
99B8B8B8BF

9739761396
95B2549975
8B7S99485B
B68B6884BF

46994BB364
89S6B7B312
59587B8556
9799B7988F

786851B798
B52B993695
56S4993489
B4BF97B768

B6516953B7
9734849S29
B756B9467B
FB98589898

6746398969
852S514397
B68599478B
7B98B5FB9B

9699595946
9489B7B365
596B78BS13
287B7B84F8

76B5794B64
5949359792
386BS1985B
87BFB68998

9468765845
5B72999916
868993983B
7B7B4SB5BF

9845765246
598B941S63
987B935B99
9BB786F7B8

7528756175
5BS7499993
96B394B489
8B896BFB68

69B5761476
5749948299
B9B39B5S39
8768BFB858

9982575379
4739SB9156
B9989686B4
86B58B4F7B

9684953949
6562999795
3S7561B4B7
8BBF8B878B

7993651976
564B469584
9BB997B297
85838BFB8S

B728748B9B
65S39855B8
9B9469136B
97F6498597

9741652B69
593849S94B
88B5596387
8B79B7F6B9

66267B9856
9589438197
4BB8BS4B39
97B7895F59

9768599B47
9593148725
869B5974S3
69B88BFB6B

4488BB76B7
21837697B5
88BS399596
55FB469999

451S469567
29836BBB95
89349678B7
F989589B7B

5984658497
9577986994
6B3S93182B
B65B89B7BF

956269B8B7
318S475B75
9953898B89
94F4B6B769

9648764976
9598952B95
31BS34B7B6
985FB887B9

BB73563265
7BBF19S498
B7B5484685
7998996899

995B79B897
6B98B58145
B863S34592
76867BF499

9458595659
9923971396
8BS486848B
9B7B7FBB67

67B8597497
B95294196B
68S455F398
9368B8B7B9

6999699897
4951495265
B837583S4F
B7BBB8B687

85S8BBB467
1238B7B675
49953B5798
F499989966

764255136B
5998778994
993SB4B7B9
8598B6F6B8

9795675979
948953S765
8B13BB82B8
9684BFB469

5964695697
391S9293B5
984B688479
57BBFB87B8

969867B417
573B95B845
99BB92S36F
89B7849856

5982658497
96BS913995
6874364B5B
B89BF9B787

5799699964
3956453692
18B8B8S48B
B7B7F89B57

7B4967156B
B892959389
694S694B58
987835BFB7

953B763996
6998495258
B87491S679
7BBF584BB8

97S587B599
6413B6B869
53598B6892
94FB48B797

9964968579
5351539246
B4B867BS8B
897BFB7998

699856939B
4526341657
9958SBBB94
8B87F7B798

5695853164
67BB77S592
99BB6B4493
87989BF898

6791469246
38589978S5
B49995BB93
FB587876BB

9619964995
738352S979
7458848B56
BB8BFB6B79

9619974697
7482596899
B53S838B45
FBB85B6B79

745349S595
2998959194
76B76B663B
89B8BFB878

7965964695
5B3929S913
974886B489
8B78BFBB75

9671576996
753S243594
948BB889B9
89BBFB5678

7549969996
3815645249
B598B838SB
FB7B79B678

9619579696
64S5894B99
87B9238585
3BFB784B7B

9731992479
7B5965S3B7
8494B5896B
896BFB6858

6689557S75
9649319826
9BB7B9439B
8B78B4F589

9759674694
6B95426159
B878S35398
B7BBBF8899

94B7599569
769598289B
581SB36B47
394887BFB6

9964799169
9783952837
5B48B8S54B
97B6B586BF

769B745684
495386S639
82B59B9195
997BBFB788

999674S299
7558513576
48B936B984
6B7B8BFB98

7569479B79
89289615B6
B3S3598B78
69BF4845B9

4532564997
79S89986B5
19498B3876
98B6BFB5B7

9795691269
9BB3494S37
876B855489
B7BFB69858

5996958195
67BS294439
7B7436B657
98B98BFB88

4652697B96
199S495B7B
B53837945B
FB68898978

56435B6845
9918995S29
43B8969B79
7BFB8787B6

558695SB79
16395236B7
4899648499
F79B7B8B8B

7617699S67
4399995324
B94888B597
65B88BFB5B

7939565467
57BBS42193
9B5798B898
84BBF69689

3964698465
B499595293
79591B6S8B
88B7BFB787

96B5762147
954394S839
68B9965885
9B78BB7FB9

7B7S695965
6B89475843
4B6829831B
5B799989BF

6759652156
795986S494
B8BB43B39B
79789988BF

892S598B97
959316B7B6
6454438B79
89F59B6B78

9685993896
391895S254
6499BBBB67
785478F7BB

7979975167
595B962835
8B849B43SB
969B8648BF

6598969469
491359895B
253S8B687B
F47B7B7B89

5698562856
9BB19S6999
BB7F3978B3
774584894B

9646569359
75B9279865
9B79S3B414
98B78BFB88

7759461467
9B79939S23
5B9B854868
9B8B98FB56

9596356495
929897S793
684B61B757
8B8B4BFB89

7536659467
96895927B9
414B39SB95
88BFB897B8

9468765845
5B72999196
8689939S3B
7B7B48B5BF

9534752795
B99596S849
7641B9838B
8B6BFB8697

B95699158B
792S4793B7
65399B4856
8974BFB868

5995965539
39149B2969
884S4B8688
767BB7F7BB

B742761476
965965S895
89B3943B8B
959898BFB7

6521499569
94S8953B97
973B546B7B
88BFB87896

9642953867
953S564145
BB99B996BB
7889788BF7

49S3949B95
2659615469
878B7639B8
95BFB8787B

99765986B9
B63812437B
75495SB568
84989BFB79

9619964995
5387528573
746894S899
BB8BB7F6BB

9B7596S579
9693613296
9B4584B574
B7988BFB88

B566576695
7B13993299
B7B495S499
FB7B888884

9996751797
956942S356
7B4385B846
988BBFBB89

5638599996
241BB68399
598B7B7S68
454FB7B789

969994S259
BBB4615646
777358B399
8B8887FB59

674599B679
12S58B8997
934565B8B9
39BF4B8687

9518952959
739369SB94
B654946B86
FB78B787B8

9964691597
659S259369
8984838584
B7BFB7BB7B

976995SB97
95314237B5
96499547B8
68B86FB88B

7583573875
661852SB76
44B49996B9
8BFB999B89

B758564695
7B39998992
9867B14S38
7BB4FB6985

741S475396
5699236B57
98B48B968B
5BFB989978

695B599597
3998276194
879S84B738
B64B5BFB86

6793979195
29586B5476
458S3B8849
97BB6FBB89

B645975469
B2S3B61857
B4757B9839
FB68899998

99639B579B
B61867S265
79B745453B
98B899884F

897B158687
596399B25B
9843994S65
867B79FB4B

956B497B49
4935953S62
8197876895
B8BB78B96F

B648564267
5969398S45
793B15B897
89B79BFB98

6751695B96
42S949397B
B437995B85
FB688987B8

756964S769
6382989185
B49984B53B
7998BBFB57

467B676865
288345BS47
91FB3B959B
9959998B78

5713663B69
99597925B7
94SB45487B
89BFB86988

46994BB364
89S6B7B312
59587B8586
9799B7985F

96B6942467
74SB51959B
7938985378
B8965BF8B9

9742593799
59S8965146
935B84898B
B86BB6F7B7

9628943869
49B7696194
B5B75BS395
7B788B589F

463596B8B6
19S9294B79
89583B6994
85F7B7B758

9674996969
B57B483135
74B526F599
B7B8S8B988

5938594659
173S962949
568BB96BB7
FB4789887B

754B59635B
9682475187
893S96846B
9999B8B7BF

9751469569
B936752947
845B63SB89
78BFB8989B

862966B599
B3S4917B6B
58443597B7
889F99587B

6999699457
9425465183
BS838B895B
876B97B7BF

756979S579
6391562936
9B84448B58
8B7B99BFB8

BB42761476
765965S845
8993993B8B
959898BFB7

7948564895
4996897759
B28139S3B6
FB7B98B56B

675B4B8153
95S7B7B892
68654B6F93
47B8999998

6996979969
9651354897
74B8S28758
B8BF53B4BB

8694672967
31999999B8
834B6B887B
BF5S455B57

6983968579
9495748964
B5188BS39B
7F6BB7952B

963S579394
4818249859
957B686597
98BFB6BB7B

674599B679
12S5978999
8344B7B856
35BF8B869B

4636459564
B991B39992
75986S9B58
8B7F7B878B

42995B7696
99SB739985
1845B65439
687BFB78B8

8955975586
B983782431
694B66S899
B4B7B7FB99

598461875B
269799999B
95B344S357
8B768BFB86

678S459764
4935196352
B99799856B
89BB78B8BF

7997B75163
5958B6288F
698B57443S
9996B9BB48

B973998699
8584662S3B
B6B5148459
FB79757B98

963899S396
5981552859
9BB8444B9B
877B6F6B77

9412696396
653S45B958
B894587B8B
FB78799B97

7942575357
8599649969
B9B3S1B684
89B78BFB68

7649646164
59B5B29593
9985BS7398
B7B8B78F98

7695679478
B39135999B
8799S26B68
5B4F8B48B5

9593675969
894195B249
476B9S358B
B8BF786B87

9768979257
6589653S36
99B8494814
BB7BBB958F

4979963196
BB5792S693
8BB9578549
B7858BF648

7435959949
295945S193
96B76B676B
88B8BFB878

796964S769
5682989185
B49984B53B
7938BBFB57

9764565679
5941998295
B83634BS8B
789F9BBB87

4943576856
1999952694
39S75BBB68
F8BB8B7879

59959B585B
9782961936
9843847S86
96BB7FBB74

9624953969
58B963S456
97B8714BB8
798798BFB5

9498946846
7719526579
85836S5998
B9BB3FB7BB

6482679997
157S3B9959
B84346899B
FBB585B687

7617699S67
9439995324
B94888B597
65B88BFB5B

79B4684B97
9B631236B9
B79S95546B
889895F587

7699698969
5459469547
2S358BB31B
87B89BFB87

7649659354
5B7B528961
98B73SB994
9B68B7F898

5937599359
4969968594
71646B82S8
B878BFB7BB

67456B7956
9579928399
86B7BS3419
BB8985F48B

45325B6997
89S49986B5
17498B3876
9986BFB5B7

5969596975
9384894198
76S835BB49
28BB7BFB76

9685B75196
7BB3698294
964SB53887
99984BF7B5

B75B854169
7B392S4898
979B685493
6BB7F96859

7653781376
99B8546942
B6B5B99S99
B897B84F58

574256415B
B973758396
99BSBB8994
897B69886F

7958694967
963B56BB49
589792S317
BB848F8B59

578257835B
9499936897
B15676S6BB
FB84B99498

963S579394
4818249959
957B686587
98BFB6BB7B

9727999999
63S35B6765
68B145B897
8BFB445B88

9894853164
598953S692
9974967B78
8BBB675FBB

6686557746
5939325S19
9BB8B98B89
97B7894FB4

6B78496399
B412999956
B5934BS587
FB5878687B

5964975899
3829197365
6B4S48B798
9B865BFB7B

5638592694
193S996759
578BB94BB7
FB4889768B

65746B3F94
77BBB88321
7B558884S5
B669999999

764B79B859
9B98B58294
B863S34591
76867BF599

9B75994695
6B5326S413
974698B989
8B788BFB75

568547B567
952S996993
8849134B8B
97BF7BB698

675S676B76
41832BB4B8
9999999987
8F5435B85B

6797B63496
2934991995
S85958B46B
7B588BFB87

7649679759
5984954926
381B53SB98
8BFBB6B789

7995853969
35B42S44B8
998B59F6B1
79B78686B7

5985794759
39B9167492
8764996S38
8BBF58BB6B

994896257B
951594S35B
636B68984B
87BFB79987

76B979825B
97B35914S3
9B6469485B
75898986BF

9519964996
738652S379
B494B88B85
B85F7B6B79

B973992699
8584668S3B
B6B5148459
FB79757B98

5491457956
692796B499
93S35B7B69
8888BFB7B8

B985794759
6989167492
3574996S38
8BBF58BB6B

797B968896
697B632193
87B5S4499B
98B58554BF

9667598479
5473964295
981B96S35B
B897B8B8BF

65B2764869
7B5F7BS313
B858B59998
76B9999844

9919997299
7976BB3S38
876B444B56
88B5558FB6

B528979B67
3S41953B79
B5849646B9
FB68989857

9956958159
67BS294439
7B7436B657
98B98BFB88

6943599575
4699164629
89758B83S9
78BBBFBB87

6589569656
314S279397
94BF7487B9
998BB85BB8

9753696B97
92S7949384
584B5185B9
86BFB87B96

6B93554576
B719668254
99948B3S98
98B7BFB798

B747968695
52S8549931
6B6399B597
B7FB848B98

69B5761497
B749948295
6B35B53S99
878BFB9868

9794698697
9531952495
784B53S789
86BFB6BBB8

5753516S67
9496974325
7B694BB899
8B898BFB89

765B745865
399699S259
B8B4319488
896BB7FB79

6486498949
9756259177
8995S63858
BB7BF3BB9B

75S3594994
4279153B59
B786B86B99
886FB87B69

67992S7799
3B989194B9
6744B36BB6
885555FB88

9529597359
94SB46B149
B38769798B
7868B568BF

B92699179B
799S5793B7
58349B4458
8665BFB868

66865B9856
9249738197
4BB8BS4B39
97B7895F59

9621756659
4388499986
9747988S39
BBF5BB57BB

9948995B99
652654S357
B739B86176
FB8B798B48

B95699179B
692S5793B6
58379B9745
8484BFB886

4532699476
199S938BB5
59495B6768
89F88B7BB7

797B962196
6B8B63SB99
77B5844F93
98B5855489

9699595946
9489B7B365
296B78BS13
587B7B84F8

671466BB56
342S395997
B99849BB85
FB85897897

5994799169
978B952837
6B5B43S54B
97B68886BF

6949675799
4825893696
1937B7BS49
8BBF85B5B8

45786B8956
3192539694
9B68BBS8B9
94F5778B79

9591472795
639795S936
B64B56B498
88BFB87B98

6737569356
952949S915
969B8B8F98
7B8B4B7B84

9964691597
659S259369
8974738574
B8BFB8BB8B

B991764299
7B5599S956
B7B8354834
7BFB689868

9954998679
7618652359
7B3B4BSB49
868597BFB8

5412795B69
893B593S46
6996884889
F7BB795BB7

952S569359
6498315797
8974B89B89
7B6BFB4B68

9752694379
59BS951895
69B639846B
878B48B7BF

9468765845
5B72999916
8689939S3B
7B7B48B5BF

B947699B59
876S358492
9638174798
BB5BFB6895

769465B965
548BB18392
999673B5S4
99878BFB78

8794675297
B591999S59
7B64638936
B85BF4B8B8

79B4684B97
9B631236B9
B79S95546B
889985F587

5428969359
93S4759148
6B78B9856B
B799B6F8B7

7631675475
459S463892
B98B99B599
78B68BFB98

B741942396
7B5996SBB9
953597867B
868F458B98

8499599949
297594635S
65B63B761B
87B8BFB878

56B9563945
9673B14S92
64B7599898
87B7B98F8B

76B3793469
5286414597
96S8995799
B85BFB8BB8

76B5765B76
9931992399
B984B8S4B9
74F855B886

9946964257
678951FSBB
95B6938347
987B88BB59

9959998695
853856429B
BB64318487
7B7BSF7B69

9568574959
79949963B6
641S52BB7B
39887B8FB8

9628963869
49B7496194
B5B75BS395
7B788B589F

756979S579
6391562936
9B84449B58
8B7B98BFB8

78B5841499
B67B534358
8BB92S8596
97796BF699

6975756895
9539493B62
8BS198996B
B74FB74B88

7946591269
B6B3864997
8985BS3894
97BBFB5857

7979975167
595B962835
6B849B43SB
989B8648BF

9699672967
741945S945
398B635B89
85BBF87BB8

97B5972146
56S7935999
6346947B95
B8B888BFB8

8955975486
B983982831
675B66S499
B4B7B7FB99

7549651799
9968998625
7453868S34
98BBBBBB7F

9729596397
659S394565
4788198846
8BBBBBFB97

7B7B652495
B7B693S391
7B64999998
B68845F588

9531492469
7BS6959596
5B7BBB8394
87BF789868

7968964979
5942591359
987S35B487
8BBB6BFB68

5646953196
7952899394
5988BB8S4B
B67B7789BF

B544565569
7B13992394
66SFB98B8B
B899798787

7B72796896
BB4S493159
7653956B49
89B5898FB8

97B7856949
B94B626391
75653S4998
98BB8BF587

4969959399
9B83527659
7B7S84B81B
68486BFB75

7962657996
869S435479
59B4B13B58
99B87B8FB8

6629999166
77345B5377
99SB5B49B9
4888BFB885

8639647851
5BS5B96842
974B7B8993
96BFB57998

6929375975
B5B4991643
79B64S8F65
98B898B78B

1587469368
24869B5SB5
3998B7B479
89975BFB69

5996979397
B62394715B
798858BBS4
49B586FB86

9695763959
942B591498
B853S9B674
78B687FB8B

9754699469
692S978197
45B8353B59
B87BB8FB68

9539959959
7178939827
64B6465S4B
8BFB88BB67

7945798496
9697963959
B831588S27
64BBBFB8B5

695S599597
3999276194
878784B368
B54BBBFB86

694B462679
95981BS495
593B7B5639
88B7F7B889

963S561367
5489248945
9B7898B699
B7895BFB7B

552355B767
9941996B89
64948B36BB
998FB7S878

7699993596
439148S2B7
998B85B47B
86B65F7B58

5683598B79
2939168756
49S4B5B7B4
99987BFB68

9639964995
5187528573
B4688S4B99
FB7BB86B79

46994BB364
89S6B7B312
59587B8856
9799B7958F

47526BB46B
198S8536B7
599849875B
37999986BF

9959674974
649S358692
89B871BB95
587B6BFB38

9748493695
593596S929
869B1BBF84
7B87B7B685

575B651365
467B38S492
989B7948B7
9698998BFB

7573664564
469199958S
2935898978
B8F79BBBBB

668157S579
5399962935
9B88444B8B
978B96BFB7

9679975679
6455B9215B
9B6843S47B
988B88BF39

5954694995
29SB396183
8987876795
B4BBBF76B8

7696989967
9429569149
8S58345378
B7BB5BF8BB

675B462965
39981BS993
945B7B5649
88B7F7B988

7976951496
B94249659B
853S67B389
98B58BFB78

6686557746
5949325S19
9BB8B98B89
97B7894FB3

5964691597
969S259369
8984838584
B7BFB7BB7B

9576997769
7931963599
B42S54456B
BB8BB8F888

7513556769
9399S29894
58B48B9B69
8BFB6487B7

7B67BB8844
5B79673812
695993SB88
999964BF55

674916936B
2935976594
95SB8457B8
8987B98BFB

6945964996
4619259359
F5BBS3898B
787B78BB87

641S674996
9253593958
9988B8B8B6
954FB7B7B7

7975796579
569S359849
8B28BB31B8
964BFB4869

9534752795
B99691S849
765489839B
8B6BFB7B68

9534752795
B99996S849
7645B1838B
8B6B78B69F

6959799596
B3S2B4183B
6B547B45B6
8897F79988

9642674967
591S49B785
933598B968
58F8BB7BB9

64259735BB
998379B976
B618895B59
FB4S674898

46994BB364
89S6B7B312
59597B8586
9789B7985F

5799979365
24865BB581
S83B967949
46BFB887B9

9747697579
B991369926
8963SB58B8
5B4F48B58B

942S393597
6995197B69
984B6847B7
85BFB685B8

9768979256
6589651S39
9989434FB4
BB7BBB8578

9499674974
592S358391
89B87BB698
586B6BFB75

9998668699
85B54414B6
527B998B75
3SB798F7B3

5925795197
37S3B76658
994B6B449B
9B689888BF

1568959995
7933297BB6
494S56B769
48887BFBB8

9996756999
75584315B6
48B92SB874
6B7B83FB98

B56473465B
7B329981BF
758S99486B
B899998567

B4895B764B
729S373917
5694B69859
898BFB5968

6894652164
959594S393
5998B7B7B8
897B7BFB86

B95699158B
792S4793B7
65399B4865
8974BFB868

76B776B31F
5B785B2694
B485BS3894
5689999998

5646953196
7952899394
5988BB8S4B
B76B7789BF

5947997B95
1592493B79
493S85B7B6
886F66B8B8

6931679379
5799452B59
B58499S7B8
FB4886B86B

96929649B5
5389591967
BS47B3598B
FB868784B7

6579659657
3971493B27
BB8SB54899
894BFB6898

6579956979
49377B3256
1946BB8S94
85B8BFB898

5412795B79
893B593S46
6996984886
F7BB5987BB

975S499399
B293157965
786B584B97
84BFB6868B

7951499356
4697984S2B
7B98B5953B
968BFB8867

6BB5994169
47936BS349
9285877B68
9958B7F58B

76B593S469
BB69618295
7B73948478
95985BF8B9

713S775769
5995299993
B4448BB698
FB8B586B86

5967591596
972S396384
498B84B897
96BFB87B5B

B74B853468
7B992S4193
975B695899
6BB7F86859

9995974696
7483958294
6B58B3S56B
B81B7987BF

5964691596
B727B59993
73S47B8698
58FBB8B894

7995997369
5972694846
688S375B18
BB5894BFBB

574859B759
9938959936
861462S69B
4B7F78BB8B

97B5972145
64S395B398
6884896996
BB7895BB7F

7539656469
97945297B5
418B3S9B89
88BFB896B7

9693594269
654S369B85
8BB41787B9
5BFB897987

9696994769
531384B75B
995F625B47
889B8S8B7B

7538594956
5689929793
6B8B1B49S7
46B7BFB898

972959919B
69S43946B7
9345556B7B
888886B7BF

7679769566
959259S948
799B34B314
8B5B88B8BF

975967235F
B6B8B5S913
7B7B8B4994
9969648588

7696996967
9354451234
B8B7888S8B
7BFB9B5599

69414999B6
72S695357B
9938B64B89
858BFB8757

6953698259
9B6B94S797
874B618535
B8B489FB79

7999769696
9681584257
84B54B3B38
9B7FB958BS

B954694895
6197357629
397B88S495
98BBB6FB87

65SBB69357
B287794819
B34689884B
5F699995B7

975959S855
76B9926691
9649734843
BB7BB8B88F

7B73451959
B99S299639
85B5864B64
9BFB678878

5682551875
9BBS999699
B634B6993B
77F48884B7

699856939B
4526341657
9858SBFB94
8B87B7B799

7512574B9B
499S9635B7
6839984B6B
F8985B6798

B759796B69
B3S4B58975
71F4839259
89B696B848

9591972795
639945S936
B64756B49B
88BFB87B88

9518956659
934429SB79
996B6347B5
88BFB87B78

6394658359
9157528896
B8B49699SB
7BFBB89747

6589559656
472S149397
94BF7387B9
998BB86BB8

7639764996
698S592959
418B84835B
5BB78F9BB7

9589594B59
59BS749398
38782B6871
6B67BFB694

7969973679
65949589BB
631B82S478
B8BFB54589

7646569356
59B9979984
9B7S23B451
98B78BFB88

5994699169
3758257835
99BS48864B
97B67BB8BF

5739857975
9454991824
89SB6B6899
B86BBFB673

6959799596
B3S2B4183B
6B547B45B6
8987F79898

742S564164
B9B8963956
89B8B95839
797BFB7598

868S6777B6
41332BB6B7
9999999B59
8F544585B8

9757967479
629963199B
8B85BS3698
B85B84F4B5

67145B7997
95BS275695
B483893499
FBB8B69868

5769979965
1932653549
B4S4987BB7
FB88986BB8

7B52651876
B69S975399
B7B3984599
68FB484B89

59659B3594
36B6B79991
7B77584298
B868BSF498

5719659B67
99349929BB
54BS749387
8BFB586868

9756945S75
492399913B
96874968BF
68BBB7858B

96B5762147
BB7394S839
7B64995885
98985B6FB9

273BBB7938
894B795194
5S57B94869
F5668B8996

4769776979
5938545846
692S91B395
8BFB8BB8B9

9642651997
9B7S453949
B758B69863
798BFBB588

B7315B239B
7B5488S477
B468999955
FB88969966

9751992479
7B3965S3B7
8494B5896B
896BFB6858

9652654959
B9B7931493
478697B58S
89B87BFB68

7962969166
BB8973S873
7B948B5499
9855BFB584

7994652354
5B68998S97
6783B89491
7B5BFB6B89

9658659765
9492997B59
1S38B4B796
883BFB78B4

763B659764
598B396B52
9957S1B899
84984BFB78

7953594697
BB99925996
648BB56834
877BFB88S1

969994S259
BBB4615646
777358B399
8B88897B5F

95959B585B
9982761936
9843847S86
96BB7FBB74

6498696959
93S25B7148
75B6B834B9
897B85F97B

6785914952
65B39986BB
4B7B995S37
87B699488F

79957B7579
465S3B4846
9388158299
96BB6FBB89

9789641259
65B399S786
5B7954384B
87BB9896BF

6966997947
3989594795
8BS4256513
87B8BFBBB8

B949976295
876874S993
593751B956
86BB8BFB84

8994792B9B
468695696B
81354S8397
58FBB7597B

9973647269
759B919S46
BB8564873B
889B5985BF

7997995163
5958B6288F
89BB7B453S
6996B7B484

99B3598B75
6678961352
4948B5B7S4
99987BFB68

9869B6S157
794B328936
97B8B54499
6B8B795F58

46526BB56B
198S9773B7
399949845B
58899876BF

6751695B96
42S949394B
B737995B85
FB688987B8

9589497959
946496B765
B83S958BB2
7F881BB763

9994975599
67B8653136
B5B992B6S8
787B84FB48

9597653979
4931426S54
867B759869
B8BFB8B89B

9497655B9B
5995426767
963189S349
887B88FBBB

6659679767
84S9952959
413B45B997
FB8B88B3B8

9959998695
583856429B
BB64318487
7B7BSF7B69

9591592959
4756346374
768B87BSB6
98BFB98B89

6BS3578468
9752699153
BB45B49999
786BFB8897

9746956597
7519699279
394883SB45
6BFB8B8B8B

579579546B
B641952997
694B83S36B
88BFB89897

676S564895
44523B518B
9B89999B37
B78899B76F

B986998596
5624653994
893795418B
B7BB87BFS7

764695B279
5369638845
B18B599S79
FB7B884B99

6975974596
49596B1983
782B35S948
B98B7BB6F8

9915995499
7359636S24
467B78B589
88BFBB76B8

5994699169
3758257835
99BS488647
97B6BFB8BB

74S4579997
9275143B53
598B896889
B6BFB68B69

4519774S67
2584B6B395
993F57B9B9
9988B8B686

4615764276
996S359993
5984B85897
78BBFBBB98

7995691S59
6B64534325
B9898BB846
7788BFB979

598S56B679
19992B57B5
B34993977B
FB48886486

6412966979
573S53B959
856449FB88
98BB87B97B

5631466359
2859S99984
B87B6B7459
B7BF7B8998

7645655S96
B998931924
7948B899B7
38BBFB5867

978197269B
5943993857
B85676S5BB
FB84B99468

9742594795
5998S61496
953B388689
B86BB7FBB7

563659B996
19S8996572
574B394BB7
FB4889788B

9652661565
543S348B4B
899998B7B7
89998B7F7B

9591472995
639995S636
B64B54B89B
78BFB87887

BB74568959
7B58965863
B6B3B9S199
F979788442

6957599499
9B6978S175
566B92B383
878B4BFB48

9684998245
9393594199
B6BS85B767
78B76BFB58

9781559999
6568328956
4B389S4B98
B7F6B7B7B4

59B6958976
9692793899
38584BS154
B487BFB7B6

6524653649
7S78919895
3654997B97
BBFB8B89B8

7647964369
5796513958
B5B42SFB7B
898B998B98

9587965699
79B184B756
836982F379
B4BB4S5B98

4699653975
193929S749
7985648587
8BB6FBB8BB

5482779196
9936S34694
6957875599
B8BBFBBB88

6799975796
4586953594
13B472S9B9
8BFBB88B68

9972461699
956S7BB358
943BBB7859
88567F8B49

9642769167
959S549945
B63B95838B
88B789B7BF

6689557975
9649329816
9BB7BS439B
8B78B4F589

9685B74969
1328B58B95
99SB7B6767
493F8B4589

5756959579
9983B916B6
92S8738478
49B4F6BB8B

6919769259
3645995865
79B7834S48
8BFBB78BB9

951S5996B9
9783293976
B498B4684B
FB567B8587

5999995295
957BBB3S36
7981444B87
87B6668FB8

9725961579
649S443936
978BBB879B
8B568F5B98

9641468465
95389B5299
7987B7BS39
985BFB7B68

9518596599
934492SB76
756B6347B7
88BFB89B89

76B8693256
9B64951394
87BB49FS79
BB78958598

9685B75146
7BB3298399
964SB56887
99984BF7B5

9649979469
43S5955259
18BB638789
867FB7BBB8

7536958467
6815929365
4BB4998SBB
B7FB998987

76B5794B64
3949359792
586BS1985B
87BFB68998

5994672579
1693S548BB
3966B894B7
898BFB8579

675S676B76
41832BB4B8
9999999987
5F8435B85B

7669758S46
5939419929
B98695B835
7B7B8BBF48

7659964576
8B3879989B
B595312B46
7994S8BFB8

9597996857
B642594893
391S46BB57
89B87BFB68

997556B647
59432B7814
6398S88B7B
8956B999BF

76B569S469
BB69138295
7B73948478
95985BF8B9

566467535B
949973S574
2B8919967B
898B98B8BF

6983168469
9857975327
79B454FS5B
9B8B9B8B96

49BS299914
6B7B489699
7886835B53
796875BFB5

9955998599
B2967B617B
8S8434B347
69785BFB68

979B964469
8B7B591295
B79B386S38
89B784F565

9998949195
7B5462S363
774BBBB985
885B76689F

6529658179
99S9978356
4834B5B7B4
B9987BFB68

7953564594
9681969673
48B7B9S298
89BFB7BB85

9484699946
652S953199
7957B7B358
68BFB8B87B

9539957674
4991568259
8B47BB6S69
7988BFB83B

9759599855
76B9926691
9647S34843
BB7BB8B88F

B98199299B
763S956367
B94B94748B
78568585BF

B975B93699
561876S26B
B354547B97
F488998B89

6585672957
9473B54S38
9B1894B899
69B6F9B7B8

B95699169B
792S5793B7
56379B9845
8484BFB868

575B651365
467B38S492
98987948B7
969B998BFB

99639B579B
B617678265
79B5454S3B
98B899884F

BB42761479
765965S865
8993943B8B
959898BFB7

4792963967
9B58549148
356SB97B57
8968B8BFB9

7B31676267
B6S9995375
B45999584B
888899B4BF

9646559469
593S213996
B9B785B784
89B78BFB78

5646953196
7952899394
B988BB8S46
B7BB77895F

763BBB7489
158B739992
4857B98995
F5466B68S9

5632651SB5
9949993B7B
999884B7B7
6888654B7F

7651652466
54934S9895
BB989983BB
77B8998BF7

594256B7B7
193S396B7B
89999946B7
885F54886B

9BB595S855
7679926691
B649B34834
79B8B9788F

699364B359
8525978996
9B6S19478B
87B485FBB7

9B79959479
8535138526
B96846BBS4
789B8B7F69

9931593269
9644B994S9
5B7B78B565
87BFB78886

6989655969
4581432945
B3B89SB8B9
7B7F697B78

7B76499695
5B43157992
9B895B638S
8986BFB748

558S595B69
19662997B7
34843B9469
F8879B8B7B

976467BF65
7B2375314B
B8885B48S6
9995B99899

69525B7446
49BS797315
6539998B89
89B768BFB8

9744967579
6599596568
89BS1BB294
38B837B8BF

9973594959
7B46951839
9528B64S86
687BFB87BB

4715695957
3997B46293
4968BB7S99
86BBFB8858

9639674699
7B4585989B
1899B3B428
75687BFBS5

76B6469796
99B2959594
B578938B51
73884SBFB8

4652697B96
199S49B57B
B5383574B7
FB69898988

99627B675F
67B99B8379
398S455915
8B48BB6849

5639757B75
1986986992
984B63498S
95BFB4B87B

4798752975
193364S69B
8495B99B68
58F6B89B7B

57B7579365
2996896891
S89436B489
B78B4BFB59

7945986989
9699351657
528S974836
8B4BBFBB7B

7951672676
358945S359
B94894989B
B67B9F8B8B

9416952569
653974S39B
B896584B87
FB7879B89B

9593969847
5926595369
467B7S8497
18BFB8BB8B

9632541396
86B99S6B84
7B74557B98
8B5F998B79

9969674974
549S358692
89B871BB95
587B6BFB38

9968574899
949193S293
86B7654B8B
57B85BFB67

569S467B96
929899959B
B7435138B7
FB56B84878

9729951469
64S36379B8
988B49577B
95BFB56B88

B9969919B9
8B2S57487B
854399345B
76868576BF

4952593589
96S897914B
7356948986
B87FB6BB7B

6692674196
499S399793
858B45559B
B7B87B88BF

9469964S49
7996539329
5858186858
BB7BB7F7BB

951395S3B9
9789629976
B498B4684B
FB567B8587

598S56B679
13952B57B7
B94993997B
FB48686488

5947997B95
1592563B79
493S49B7B8
886F66B8B8

972S469B79
6B73159467
B59884B563
98589BFB98

B653592469
741465S359
7B6899899B
BFB78B9887

79949985B7
561569237B
B43B4BS586
FB87998698

754975B367
592S639194
B858B88498
F6BB79B699

6915668999
458843S259
B3B5B7B946
7BFB797988

7583573875
662851SB49
44999996B6
BBB79B8F89

9521779357
B6S349459B
B4869B6F67
989858B98B

964295356B
953S564147
B9989986B7
7889B87BFB

7963761B79
95299963B9
54BS54587B
8BFB486988

9684699546
742S953199
9957B7B358
68BFB8B87B

8694975979
B491669257
793S3B85B9
5B8F48B86B

6792741357
994S9696B9
B3B599B456
57888BFB88

968365S857
9249991763
8B599B7589
B7B4BFB684

B742561476
9583S34699
B96B87F5B9
9898B57B89

653966457B
198992S5B7
4B485983B7
BFB6899978

9499674974
596S358392
59B871BB95
887B6BFB68

595B968569
2989593S46
679747B813
BB897BFB84

6583573875
671852SB76
44B49996B9
8BFB999B89

678B46S596
3596923749
9978954B97
8BBF18B85B

4966962599
8538549945
976B8BSB18
89B7B7B7F3

8521364368
59S8999994
B5B4989586
7B7FB6B7B7

978369756B
3549982897
B15476S4BB
FB85B99968

9631555569
967B7BB249
96BF379SB8
948B898478

6785741FB6
95B9393424
95B9B96S88
87B7B98659

964975S356
7591629674
B37499BB99
88BF58B88B

6495959969
563B7B9849
31SB87B692
8F48B7B785

6913596465
4939982597
B4S8BB8895
FB9877B76B

9649764579
791899S296
95B3538B54
86BF8BB78B

5964691597
9695258369
8894S38894
B7BFB7BB7B

7BB8649897
477B52SB45
8998363F1B
6859B95996

49237B6776
158S7B83B5
9999956B48
995848BFB6

6759693595
4616959S42
B834BB8997
FBB877B898

6959953697
4592499S45
783687816B
B89BB8FBB7

5486B5B6B6
9128479487
399365SB7B
95F9B98798

B942594795
3569S69993
71B964B856
F88B87BB87

679B748946
4535995B28
69B6B13S95
887B79FB89

7629941357
5B8S5988B9
B76493B546
79689BFB98

9982764876
6549596959
BS31579B7B
83BBFB4898

9534752795
699691S849
7B5489839B
B86BFB7B68

6958998497
996395136B
4655SB7898
B8B7BFB274

6723671B67
385494845B
89SB999B67
595FB8989B

5768579959
9414942S36
B6B9B6B799
FB837B8858

96B7937659
2599B94891
SB958436B7
8748568BFB

769167B697
92S5347BB6
B954483989
FB95888B95

64B4976154
8B3592S693
B67995B598
79788BFB98

764B79B859
9B98B58294
B863S35591
76867BF499

9932595149
866S969376
7B45B9B485
8BF7B7B898

## 2. Improvements

We make the following improvements:

- First, we include all Gravon games, both in the .gsn and .xml formats. This increases the number of setups to over a hundred thousand.
- Second, we also include mirrored setup matches.
- Third, we order game outcomes as Win, Draw, Loss.
- Fourth, we summarize the average percentage score (win = 1.0, draw = 0.5 and loss = 0.0 points).
- Finally, we use the traditional European ranks (spy = '1', marshal = 'X') instead of the American ranks (spy = 'S', marshal = '1').

Note that the table cells in this notebook are not correctly aligned when rendered on GitHub.

In [5]:
from gravon.setup import add_standard
from gravon.stats import league_table, score_pct

In [6]:
classic = (db_setups
    .query('type == "classic"')
    .pipe(add_standard)
)

In [7]:
df = (classic
    .groupby('standard_str')
    .agg(**league_table)
    .astype(dtype={'Wins': int})    
    .sort_values('Games', ascending=False)
    .query('Games >= 10')
)

In [8]:
for i, row in enumerate(df.itertuples()):
    print(diagram(row.Index))
    display(df.iloc[i:(i+1),:].style.hide_index().format(score_pct))
    print()

  +---------------------+
4 | 2 6 8 X 2 2 9 7 4 2 |
3 | 4 B 4 2 5 6 1 8 B 4 |
2 | 3 7 2 7 B 6 3 2 5 B |
1 | 3 2 5 B F B 5 3 6 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 4 7 X 2 7 9 8 2 5 |
3 | 4 B 6 2 2 5 1 B B 2 |
2 | 2 6 8 6 2 4 3 5 4 B |
1 | 3 5 3 F 7 3 6 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 3 5 4 7 2 4 B 2 4 2 |
3 | 2 X 8 9 B 2 5 2 2 B |
2 | 7 3 8 1 6 5 3 B 3 4 |
1 | F 7 6 6 6 B 5 3 2 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 X 2 2 5 7 2 2 6 |
3 | 6 8 3 4 6 9 1 8 4 2 |
2 | 4 7 5 3 3 7 3 B 2 6 |
1 | B B 3 B F B 5 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 B 1 7 6 6 5 4 2 |
3 | 6 2 5 3 X 9 4 B 2 6 |
2 | 3 5 8 3 B 3 8 B 4 3 |
1 | 2 2 7 B F B 7 5 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 6 3 6 2 9 5 6 2 |
3 | 4 5 B 7 2 5 1 3 8 2 |
2 | 7 3 B 6 B 8 2 X 2 2 |
1 | 5 B 4 B F B 3 4 3 7 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 7 3 2 2 6 B 2 2 |
3 | 5 6 9 5 6 7 1 8 6 4 |
2 | B 4 8 2 B 3 5 X 4 5 |
1 | F B 3 B 4 2 3 B 7 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 3 8 6 2 9 7 5 2 |
3 | 6 7 X 7 5 6 1 8 6 2 |
2 | B B 5 2 2 B 2 2 B B |
1 | 4 F B 3 3 4 2 3 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 7 X 2 6 8 2 5 2 |
3 | 4 6 8 2 5 7 1 9 6 2 |
2 | B 4 3 6 2 3 3 7 2 5 |
1 | F B 4 B B B 4 B 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 5 7 2 2 6 4 B 2 |
3 | 8 X 7 1 5 9 8 6 B 5 |
2 | 2 3 2 B 3 2 5 7 4 2 |
1 | 6 4 B F B 3 3 4 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 X 2 2 4 7 5 2 4 |
3 | 4 7 3 9 6 2 5 3 2 2 |
2 | B 6 8 1 3 8 3 B 7 6 |
1 | F B B 3 6 B 5 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 6 8 2 2 6 2 7 5 2 |
3 | X 5 5 3 2 9 1 8 B 2 |
2 | 7 2 3 4 B 5 4 B 6 4 |
1 | 3 2 3 B F B 6 4 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 5 7 5 2 6 5 2 4 |
3 | 8 X 2 1 2 9 2 8 B 6 |
2 | 2 3 7 B 5 3 3 7 4 2 |
1 | 6 4 B B F B 3 4 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 8 B 4 5 8 2 2 5 |
3 | 5 2 2 3 7 2 6 9 6 3 |
2 | B 3 4 7 2 X 1 5 4 2 |
1 | 4 B B F 6 3 7 B B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 8 5 X 6 2 B 4 2 2 4 |
3 | F 3 3 9 5 B 3 6 2 6 |
2 | 1 8 6 7 B 4 B 2 2 3 |
1 | 7 3 7 B 4 B 5 2 2 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 2 7 2 5 4 6 2 5 |
3 | 6 8 2 X 6 8 2 9 2 7 |
2 | 2 2 3 4 5 3 3 1 3 6 |
1 | B 3 B B F 4 B B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 5 9 4 5 X 6 2 4 |
3 | 2 6 8 1 6 7 2 3 6 8 |
2 | B 2 3 2 7 2 3 7 2 B |
1 | B 3 B 3 F 2 B 4 5 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 3 9 5 4 2 2 2 4 |
3 | X 6 4 1 8 B 2 2 6 2 |
2 | B 3 7 8 7 5 3 2 2 B |
1 | F B B 6 3 6 B 5 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 3 B 2 4 B 7 5 4 |
3 | 6 2 X 3 6 B 3 2 B 2 |
2 | 9 2 6 7 8 1 8 5 3 B |
1 | 2 2 7 F B 4 5 3 5 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 3 2 4 6 9 8 5 B |
3 | 7 2 8 5 B 2 3 6 4 B |
2 | X 6 2 3 B 6 1 5 2 4 |
1 | 3 2 7 B F B 7 3 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 X 9 6 5 2 6 4 5 |
3 | 7 2 7 1 5 3 2 6 2 4 |
2 | B 2 8 B 8 7 B B 3 B |
1 | F B 3 3 2 2 3 4 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 9 1 6 7 4 7 5 2 |
3 | 5 4 2 2 8 X 3 2 6 2 |
2 | 8 2 7 B 3 3 B 4 B 5 |
1 | 6 3 B F B 6 4 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 4 X 6 4 5 2 2 5 |
3 | 4 6 8 1 9 7 8 6 2 7 |
2 | 2 7 3 B B 3 3 2 B 2 |
1 | 3 2 B B F B 6 5 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 B 4 2 8 1 B 4 2 |
3 | 5 B 5 7 2 X 2 4 B 6 |
2 | B 5 9 6 3 2 8 3 7 B |
1 | 4 3 7 F 2 3 6 2 3 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 2 4 B 5 6 7 4 5 |
3 | 2 2 8 3 9 2 2 6 6 2 |
2 | 2 X 7 8 1 B 4 B 5 3 |
1 | B 3 7 F 4 3 2 3 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 2 6 4 5 6 2 4 2 |
3 | 6 5 4 1 8 6 2 3 7 2 |
2 | 3 B 9 3 B B 8 X B 3 |
1 | 2 5 7 B F B 7 3 5 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 B 1 7 6 6 5 4 2 |
3 | 6 2 5 3 X 9 4 B 2 6 |
2 | 3 5 3 8 B 3 8 B 4 3 |
1 | 2 2 7 B F B 7 5 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 2 8 6 2 7 9 5 2 |
3 | 5 6 7 1 8 5 2 B 3 6 |
2 | 3 B B 7 X 4 3 B 4 2 |
1 | 6 B F B 3 2 4 3 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 2 6 4 5 9 3 5 B |
3 | 4 2 8 3 B 2 6 8 2 B |
2 | 7 3 2 5 B 4 3 2 6 4 |
1 | X 6 7 B F B 7 1 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 X 3 2 6 5 5 6 2 |
3 | 2 8 7 7 9 2 1 B 4 2 |
2 | 2 2 5 B 5 8 7 4 B 6 |
1 | 3 3 B F B 3 4 B 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 1 6 7 2 5 6 4 2 |
3 | B 8 X 9 2 2 2 8 2 7 |
2 | F B 3 6 2 7 4 3 5 2 |
1 | B 3 5 3 4 B B B 3 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 X 5 6 4 3 9 6 4 |
3 | 8 2 2 2 2 7 4 1 B 6 |
2 | 2 3 7 B 7 2 8 B 5 2 |
1 | 3 5 B F B 5 2 3 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 X 2 2 5 7 2 2 6 |
3 | 6 8 3 4 6 9 3 6 4 8 |
2 | 4 7 5 3 3 7 1 B 2 2 |
1 | B B 3 B F B 5 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 4 6 B 2 8 5 2 2 |
3 | 6 5 X 3 4 5 1 9 5 B |
2 | B 8 6 7 6 7 4 B 2 4 |
1 | F 7 3 3 2 2 3 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 X 3 B 2 2 2 4 B B |
3 | 7 2 3 7 9 B B B 4 4 |
2 | 4 6 8 5 1 3 6 8 2 5 |
1 | F 7 5 3 2 6 2 6 3 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 5 6 X 4 5 2 7 B 4 |
3 | 2 3 8 2 6 2 9 2 3 B |
2 | 3 6 B 7 2 5 1 7 2 5 |
1 | 4 B F B 6 8 3 4 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 2 8 6 2 7 9 5 2 |
3 | 5 6 7 1 8 5 2 B 3 6 |
2 | 3 B B 7 X 4 3 4 B 2 |
1 | 6 B F B 3 2 4 2 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 1 7 X 6 5 8 B 5 |
3 | 4 9 2 2 2 2 7 B 3 6 |
2 | 2 2 8 B 2 2 3 6 B B |
1 | 3 4 B F 6 3 3 4 5 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 7 9 7 2 5 B 5 4 |
3 | B 2 6 2 X 6 B 1 7 2 |
2 | 3 4 8 6 3 2 3 8 2 4 |
1 | 2 B 3 F B 6 5 2 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 8 6 2 5 B 3 B 5 |
3 | X 2 1 2 9 2 7 B 4 2 |
2 | 3 2 6 3 8 B 5 2 2 7 |
1 | 3 6 F 4 B 4 B 4 6 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 X 7 5 5 B B 6 5 |
3 | 8 7 9 1 8 2 6 2 2 4 |
2 | B 2 2 3 7 2 B B 3 6 |
1 | F B 3 6 3 2 4 3 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 X 3 6 2 5 6 2 2 |
3 | 2 8 7 7 2 9 1 B 4 5 |
2 | 4 6 5 B 5 8 7 4 B 4 |
1 | 3 3 B F B 3 2 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 2 9 2 7 X 4 2 B |
3 | 5 6 8 1 8 2 2 B 5 3 |
2 | B B 6 7 2 2 7 6 B B |
1 | 3 3 4 F 6 5 4 3 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 1 5 6 2 5 4 B 5 |
3 | 3 9 8 2 X 8 2 2 4 B |
2 | 2 7 3 B 7 3 7 B 3 4 |
1 | 6 2 B F B 6 3 4 5 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 6 3 5 2 6 1 B 4 2 |
3 | X 5 8 2 6 9 8 5 B 4 |
2 | 7 3 2 2 5 7 3 7 2 2 |
1 | F 4 2 B 4 B 3 B 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 7 9 1 6 5 7 X 5 7 |
3 | B 2 B 3 2 5 8 2 6 5 |
2 | 3 2 B 3 B 2 6 3 8 2 |
1 | 4 2 4 B F B 4 6 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 2 X 6 4 5 2 4 5 |
3 | 5 6 8 1 9 7 2 5 6 2 |
2 | 4 7 3 B 6 3 8 7 B 2 |
1 | 2 3 B B F B B 3 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 6 4 2 4 6 2 4 2 |
3 | 5 7 3 2 6 8 1 3 2 6 |
2 | 3 B X 8 B B 5 9 B 3 |
1 | 2 5 7 B F B 7 3 5 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 7 X 9 6 2 7 B 4 5 |
3 | 8 2 2 1 8 2 4 B 7 2 |
2 | B 5 2 3 2 6 3 6 B 5 |
1 | F B 5 3 2 3 4 B 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 X 2 2 4 7 2 2 6 |
3 | 4 8 3 9 6 2 B 3 4 2 |
2 | B 7 6 1 8 7 B 6 B 5 |
1 | F B 5 3 3 3 5 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 5 7 8 5 B 4 2 4 5 |
3 | 6 3 2 X 2 2 7 8 2 9 |
2 | B 2 7 B 2 6 2 6 3 1 |
1 | 4 3 B F B 3 3 6 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 7 2 2 5 7 6 4 2 |
3 | 4 2 X 3 4 2 1 9 2 5 |
2 | 2 6 B 8 6 8 3 B 6 7 |
1 | 3 5 B F 3 B B 4 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 8 2 5 6 2 7 5 4 |
3 | 2 5 2 3 6 9 3 2 5 6 |
2 | 7 X 2 B 8 1 7 B B 2 |
1 | 3 3 B F B 3 2 4 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 X 2 2 5 7 2 2 6 |
3 | 4 8 3 5 6 9 1 8 4 2 |
2 | 4 7 6 3 3 7 3 B 2 6 |
1 | B B 3 B F B 5 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 3 3 5 2 B 4 2 4 |
3 | 8 2 X 9 8 5 B 4 2 5 |
2 | B 2 2 7 7 1 6 B 4 3 |
1 | F B 7 6 6 3 6 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 6 2 2 5 6 3 5 2 |
3 | B 7 9 1 7 2 2 X 7 4 |
2 | B 5 B 4 8 3 8 6 2 3 |
1 | F B 4 B 3 6 3 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 X 2 2 5 7 2 2 6 |
3 | 6 8 3 4 6 9 3 6 4 8 |
2 | B 7 5 3 3 7 1 B 2 2 |
1 | F B 3 B B 4 5 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 9 4 2 2 2 2 2 2 |
3 | 5 8 1 8 6 B 5 4 5 6 |
2 | 5 3 B X 7 6 B 3 2 4 |
1 | 3 B F B 7 7 6 B 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 7 6 8 6 2 6 2 7 4 |
3 | X 2 2 2 2 2 8 1 2 9 |
2 | 3 B 5 B 7 3 B 6 5 B |
1 | 5 3 F 4 3 B 5 3 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 3 5 3 6 X B 4 2 3 |
3 | B 6 9 B 2 2 8 5 2 6 |
2 | 6 5 1 7 2 2 8 7 3 2 |
1 | B 7 B F 2 4 B 4 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 2 X 2 2 9 3 2 B |
3 | 4 5 8 5 6 2 1 8 5 4 |
2 | B 3 7 4 7 2 B 7 2 B |
1 | F B 6 3 6 3 5 6 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 8 B 4 5 8 3 2 5 |
3 | 5 2 2 3 7 2 6 9 6 2 |
2 | B 3 4 7 2 X 1 5 4 2 |
1 | 4 B B F 6 3 7 B B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 7 6 2 4 B 7 2 4 |
3 | 7 8 1 6 2 6 2 9 2 6 |
2 | X 3 B B 5 8 3 2 3 2 |
1 | 3 5 4 F B 4 B 5 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 7 3 6 5 7 3 2 6 |
3 | 7 2 2 5 3 2 4 4 6 2 |
2 | B 9 3 X 8 2 1 8 B 5 |
1 | F B 4 B 2 3 B 6 5 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 8 B 4 2 8 3 2 5 |
3 | 5 2 2 3 7 5 6 9 6 2 |
2 | B 3 4 7 2 X 1 5 4 2 |
1 | 4 B B F 6 3 7 B B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 7 X 7 5 3 7 5 2 |
3 | 2 6 8 3 2 B 6 9 2 6 |
2 | 4 2 3 4 B 4 B 1 8 2 |
1 | 2 3 6 B F B 4 B 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 X 2 2 5 7 6 2 6 |
3 | 6 8 3 6 4 9 3 2 3 2 |
2 | 4 7 5 4 3 7 1 B 2 8 |
1 | B B 3 B F B 5 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 3 8 2 5 7 6 2 5 |
3 | 5 7 2 X 6 2 3 2 2 7 |
2 | 6 9 1 8 B 3 6 3 B 4 |
1 | 3 B F 4 B 4 B 2 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 6 3 1 6 2 6 B 5 2 |
3 | X 2 5 5 9 2 2 4 B 4 |
2 | 7 8 3 7 8 B 2 7 5 2 |
1 | F 3 3 4 2 B 3 B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 5 5 6 6 B 7 6 4 3 |
3 | 4 B B 8 5 X 3 1 9 8 |
2 | B 4 3 2 2 2 2 2 2 2 |
1 | F B 3 6 2 7 7 3 4 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 2 2 5 4 7 8 5 6 |
3 | 9 7 3 5 6 B B 6 3 X |
2 | 1 3 8 B 2 5 4 2 7 2 |
1 | 2 2 B F B 3 3 4 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 6 3 1 6 2 6 B 5 2 |
3 | X 2 5 5 9 2 2 4 B 4 |
2 | 8 7 3 7 8 B 2 7 5 2 |
1 | F 3 3 4 2 B 3 B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 8 X 5 4 2 8 4 2 |
3 | 6 4 2 2 7 6 9 B 6 2 |
2 | B 6 3 7 2 2 1 4 B 3 |
1 | F B 7 3 3 5 B 3 5 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 6 6 5 2 6 2 2 6 |
3 | 2 8 2 2 9 2 7 X 2 8 |
2 | 3 3 5 3 B 7 1 7 3 3 |
1 | B B B F 4 B B 4 5 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 4 X 6 4 5 2 2 2 |
3 | 5 8 6 1 9 7 2 5 6 2 |
2 | 7 5 3 B 6 3 8 7 B 4 |
1 | 2 3 B B F B B 3 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 9 1 6 2 7 5 2 4 |
3 | 2 6 2 8 X 5 B 4 B 2 |
2 | 5 7 6 7 3 8 3 B 4 2 |
1 | 3 3 F 6 3 B 5 B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 3 2 5 4 6 9 5 2 |
3 | 5 2 5 8 X 2 3 2 6 3 |
2 | 4 2 6 7 2 7 7 1 8 4 |
1 | B 3 B F 6 B B B B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 9 X 7 2 4 B 6 4 |
3 | 2 7 1 3 2 6 8 B 2 7 |
2 | 2 2 8 B 5 3 2 B 4 3 |
1 | 3 3 B F B 4 5 6 2 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 7 2 2 5 2 2 2 5 |
3 | 8 3 X 6 5 7 6 9 7 2 |
2 | B 6 2 3 B 3 8 3 1 B |
1 | F B 4 B 4 2 B 5 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 2 2 7 5 8 2 2 2 |
3 | 5 B 6 7 8 X 2 7 B 5 |
2 | 2 3 6 6 B 9 1 6 4 B |
1 | 4 5 3 B F B 4 3 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 1 4 7 2 5 4 5 2 |
3 | B 8 X 2 4 2 8 9 2 7 |
2 | F B 3 7 2 2 6 3 2 5 |
1 | B 3 6 3 B 6 B B 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 8 6 4 5 2 8 5 2 |
3 | X 6 3 7 2 9 1 2 6 4 |
2 | 3 2 7 3 B 3 7 B 2 B |
1 | 5 2 6 B F B 4 B 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 X 7 5 6 4 7 5 4 |
3 | 9 2 3 2 4 8 2 2 2 6 |
2 | 3 2 1 3 B 3 4 B 2 3 |
1 | 8 7 5 B F B 6 B 2 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 7 3 3 B B 4 5 B 4 |
3 | 9 X 3 8 4 5 2 4 B 6 |
2 | 3 3 B 1 8 2 2 6 2 5 |
1 | 6 6 F B 7 5 2 2 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 1 4 6 6 5 3 5 5 |
3 | 2 9 4 6 X 8 2 8 2 6 |
2 | 2 3 B 3 2 B 3 B B 2 |
1 | 7 B F 7 2 3 4 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 9 4 2 2 2 X 2 2 |
3 | 3 8 1 8 B B 5 4 4 4 |
2 | 5 6 B 7 7 7 B 5 2 3 |
1 | 5 B F 3 6 6 6 B 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 3 5 X 2 5 6 B 4 2 3 |
3 | B 3 8 8 2 9 6 B 4 B |
2 | 5 6 7 7 2 1 7 5 B 4 |
1 | 3 3 6 F 2 2 2 2 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 3 2 B 4 5 9 5 5 |
3 | 2 2 X 3 8 7 2 3 6 2 |
2 | B 8 7 4 1 B 3 B B 7 |
1 | 2 6 F 6 2 3 4 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 8 5 X 6 2 B 4 2 2 4 |
3 | F 3 3 9 5 B 3 6 2 6 |
2 | 1 8 6 7 B 4 B 2 2 2 |
1 | 7 3 7 3 5 B 4 B 2 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 8 5 7 2 3 2 5 2 |
3 | 7 6 2 B B 5 6 9 2 7 |
2 | 2 X 3 4 1 8 B B 6 B |
1 | 3 6 F B 4 2 3 5 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 7 X 4 5 8 6 4 5 |
3 | 9 6 4 2 7 2 2 8 6 2 |
2 | B 1 7 3 2 B 6 2 5 3 |
1 | F B 3 B 3 B 3 B 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 1 4 6 6 2 3 5 5 |
3 | 5 9 3 2 X 8 2 7 6 2 |
2 | 2 2 8 B 2 5 4 B B 2 |
1 | 7 3 B F B 7 3 4 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 3 4 2 4 6 3 2 4 |
3 | 5 7 2 5 6 8 1 2 6 2 |
2 | 3 B X 8 B B 6 9 B 3 |
1 | 2 5 7 B F B 7 3 5 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 7 X 9 6 2 B 4 4 B |
3 | 2 2 8 1 7 2 5 B B 4 |
2 | 6 3 6 8 3 6 3 5 B 4 |
1 | 3 2 F 7 2 5 3 2 5 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 2 6 2 6 2 2 5 2 |
3 | 6 5 8 B 4 B 2 3 7 2 |
2 | 8 X 1 B 3 4 B 5 2 6 |
1 | 3 F 7 3 B 4 B 4 3 9 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 2 9 2 2 X 5 6 4 |
3 | 6 B 7 4 3 7 B 8 B 2 |
2 | B 5 6 8 3 2 7 1 5 B |
1 | 3 F B 2 2 5 3 6 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 7 4 2 7 8 6 5 2 |
3 | 2 9 2 4 2 X 5 4 B 2 |
2 | B 1 3 8 6 2 B 6 4 3 |
1 | 3 6 B F B 7 3 3 5 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 4 8 6 2 7 B 5 4 |
3 | 7 6 X 1 9 2 5 B 2 7 |
2 | B 8 3 6 2 2 B 6 3 2 |
1 | F B 5 3 3 3 4 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 5 X 4 2 2 5 2 6 |
3 | 5 2 8 6 7 6 9 3 2 4 |
2 | 4 3 3 7 2 1 8 3 7 4 |
1 | B 3 B F B B B 2 5 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 5 6 X 5 2 6 8 B 4 |
3 | 2 4 8 7 3 7 2 1 9 2 |
2 | B 4 6 5 B 2 7 5 4 B |
1 | F B 2 3 6 3 2 3 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 6 2 7 5 6 4 B 5 |
3 | 9 2 8 3 5 X 8 B B 7 |
2 | 3 2 1 7 B 3 6 2 4 2 |
1 | 2 2 3 F 4 B 4 B 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 2 5 2 2 3 2 5 2 |
3 | 4 7 3 2 6 5 2 4 7 4 |
2 | B 9 1 8 B 7 B 3 X 8 |
1 | F B 6 3 6 3 4 6 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 8 6 4 6 9 3 2 2 |
3 | 5 6 X 2 B 1 2 8 4 7 |
2 | 7 B 5 3 5 2 3 2 2 B |
1 | B 4 F 7 B 3 6 B 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 2 7 5 6 9 8 6 7 |
3 | 6 B 5 3 2 2 3 1 2 4 |
2 | 5 4 3 8 B 3 2 7 2 X |
1 | 4 B 6 B F B 5 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 7 4 5 2 2 B 6 2 |
3 | 6 2 5 X 8 6 3 7 2 9 |
2 | B 3 8 3 1 4 7 4 2 3 |
1 | B 5 B F B B 5 3 2 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 6 1 7 2 5 8 6 2 |
3 | B 9 2 8 X 6 2 3 2 4 |
2 | 5 6 5 B 5 2 7 B 3 7 |
1 | 2 3 B F B 3 4 3 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 5 7 5 2 6 5 2 4 |
3 | 8 2 X 1 2 9 2 8 B 6 |
2 | 2 3 7 B 5 3 3 7 4 2 |
1 | 6 4 B B F B 3 4 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 3 9 5 6 3 7 2 4 |
3 | 2 5 B 1 2 X 8 2 2 6 |
2 | 5 3 4 7 8 5 7 B 6 B |
1 | B 3 2 B F 2 B 4 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 6 2 8 5 X 6 4 5 |
3 | 7 9 3 2 2 6 2 2 3 8 |
2 | F 2 7 B 3 2 7 6 B 1 |
1 | 4 5 B 3 2 B B 3 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 6 X 1 7 5 2 6 5 4 |
3 | 9 2 3 8 5 B B B 2 6 |
2 | 3 2 8 7 2 5 4 3 B 4 |
1 | F 2 3 2 6 3 2 B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 4 9 3 4 7 3 B 2 B |
3 | 5 6 1 8 2 3 6 6 B 3 |
2 | 2 B 2 7 5 2 X 8 5 B |
1 | 2 4 F 5 7 2 3 6 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 9 6 5 4 6 7 3 2 |
3 | 8 5 1 X 7 2 B 3 2 6 |
2 | 2 2 B 6 8 2 B 4 3 2 |
1 | 3 B 4 F 5 3 4 B B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 8 2 5 6 5 7 5 2 |
3 | 6 5 3 2 4 9 2 B 6 4 |
2 | 7 X 7 B 8 1 2 4 B 2 |
1 | 3 3 B F B 3 4 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 8 B B 7 2 2 5 7 |
3 | 9 X 8 B 4 B 5 1 2 3 |
2 | 5 6 6 3 B 4 3 6 2 6 |
1 | F 3 3 2 4 B 2 2 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 2 3 2 8 5 7 4 5 |
3 | 4 2 8 7 X 6 1 9 6 3 |
2 | B 3 4 7 2 2 6 3 5 B |
1 | B 2 B F 6 B 3 2 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 7 3 6 5 4 3 5 7 2 |
3 | 5 X 2 2 2 2 9 4 B 6 |
2 | B 8 3 2 8 2 2 3 5 3 |
1 | F B 6 B 1 7 B 4 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 7 5 B 2 X 6 4 2 |
3 | 5 4 9 1 7 4 5 2 B 4 |
2 | B 6 3 8 2 3 2 3 8 B |
1 | F B 5 2 3 6 3 7 2 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 3 7 2 6 8 2 7 2 |
3 | 5 6 5 9 2 2 2 4 2 6 |
2 | 8 1 4 6 5 X B 7 B 4 |
1 | 3 B B F 3 B 3 4 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 B 6 4 2 7 B 5 7 |
3 | 6 2 7 2 8 6 2 4 2 9 |
2 | 8 3 5 B 1 X 2 3 6 B |
1 | 3 4 B F B 5 3 2 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 8 4 2 5 6 8 5 2 |
3 | 4 3 1 9 6 X 5 6 3 B |
2 | B 4 7 3 2 2 7 7 B 4 |
1 | F B 2 2 3 B B 6 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 3 8 6 4 8 3 4 6 |
3 | 5 5 X 3 6 9 1 B 4 5 |
2 | 7 7 B 7 2 2 2 5 B 2 |
1 | 3 B F B 2 2 2 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 5 9 5 2 B 3 B 4 |
3 | 8 X 3 1 7 4 6 B 4 6 |
2 | 2 2 6 8 3 2 3 B 3 2 |
1 | 2 7 F 7 B 5 B 4 5 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 X 8 6 3 6 2 5 6 |
3 | 9 2 6 1 4 4 B B 4 5 |
2 | 8 2 7 7 B 5 B B 2 2 |
1 | 3 2 3 F B 2 3 2 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 7 X 5 4 6 B 2 5 |
3 | 2 2 9 3 7 2 2 7 4 6 |
2 | 2 8 1 6 B 2 8 B 2 B |
1 | 3 6 3 B F B 3 5 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 B 9 6 5 X 7 4 2 |
3 | B 7 2 1 2 7 3 8 2 6 |
2 | 4 3 8 5 2 6 6 B 3 3 |
1 | 2 B 5 F 4 B 2 4 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 6 9 3 2 4 2 B 5 4 |
3 | 8 1 7 X 2 6 8 B 4 2 |
2 | B 6 3 7 2 5 7 5 B 2 |
1 | F B 5 3 2 3 2 3 6 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 X 7 B 4 5 3 2 5 2 |
3 | 6 7 3 B 6 2 B 8 4 6 |
2 | F 5 8 1 9 2 B B 2 2 |
1 | 5 6 3 2 7 3 4 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 3 5 7 2 3 2 7 2 |
3 | 2 4 6 5 9 6 2 X 4 4 |
2 | 3 2 2 6 1 5 8 3 6 3 |
1 | B B 4 B F 8 B B 2 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 2 X 6 5 8 2 2 4 |
3 | 7 3 6 2 5 7 B 7 5 6 |
2 | 4 2 9 B 4 2 2 B B 2 |
1 | 1 3 B F B 3 8 3 6 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 5 3 6 7 4 B 6 5 4 |
3 | 2 6 9 1 2 2 5 2 2 8 |
2 | 3 3 7 2 X 8 7 B 3 B |
1 | 2 4 B F 4 B B 5 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 1 6 3 4 B 6 2 2 |
3 | 5 7 X 8 B 5 B 3 5 2 |
2 | 6 8 6 2 3 B 5 3 2 9 |
1 | 2 7 F B 7 3 B 4 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 2 8 5 4 6 2 5 2 |
3 | 3 2 7 X 2 6 B 9 7 2 |
2 | 7 4 5 B 2 1 8 6 3 B |
1 | B 3 B F 4 3 5 B 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 2 5 2 2 7 4 5 2 |
3 | 6 8 X 8 3 7 B 4 6 B |
2 | 2 2 6 F 5 9 6 B 7 4 |
1 | 3 3 2 B 3 1 3 B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 7 B 2 2 6 3 5 4 2 |
3 | 6 9 4 3 7 X 8 2 6 2 |
2 | 8 1 7 4 2 6 B 2 5 3 |
1 | B 5 B F B 3 3 B 2 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 3 2 B 4 5 9 5 5 |
3 | 4 2 X 3 8 7 2 3 6 2 |
2 | 2 8 B 7 1 B 3 B B 7 |
1 | 2 6 F 6 2 3 4 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 3 B 2 4 B 6 2 2 |
3 | 6 7 X 3 6 B 3 2 B 5 |
2 | 9 2 6 7 8 1 8 5 3 B |
1 | 2 2 7 F B 4 5 3 5 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 8 6 4 6 9 7 2 4 |
3 | 2 5 2 2 7 5 2 2 6 3 |
2 | 7 3 5 B X 1 8 B 2 B |
1 | 3 5 B F B 3 4 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 X 2 2 4 7 5 2 2 |
3 | 4 8 3 9 6 2 8 3 4 2 |
2 | B 7 6 1 3 B 3 7 B 6 |
1 | F B 5 3 6 B 5 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B B 4 8 6 5 8 9 5 6 |
3 | 4 B B F X 2 1 7 2 3 |
2 | B 4 B 6 7 3 7 5 3 6 |
1 | 4 2 2 3 2 2 5 3 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 7 3 4 5 7 2 4 5 |
3 | 2 6 2 3 2 6 9 B 2 6 |
2 | 8 X B 1 8 7 B 4 B 5 |
1 | 2 3 6 F B 3 3 4 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 3 2 2 5 2 2 2 5 |
3 | 6 5 9 6 2 7 X 6 2 7 |
2 | F 7 1 8 3 6 4 8 3 B |
1 | 4 3 5 B 3 B B B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 2 1 8 2 7 2 B 2 6 |
3 | 9 5 6 2 5 X 6 7 5 2 |
2 | 3 4 3 B 4 5 8 2 B 3 |
1 | 2 6 B F B 3 4 3 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 5 8 X 6 6 9 7 5 4 |
3 | 7 2 2 3 4 4 3 2 2 6 |
2 | 2 B 4 B 7 B 1 8 2 2 |
1 | 3 B 5 F 5 B 3 2 6 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 5 6 2 6 3 6 7 2 |
3 | 5 2 8 X 4 2 8 9 2 2 |
2 | B 3 7 3 5 3 7 1 B 3 |
1 | 4 5 B B F 4 B 4 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 7 4 2 6 3 B 4 5 |
3 | B 5 2 X 7 2 9 6 2 B |
2 | 3 2 8 F 6 6 7 1 3 5 |
1 | 2 B 4 B 3 B 3 5 8 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 X 2 2 5 7 2 2 6 |
3 | 4 8 3 8 6 9 1 2 4 2 |
2 | 4 7 6 3 3 7 3 B 6 5 |
1 | B B 3 B F B 5 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 5 9 3 5 X 5 2 2 |
3 | 2 B 7 1 6 8 4 7 B 3 |
2 | B 3 6 8 2 2 7 B 4 B |
1 | 4 3 B F 2 2 6 6 3 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 2 7 5 2 3 5 2 4 |
3 | 2 6 8 X 2 6 9 7 2 6 |
2 | 4 3 7 B 6 8 1 4 3 2 |
1 | 3 5 B F B 5 B B B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 6 2 2 6 4 B 7 2 |
3 | B 2 3 9 3 2 6 2 5 4 |
2 | 4 7 B 5 8 B 1 X 3 6 |
1 | 5 B F B 4 3 3 7 2 8 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 8 2 5 8 5 7 4 5 |
3 | 3 6 B 1 2 2 X 3 2 9 |
2 | 2 B 4 7 B 6 7 6 2 2 |
1 | 4 B 3 B F B 3 3 6 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 X 4 5 4 9 6 2 5 |
3 | 2 2 8 3 7 2 3 8 2 2 |
2 | 7 3 4 B 2 1 B 5 2 7 |
1 | 3 6 B F B B 4 B 6 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 3 6 1 3 B B B 7 5 4 |
3 | X 9 8 3 B 4 B 5 4 6 |
2 | 7 2 2 6 8 B 6 4 2 3 |
1 | F 7 2 2 2 3 2 2 5 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 9 1 7 4 5 2 2 2 |
3 | 5 4 6 8 X 6 3 6 6 4 |
2 | 7 3 2 B 5 8 2 B 3 7 |
1 | 3 2 B F B 3 B 4 B 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 2 3 6 5 2 8 2 B |
3 | 7 6 9 5 8 7 X 5 6 4 |
2 | 2 2 6 3 1 B B B 2 7 |
1 | 3 B 3 4 F 4 B 4 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 3 5 6 7 4 B 2 5 4 |
3 | 2 8 5 1 5 3 8 6 2 7 |
2 | 6 2 X 2 B 2 6 B 9 3 |
1 | 3 3 4 B F B B 4 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 5 7 2 5 3 6 4 2 |
3 | 6 8 6 X 6 8 2 9 7 5 |
2 | B 7 B 3 5 4 B 1 3 B |
1 | 3 2 4 B F B 4 2 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 2 2 5 2 2 2 5 7 |
3 | 8 2 6 5 7 6 8 5 2 9 |
2 | X 3 B 3 B 3 1 7 3 B |
1 | B 4 B 4 F 3 2 B 6 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 8 5 5 6 2 7 5 4 |
3 | 2 5 3 2 6 2 9 4 B 2 |
2 | 7 X 7 B 8 2 1 B 2 6 |
1 | 3 3 B F B 3 2 4 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 6 1 2 7 8 6 7 4 |
3 | 7 2 X 2 6 2 3 2 2 9 |
2 | B 8 5 5 B 5 4 B 5 4 |
1 | 3 4 3 B F B 3 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 X 3 2 6 9 2 6 2 |
3 | 4 8 2 8 5 2 1 B 2 7 |
2 | B 5 6 7 2 7 5 B 3 5 |
1 | F B 4 3 B 4 3 4 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 2 X 7 5 2 9 7 5 |
3 | 8 3 6 3 2 2 4 3 1 6 |
2 | B 7 2 2 2 6 B B 2 8 |
1 | F B 6 3 4 3 4 5 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 2 7 5 2 2 X 5 2 |
3 | 8 4 6 3 9 6 4 3 8 6 |
2 | 2 2 3 1 7 2 3 5 7 4 |
1 | B B 5 F 4 B B 3 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 3 5 8 2 5 7 4 3 6 X |
3 | 6 B 1 6 B 2 5 3 7 9 |
2 | 2 4 7 B 4 B 3 2 2 8 |
1 | 2 5 B F B 6 4 2 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 8 1 6 4 2 8 2 7 |
3 | 7 3 X 3 9 7 2 3 6 2 |
2 | 2 6 4 B 5 3 5 6 2 4 |
1 | 2 3 B F B 5 B B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 X 3 6 2 5 2 2 6 |
3 | 2 8 7 7 2 9 1 B 4 5 |
2 | 4 6 5 B 5 8 7 4 B 4 |
1 | 3 3 B F B 3 2 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 1 4 6 6 2 3 5 5 |
3 | 5 9 3 2 X 8 2 7 5 2 |
2 | B 2 8 7 2 B 4 B B 2 |
1 | 2 3 6 F 7 B 3 4 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 8 X 2 2 9 7 4 2 |
3 | 4 B 6 2 5 6 1 8 B 4 |
2 | 3 7 2 7 B 6 3 2 5 B |
1 | 3 2 5 B F B 5 3 6 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 8 2 6 5 6 7 5 4 |
3 | 6 4 B B 1 7 9 X 2 8 |
2 | 2 B 6 4 2 3 B 3 2 3 |
1 | 3 7 B B F 5 2 5 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 2 7 2 5 3 6 2 4 |
3 | 2 7 B B 5 6 B 8 5 2 |
2 | 4 X 8 1 9 2 4 2 3 6 |
1 | 2 6 B 3 F 3 7 3 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 5 2 7 4 2 B 4 2 |
3 | 3 2 9 3 2 5 X 6 B 5 |
2 | B 8 1 8 6 2 3 B 4 3 |
1 | 5 2 B F 7 3 7 6 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 X 6 4 2 2 4 2 4 |
3 | 6 8 3 9 5 2 B 6 2 6 |
2 | B 1 8 7 B 2 7 3 B 3 |
1 | F B 3 7 5 3 B 2 5 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 2 5 7 4 5 2 6 4 2 |
3 | 2 6 X 5 9 7 6 2 B 5 |
2 | 3 2 8 6 8 1 3 4 3 B |
1 | 2 2 3 3 F B B B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 X 2 6 4 2 5 2 5 |
3 | 5 7 1 6 3 2 7 B 2 2 |
2 | 3 4 B 2 9 8 3 6 3 6 |
1 | 8 B F B 4 3 7 B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 7 X 5 4 9 7 B B |
3 | 6 7 3 1 6 5 2 6 5 4 |
2 | B 3 B 8 2 2 8 2 2 3 |
1 | 4 B F B 3 2 3 2 6 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 7 5 6 8 5 2 6 2 |
3 | 8 2 4 1 4 2 3 2 9 2 |
2 | 4 6 4 B X 5 B 7 3 5 |
1 | 2 3 B F B 7 B 3 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 5 2 6 2 5 1 4 B 4 |
3 | 8 7 3 6 4 7 2 3 B 5 |
2 | B X 8 3 2 9 3 5 B 7 |
1 | F B 2 3 2 2 2 4 B 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 7 X 9 5 4 6 B 5 2 |
3 | 2 8 3 1 7 2 8 7 6 2 |
2 | 6 3 3 6 5 2 2 B 3 5 |
1 | 2 B F 4 B B 3 4 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 5 7 3 2 5 7 5 2 8 |
3 | 8 2 9 6 2 6 2 2 7 B |
2 | B 3 1 5 B X 2 6 2 4 |
1 | 4 3 4 B F B 4 B 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 8 7 4 6 9 4 2 6 |
3 | B 2 2 6 2 5 1 3 7 2 |
2 | 4 5 7 X B 2 3 8 3 B |
1 | 3 B 5 B F B 3 5 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 3 2 9 1 6 2 3 B 2 4 |
3 | 2 6 2 8 X 5 B 4 B 5 |
2 | 5 7 6 7 7 8 3 B 4 2 |
1 | 3 2 F 6 2 B 5 B 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 4 X 6 4 5 2 2 2 |
3 | 5 6 8 1 9 7 2 5 6 2 |
2 | 5 7 3 B 6 3 8 7 B 4 |
1 | 2 3 B B F B B 3 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 2 6 5 2 X 9 5 2 |
3 | 2 B B 8 7 2 7 1 8 4 |
2 | 3 4 5 B 3 6 6 7 3 2 |
1 | B 4 B F B 5 2 3 6 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 2 3 2 5 2 7 5 2 |
3 | 7 2 X 8 6 2 3 2 6 B |
2 | 9 6 8 1 3 B 5 3 4 B |
1 | F 7 4 B 4 B 4 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 1 2 2 5 4 X 5 4 |
3 | 7 9 8 6 2 2 2 2 8 7 |
2 | 4 2 6 B 3 3 3 7 2 B |
1 | B 6 B F B 3 3 B 6 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 7 X 5 4 9 7 4 B |
3 | 6 2 3 1 6 5 2 6 5 2 |
2 | B 3 B 8 7 2 8 B 2 3 |
1 | 4 B F B 3 2 3 2 6 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 6 9 5 2 4 B 2 5 |
3 | X 2 2 1 7 2 6 B 4 B |
2 | B 6 8 3 8 4 2 7 6 B |
1 | F B 5 3 3 2 3 2 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 3 5 9 2 5 5 B 6 2 2 |
3 | B 8 1 7 2 X 4 B 5 B |
2 | 6 3 7 7 8 6 2 4 B 4 |
1 | 3 3 2 F 2 2 6 3 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 5 7 8 6 B 5 3 7 6 |
3 | 2 2 X 3 2 2 6 1 9 2 |
2 | 7 8 B 3 2 5 2 B 4 2 |
1 | 4 B F B 3 4 3 4 B 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 2 7 8 6 4 5 3 6 5 |
3 | X 2 2 2 2 6 9 5 2 7 |
2 | 8 2 1 4 6 B B B 5 3 |
1 | F 3 B B 3 B 4 3 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 2 5 B 6 9 8 6 7 |
3 | 6 B 5 3 2 2 7 1 2 3 |
2 | 5 4 3 8 B 3 2 7 4 X |
1 | 4 B 6 B F B 5 3 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 5 8 4 2 5 2 8 5 2 |
3 | 4 B 1 9 6 X 6 6 4 3 |
2 | B 3 7 6 2 2 7 7 2 4 |
1 | F B 3 5 2 2 3 B B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 X 6 2 B 4 B 4 2 |
3 | 3 7 9 4 3 2 7 6 B 3 |
2 | 5 1 8 3 2 8 7 5 3 B |
1 | 2 4 5 F B 6 6 B 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 2 6 2 6 2 2 5 2 |
3 | 6 5 8 B 4 B 2 3 7 2 |
2 | 8 X 1 B 3 4 B 5 2 9 |
1 | 3 F 7 3 B 4 B 4 3 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 7 9 6 5 B 4 B 4 |
3 | X 2 8 1 8 2 5 B 4 B |
2 | 3 2 2 2 2 2 7 5 B 4 |
1 | 3 3 6 F 6 7 3 3 5 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 3 8 2 2 6 3 5 2 |
3 | 7 6 9 1 6 2 3 X 2 8 |
2 | 4 5 B B B B 2 2 7 5 |
1 | B B 4 F 3 4 7 6 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 7 X 5 7 2 6 4 4 |
3 | 8 9 1 2 8 2 2 4 B 2 |
2 | 3 5 3 7 6 3 B 2 B 6 |
1 | 5 6 B F 3 2 B 3 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 7 6 2 2 B 5 4 2 |
3 | X 9 1 6 3 B 3 2 2 4 |
2 | 2 8 7 6 5 6 B 3 B 2 |
1 | 8 2 B F 7 B 3 5 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 7 4 5 2 4 6 4 2 |
3 | B 2 2 X 8 5 2 2 9 5 |
2 | 3 2 5 8 1 B 6 3 B 3 |
1 | 6 B 7 F 7 3 B 6 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 6 1 5 2 6 4 B 2 |
3 | 5 2 9 8 X 5 8 2 5 2 |
2 | 7 4 6 B 7 3 6 7 B 2 |
1 | 3 3 B F B 3 3 2 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 5 2 3 6 5 9 3 6 5 |
3 | 2 B B X 2 1 5 2 2 2 |
2 | B B 4 F 8 2 4 3 B 8 |
1 | 4 4 7 6 3 7 3 2 7 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 6 7 6 6 8 2 B 5 |
3 | 7 6 9 3 5 5 2 X 4 B |
2 | 3 2 1 8 B 3 7 2 2 2 |
1 | 3 2 4 B F B 4 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 8 1 6 4 2 8 2 7 |
3 | 7 3 X 3 9 7 2 2 6 2 |
2 | 2 6 4 B 5 3 5 6 3 4 |
1 | 2 3 B F B 5 B B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 7 6 2 2 B 5 4 2 |
3 | X 9 1 6 2 4 3 2 2 2 |
2 | 3 8 7 7 B 4 B 3 6 5 |
1 | 8 6 B F 3 B 3 5 2 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 7 X 9 4 2 6 B 4 2 |
3 | 3 2 8 B 6 2 8 1 7 5 |
2 | 5 2 2 5 2 3 7 3 3 5 |
1 | F 4 B B 6 2 3 4 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 7 3 6 5 4 3 5 7 2 |
3 | 5 2 X 2 2 2 9 4 B 6 |
2 | B 8 1 2 8 2 2 3 5 3 |
1 | F B 6 B 3 7 B 4 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 8 4 2 5 2 8 5 2 |
3 | 2 4 9 1 6 X 2 3 2 4 |
2 | B 3 6 7 2 6 7 7 6 3 |
1 | F B 3 B 2 3 B B B 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 6 7 4 2 X 5 2 6 |
3 | 5 2 1 7 2 2 B 7 4 2 |
2 | 9 6 4 5 6 8 B 3 B 2 |
1 | 3 8 F 3 3 B B 3 B 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 8 6 6 5 2 6 2 2 6 |
3 | 2 5 2 9 B 2 7 X 2 8 |
2 | 3 3 5 3 B 7 1 7 3 3 |
1 | B B 4 F 4 B B 4 5 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 B 2 2 4 2 5 7 5 2 |
3 | 4 6 8 9 7 2 8 X 3 2 |
2 | B 5 6 1 6 3 7 B 2 3 |
1 | 4 B F 6 3 B B 4 3 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 7 5 6 2 X 9 5 2 |
3 | B 5 B 8 3 5 7 2 2 4 |
2 | 3 2 3 6 B 1 8 3 2 7 |
1 | 2 4 B B F B 6 3 6 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 B 5 3 2 6 5 4 2 2 |
3 | B 4 8 7 9 X 3 8 5 B |
2 | 3 5 6 B 1 6 2 7 6 4 |
1 | 2 4 B F B 2 3 2 7 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 4 6 B 2 8 5 2 2 |
3 | 6 5 9 1 4 5 3 X 5 B |
2 | B 8 6 7 6 7 4 B 2 4 |
1 | F 7 3 3 2 2 3 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 4 2 6 7 1 3 4 5 |
3 | 9 6 8 5 2 X 6 8 2 7 |
2 | B 5 6 3 2 2 4 2 2 B |
1 | F B 3 B 3 4 B B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 4 B 5 4 5 3 5 6 |
3 | 9 3 3 8 7 6 B 1 7 4 |
2 | 2 X F B 8 B 2 6 2 B |
1 | 2 2 6 2 2 2 3 B 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 4 6 3 6 5 7 5 2 6 |
3 | 4 B 8 2 2 2 3 2 2 9 |
2 | 2 3 5 4 B X 7 1 8 3 |
1 | 4 B B 7 F B 5 2 3 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 5 8 3 6 2 2 2 2 5 |
3 | 9 7 X B B 5 3 8 2 2 |
2 | 6 2 3 B 4 B 4 1 5 3 |
1 | 7 6 7 F B 4 B 4 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 9 X 7 2 2 6 5 2 |
3 | 2 7 1 3 2 6 8 B 2 4 |
2 | 2 4 8 B 6 7 5 B 4 B |
1 | 3 3 B F B 3 4 3 2 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 3 6 X 2 2 5 6 2 B |
3 | 4 B 8 2 4 7 1 9 2 4 |
2 | 5 6 3 7 B 2 2 8 6 5 |
1 | 3 5 3 B F B 7 4 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 7 X 1 7 4 6 8 2 5 |
3 | 6 5 2 2 9 8 5 B 6 4 |
2 | 2 3 B 7 3 B 2 5 3 B |
1 | 6 B F B 2 3 2 2 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 1 8 6 2 7 2 2 7 |
3 | 7 9 4 2 X 6 8 B 6 2 |
2 | B 4 3 5 B 3 5 B 2 2 |
1 | 3 3 5 F B 3 4 B 5 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 6 2 2 6 B 6 2 5 |
3 | 7 2 X 5 4 9 3 2 2 8 |
2 | 3 8 4 B 7 3 1 2 4 3 |
1 | 5 3 B F B 6 B 7 5 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 X 8 6 2 5 7 5 6 |
3 | 7 2 8 2 2 3 9 6 2 4 |
2 | B 7 1 3 B B 3 3 2 6 |
1 | F B 2 3 4 4 B 4 5 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 B 1 6 2 2 5 4 2 |
3 | 6 B 4 8 9 7 X 8 6 2 |
2 | 3 B 4 7 6 2 2 7 5 2 |
1 | B 3 3 B F 5 3 B 3 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 8 3 6 2 7 5 6 2 |
3 | X 4 8 1 2 5 9 2 7 2 |
2 | 6 5 3 B B 2 5 B B 4 |
1 | F B 7 4 3 2 3 3 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 7 2 5 6 3 4 B 4 2 |
3 | X 2 8 5 9 5 B 7 2 B |
2 | 3 2 2 7 1 8 6 5 6 4 |
1 | 4 3 6 F B 3 B B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 5 7 5 2 X 6 2 4 |
3 | 5 6 2 1 9 6 2 8 5 2 |
2 | 3 2 3 7 3 8 3 6 3 7 |
1 | B 4 B F B 4 B B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 2 8 6 3 6 2 2 4 |
3 | 3 B 7 7 1 9 7 B 6 8 |
2 | X B 5 F 2 6 B 3 2 2 |
1 | 4 B 5 3 5 3 4 B 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 X 2 4 2 8 2 4 5 |
3 | 5 4 7 6 B 5 3 6 2 9 |
2 | 2 7 3 3 B 8 1 3 6 7 |
1 | 2 3 B B F 5 B B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 9 1 7 2 2 2 5 2 |
3 | 5 7 5 6 X 5 7 B B B |
2 | 2 2 8 B 3 6 8 4 4 4 |
1 | 2 6 B F 4 3 3 3 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 6 5 5 6 4 5 5 2 6 |
3 | 4 B X 8 2 2 8 9 2 2 |
2 | B 4 B 7 2 6 1 7 2 2 |
1 | F B 4 B 3 3 3 3 3 7 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 7 B 4 2 7 B 5 6 2 |
3 | 9 5 1 8 6 2 6 8 2 7 |
2 | 6 2 3 5 4 3 4 2 X 3 |
1 | F 5 2 B 3 4 B B 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 3 8 2 5 3 6 4 2 |
3 | 2 7 2 6 4 7 3 2 5 7 |
2 | B 6 X 3 3 B 1 8 2 B |
1 | 4 F 5 B B 4 2 6 9 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 9 4 2 2 2 X 2 2 |
3 | 3 8 1 8 B B 5 4 2 4 |
2 | 5 6 B 7 7 7 B 5 4 3 |
1 | 5 B F 3 6 6 6 B 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 2 5 2 6 2 5 2 6 |
3 | 3 2 X 7 2 3 7 3 8 2 |
2 | 2 7 B B 6 8 3 1 5 4 |
1 | 5 4 B F B 4 B B 3 9 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 X 8 5 5 8 B 5 2 |
3 | 2 2 6 2 4 2 9 6 B 4 |
2 | 2 7 1 B 7 6 7 3 4 B |
1 | 3 2 B F B 3 5 2 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 7 X 2 2 B 2 4 2 |
3 | 6 5 9 4 6 5 2 7 B 2 |
2 | B 8 1 8 5 6 7 6 3 B |
1 | F B 5 3 3 2 3 3 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 6 X 5 2 6 B 2 5 |
3 | 7 9 1 2 7 2 8 2 4 B |
2 | B 7 8 4 2 2 6 B 3 6 |
1 | F B 5 3 3 2 3 4 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 8 X 3 4 8 6 5 4 |
3 | 9 7 2 5 7 6 3 B 2 2 |
2 | 2 2 1 2 2 B 6 B 5 B |
1 | 3 6 F 7 3 B 4 2 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 8 5 X 6 4 B 4 2 2 4 |
3 | F 3 3 9 5 B 3 6 2 6 |
2 | 1 8 7 7 4 6 B 3 2 5 |
1 | 3 7 B B 2 B 5 2 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 5 7 6 2 4 6 7 5 2 |
3 | B 9 1 8 B 5 X 3 6 4 |
2 | B 7 4 6 4 B 2 3 8 2 |
1 | F B 5 3 3 2 2 2 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 7 9 7 2 5 B 5 2 |
3 | B 2 6 2 X 6 B 1 7 4 |
2 | 3 4 8 6 3 2 3 8 2 4 |
1 | 2 B 3 F B 6 5 2 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 B 9 4 5 7 3 5 2 |
3 | 4 B 6 F 4 B 1 8 X 8 |
2 | B 3 6 3 B 6 2 2 2 3 |
1 | 4 5 B 2 2 2 2 3 7 7 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 4 1 7 5 2 5 6 4 |
3 | 6 3 X 2 3 2 9 3 8 5 |
2 | B 8 6 B 7 3 2 2 7 B |
1 | 4 6 B F B B 3 2 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 6 8 5 2 6 B 7 6 4 |
3 | 4 3 X 6 4 7 9 3 5 2 |
2 | B 5 7 3 5 2 1 8 2 3 |
1 | F B 4 B 3 B 2 2 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 9 7 5 6 3 7 5 B |
3 | 6 7 1 3 2 8 2 5 2 6 |
2 | 4 2 3 B 6 X B 8 2 4 |
1 | 3 2 B F B 2 4 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 8 1 2 2 3 8 5 2 |
3 | 2 6 3 9 6 6 X 3 2 6 |
2 | B 2 B 7 7 7 3 B B 2 |
1 | 4 4 B 5 F 5 B 4 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 8 6 4 5 4 9 6 2 5 |
3 | 2 2 X 3 2 2 1 8 2 2 |
2 | 7 3 4 B 7 3 B 5 2 7 |
1 | 3 6 B F B B 4 B 6 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B B B 4 2 6 8 7 2 2 |
3 | 4 6 4 7 X 2 2 2 2 2 |
2 | B 5 5 6 9 8 1 7 5 3 |
1 | F B 3 B 3 3 6 5 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 8 6 X 3 B 7 B 6 4 5 |
3 | 9 2 3 B 4 B 4 1 6 2 |
2 | 8 2 F 5 B 7 6 5 3 5 |
1 | 3 2 2 2 2 2 3 B 4 7 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 3 5 2 7 5 4 9 2 5 4 |
3 | 8 X 2 2 2 2 2 2 B 3 |
2 | 3 8 7 B 5 B 3 3 4 B |
1 | B F 6 1 7 6 6 B 6 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 3 6 4 2 7 4 6 2 |
3 | 5 2 3 2 X 5 4 7 2 9 |
2 | 8 6 4 7 2 2 5 1 8 3 |
1 | 3 B B F 6 3 B B 5 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 3 5 2 4 9 4 B 4 |
3 | 2 6 X 8 2 7 1 7 B B |
2 | 2 7 B 5 6 2 8 6 5 4 |
1 | 3 B F 3 2 3 6 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 6 1 2 4 2 5 6 4 |
3 | 5 8 2 9 5 6 X 2 8 5 |
2 | 3 6 B 3 7 7 7 3 B 2 |
1 | 3 B F B 2 2 B 4 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 4 8 2 6 9 7 4 2 |
3 | 5 7 X 6 5 2 3 1 2 6 |
2 | B 3 2 3 7 3 B 6 8 2 |
1 | 4 B 4 F 5 B B 5 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 7 X 9 4 2 6 B 5 2 |
3 | 3 2 8 B 6 2 8 1 7 5 |
2 | 5 2 2 5 3 3 7 3 3 2 |
1 | F 4 B B 4 2 6 B B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 3 8 7 2 3 9 5 2 |
3 | 7 2 X 5 2 5 4 B 2 7 |
2 | 6 2 8 1 B 6 4 B 6 B |
1 | F 2 3 6 B 3 3 4 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 6 X 7 5 2 6 5 2 |
3 | B 2 8 5 4 6 9 2 7 4 |
2 | 3 7 6 B 5 8 1 B 3 2 |
1 | 4 3 B F B 3 2 3 2 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 8 B B 7 2 2 5 7 |
3 | 9 X 8 B 4 B 5 1 2 3 |
2 | 5 3 6 3 B 4 3 6 2 6 |
1 | F 6 3 2 4 B 2 2 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 8 7 5 6 3 7 5 4 |
3 | 5 2 2 3 2 9 2 2 B 6 |
2 | 7 6 X B B B 1 8 3 2 |
1 | 3 B 4 F 5 3 4 B 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 1 2 2 5 4 X 5 4 |
3 | 7 9 8 6 2 2 2 8 7 2 |
2 | 4 2 6 B 3 3 3 7 2 B |
1 | B 6 B F B 3 3 B 6 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 2 5 2 4 2 2 5 2 |
3 | 2 5 6 X 8 6 7 3 2 4 |
2 | 4 7 B 3 1 9 3 4 6 3 |
1 | B 3 B F 6 8 B 7 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 6 8 2 6 5 2 7 5 4 |
3 | X 5 2 3 9 6 B 4 B 6 |
2 | 7 2 2 B 1 8 4 B 3 2 |
1 | 3 2 3 F 4 B 3 5 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 9 2 2 6 B 4 5 2 5 |
3 | 2 2 1 B 4 8 2 2 3 6 |
2 | X 3 7 6 B 5 6 7 8 2 |
1 | 5 3 4 B F B 4 3 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | F X 8 B 5 4 4 B 5 4 |
3 | 7 2 5 9 B 6 3 4 B 6 |
2 | 7 2 3 8 1 B 6 3 7 B |
1 | 3 2 2 2 2 2 2 3 5 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 3 6 6 4 2 6 6 2 3 |
3 | X 8 7 9 3 4 8 3 2 B |
2 | 2 2 3 1 5 5 B 7 2 5 |
1 | 2 2 B F 4 B 4 B 7 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 8 5 7 6 2 6 5 7 |
3 | B 2 2 X B 8 2 2 2 9 |
2 | 4 6 2 3 5 1 2 B 6 3 |
1 | 3 B 4 F 4 B 3 4 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 B 4 2 4 7 2 9 4 2 |
3 | B 4 7 X 6 2 3 2 7 5 |
2 | B 6 2 3 8 B 1 8 2 6 |
1 | F B 5 5 3 B 6 3 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 9 2 4 2 3 5 4 2 |
3 | 5 8 1 8 6 5 2 3 6 5 |
2 | 7 X 3 7 2 7 3 B 2 2 |
1 | F 3 6 2 B B B 4 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 6 X 7 5 6 9 7 4 6 |
3 | 5 2 8 3 6 4 8 4 2 B |
2 | 7 2 2 3 B B 1 B 2 2 |
1 | F 5 3 3 2 5 B 4 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 4 9 3 7 4 3 B 2 B |
3 | 4 6 1 8 2 2 6 6 B 3 |
2 | 5 2 7 6 3 5 X 8 4 B |
1 | F 2 5 3 2 2 7 5 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 3 9 2 7 X 3 4 2 |
3 | B 5 8 1 5 2 2 8 5 B |
2 | 4 7 6 B 6 6 3 6 7 4 |
1 | 2 3 B F B 5 3 B 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 7 2 2 6 2 6 8 7 4 |
3 | 8 2 X 1 6 7 2 6 2 9 |
2 | B 5 4 5 B 5 4 B 5 2 |
1 | 3 4 3 B F B 3 B 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 X 8 5 2 2 4 2 7 |
3 | 8 2 5 1 9 2 4 6 B B |
2 | 2 7 6 3 4 6 2 B B 3 |
1 | 3 7 5 F B 3 6 3 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 X 7 6 B 4 2 2 4 |
3 | 2 6 B 1 9 4 6 5 2 6 |
2 | B 7 3 8 3 2 8 7 2 2 |
1 | F B B 3 B 5 2 3 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 6 4 3 X 5 7 3 2 6 |
3 | B 2 2 2 2 2 4 2 5 9 |
2 | 4 6 8 1 7 7 8 B 6 2 |
1 | 5 3 B F B 3 5 4 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 8 6 2 5 B 3 B 5 |
3 | X 2 1 9 2 2 7 B 4 2 |
2 | 3 2 6 3 8 B 5 2 2 7 |
1 | 3 6 F 4 B 4 B 4 6 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 X 8 6 3 7 2 3 2 |
3 | 9 2 5 1 8 6 2 3 2 6 |
2 | 3 4 B 4 5 2 7 4 2 2 |
1 | B B F 6 4 5 B B B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 X 5 7 5 2 7 5 4 |
3 | 8 2 6 2 9 B 6 B 2 6 |
2 | 3 2 8 4 1 B 6 3 2 2 |
1 | 3 2 F 3 4 B 3 B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 7 X 9 5 2 5 8 2 5 |
3 | 5 6 8 1 7 6 B 2 6 3 |
2 | B 3 2 7 6 3 4 B 3 B |
1 | F B 4 3 4 2 2 B 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 B 4 3 7 2 5 8 2 2 |
3 | B 7 X 9 2 2 2 2 6 5 |
2 | B 6 2 8 7 B 1 6 3 4 |
1 | F B 6 3 4 3 5 3 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 X 2 5 6 3 4 B 3 |
3 | B 3 8 8 2 9 1 B 4 B |
2 | 5 6 7 7 2 7 6 5 B 4 |
1 | 3 3 6 F 2 2 2 2 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 X 2 2 5 7 2 2 5 |
3 | 4 8 3 5 6 9 1 8 4 2 |
2 | B 7 2 7 B 3 3 B 3 6 |
1 | B 3 6 F 4 B 5 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 2 6 5 4 2 7 4 3 |
3 | B 8 2 X 8 6 2 2 2 B |
2 | 3 4 2 2 1 9 5 B 5 3 |
1 | 6 B 7 F 3 B 7 3 B 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 7 X 7 3 6 B 3 4 |
3 | 3 6 8 7 8 6 B 4 5 B |
2 | 5 2 6 3 1 9 2 B B 3 |
1 | 2 2 5 F B 5 2 4 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 4 8 2 2 3 5 2 2 |
3 | 3 6 3 7 5 5 9 1 8 B |
2 | B 5 B 6 X 7 3 7 6 2 |
1 | F B 4 2 4 6 4 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 8 2 5 6 5 7 5 2 |
3 | 2 4 2 7 6 9 2 4 B 6 |
2 | 7 X 3 B 8 1 2 B 3 2 |
1 | 3 3 B F B 3 2 5 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 2 4 6 5 9 5 2 4 |
3 | 2 4 7 6 8 7 1 2 5 3 |
2 | 3 6 B 8 X B 7 B 2 6 |
1 | 3 B F 3 B 4 3 B 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 2 7 4 6 3 5 6 2 |
3 | 5 B 8 5 2 2 7 2 2 4 |
2 | B 4 B B 9 6 1 X 7 5 |
1 | 3 B F 3 B 4 3 3 2 8 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 5 7 6 5 6 5 4 2 |
3 | 6 2 7 X 2 2 3 9 2 6 |
2 | B 3 8 5 8 7 B 1 3 B |
1 | 4 3 2 F 2 B B B 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 B 7 3 5 7 B 2 4 |
3 | 2 B 5 8 9 X 8 5 B 2 |
2 | B 5 7 6 6 2 1 2 4 B |
1 | 4 3 6 F 6 2 3 2 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 5 6 8 6 2 9 7 5 2 |
3 | 4 7 X 7 5 6 1 8 6 2 |
2 | 4 B 5 3 2 2 3 2 2 B |
1 | B F B 4 3 B 2 3 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 2 4 B 5 6 7 4 5 |
3 | 2 2 8 3 9 2 2 4 6 2 |
2 | 2 X 7 8 1 B 4 B 5 3 |
1 | B 3 7 F 6 3 2 3 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 2 2 4 8 2 2 6 4 5 |
3 | 6 B 3 B 6 1 X 3 7 9 |
2 | 5 4 B F B 8 B 7 2 6 |
1 | 3 2 2 B 3 5 4 5 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 5 8 2 4 6 4 B 4 6 |
3 | X 2 3 5 2 3 5 2 2 9 |
2 | 2 3 7 B 5 8 7 2 3 1 |
1 | 2 6 B F B 7 B 3 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 8 2 2 5 7 2 2 6 |
3 | 6 X 3 4 6 9 3 6 4 8 |
2 | B 7 5 3 3 1 7 B 2 2 |
1 | F B 4 B B 3 5 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 6 3 6 B 2 6 2 2 6 |
3 | 5 8 2 X 5 2 9 3 4 2 |
2 | 5 3 1 4 7 3 8 7 3 2 |
1 | 7 4 B B F 4 B B 5 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 8 4 2 6 2 9 6 2 |
3 | 2 7 X B 5 7 B 1 7 2 |
2 | B 3 2 4 2 5 4 3 8 B |
1 | F B 3 5 6 B 3 5 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 X 9 5 2 B 4 2 4 |
3 | 2 2 B 1 8 5 B 3 B 5 |
2 | 8 2 F 7 7 3 6 B 4 4 |
1 | 2 3 7 6 6 3 6 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 4 1 7 5 2 5 2 4 |
3 | 6 3 X 2 3 2 9 3 5 6 |
2 | B 8 6 B 7 3 2 2 7 B |
1 | 4 6 B F B B 3 8 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 3 9 6 4 3 8 6 B |
3 | 2 7 2 2 2 8 5 3 2 4 |
2 | B X 6 5 4 5 1 5 B B |
1 | F B 3 7 B 2 2 7 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 4 6 B 3 6 7 X 5 2 |
3 | 4 B 8 2 9 1 7 3 2 3 |
2 | 2 4 2 B 5 3 6 7 2 8 |
1 | 5 B B 4 F 2 5 3 6 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 8 1 5 4 2 5 2 2 |
3 | 4 X 2 8 9 2 7 B 4 6 |
2 | 7 3 6 3 7 B 2 5 B 2 |
1 | 6 3 F B 2 B 3 B 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 2 3 2 5 2 2 5 4 |
3 | 4 7 6 2 5 7 2 6 7 6 |
2 | B X 8 B B 3 6 8 1 9 |
1 | 4 3 B F B 2 3 B 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 8 2 2 6 4 8 2 6 |
3 | 7 2 6 3 5 2 2 5 2 7 |
2 | 3 1 9 3 B 5 7 5 X 4 |
1 | B B 4 B F B 3 4 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 X 6 4 B 6 3 5 2 |
3 | 7 2 9 3 2 5 8 B B 4 |
2 | 4 3 3 8 6 B 1 7 5 2 |
1 | 6 B 4 F B 7 3 2 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 2 X 7 4 9 2 2 6 |
3 | 5 8 2 2 2 6 1 2 8 5 |
2 | B 6 7 B 5 7 B 5 4 B |
1 | 3 3 B F 4 3 4 B 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 4 X 6 5 2 7 6 4 |
3 | 6 9 5 3 2 2 3 5 2 2 |
2 | 7 8 1 3 5 3 8 6 7 4 |
1 | F 4 B B B B B B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 2 F 8 B 5 7 4 6 5 |
3 | X 9 8 3 3 B B B 4 4 |
2 | 6 1 7 3 3 3 6 6 B 4 |
1 | 2 2 2 2 2 2 2 5 5 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 7 8 5 B 4 2 4 5 |
3 | 6 2 2 X 2 2 7 8 2 9 |
2 | B 5 7 B 3 6 2 6 3 1 |
1 | 4 3 B F B 3 3 6 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 2 X 4 5 7 9 2 2 |
3 | 4 B 6 6 2 2 1 2 6 5 |
2 | B 4 B 3 8 6 7 3 8 7 |
1 | 4 B F B 5 3 2 3 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 5 8 3 6 2 9 5 2 7 |
3 | X 2 8 1 2 2 5 4 6 2 |
2 | 6 4 3 B B 2 7 B B 4 |
1 | F B 7 3 3 2 4 5 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 9 6 8 3 2 6 2 4 2 6 |
3 | 7 2 1 7 X 2 8 5 2 2 |
2 | 4 2 B 5 6 4 B 7 4 5 |
1 | 3 5 B F B 3 B 3 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 7 3 2 5 9 6 4 B |
3 | 2 6 X 6 2 7 1 8 6 B |
2 | 5 8 5 B 5 3 2 3 7 B |
1 | 3 4 B F B 4 2 2 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 3 6 4 2 7 4 6 2 |
3 | 8 2 B 2 X 5 4 7 2 9 |
2 | 3 4 5 7 2 2 5 1 8 3 |
1 | 3 B B F 6 3 B B 5 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 2 4 6 7 X 2 7 6 |
3 | 2 2 7 B 5 2 4 9 2 5 |
2 | 2 5 B 4 B 6 8 1 8 2 |
1 | 3 B 4 B F B 3 3 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 3 6 4 2 7 5 2 6 |
3 | 6 5 8 4 2 X 2 9 3 8 |
2 | 3 2 4 B 3 7 1 7 B 5 |
1 | B 4 B F B 6 5 3 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 6 1 5 4 5 B 4 5 |
3 | 7 X 3 8 9 B B 7 B 3 |
2 | 2 2 2 2 2 2 2 2 3 4 |
1 | 3 F 6 7 8 6 B 3 6 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 3 B 2 4 B 7 5 4 |
3 | 7 2 9 3 6 B 3 2 B 2 |
2 | X 2 6 7 8 1 8 5 3 B |
1 | 2 2 6 F B 4 5 3 5 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 B 2 5 7 1 9 4 2 |
3 | 4 5 7 2 6 X 8 4 B 5 |
2 | 8 5 6 B 7 3 3 2 6 B |
1 | 3 2 B F B 2 3 6 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 4 4 6 6 5 3 5 5 |
3 | 2 X 1 6 9 8 2 8 2 6 |
2 | 2 3 B 3 2 B 3 B B 2 |
1 | 7 B F 7 2 3 4 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 7 2 5 4 2 4 6 2 |
3 | 6 2 3 7 2 6 7 2 9 5 |
2 | 8 3 X B 6 8 1 B 2 3 |
1 | 3 B F B B 5 B 4 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 2 6 4 8 2 9 2 5 |
3 | 8 7 5 X 2 2 7 B 6 B |
2 | 6 5 F 3 1 7 5 B 2 4 |
1 | B 3 4 B 3 2 3 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 8 2 5 6 4 8 4 5 |
3 | 6 X 2 1 2 7 2 9 6 2 |
2 | 3 2 F 3 B 3 B 2 5 2 |
1 | 7 3 B 4 B 7 B 3 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 4 X 2 2 5 9 2 B |
3 | 4 B 8 2 4 6 1 2 2 4 |
2 | 3 6 7 7 B 2 7 8 3 6 |
1 | 3 5 3 B F B 6 5 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 3 6 2 2 5 6 8 6 4 3 |
3 | 4 B 7 B 9 1 6 X 2 8 |
2 | B 4 B 5 2 2 7 7 2 2 |
1 | 4 B F B 5 3 3 5 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 3 2 6 5 2 5 6 5 |
3 | 8 X 7 1 9 4 2 8 2 4 |
2 | 2 7 B F 4 7 3 4 B 2 |
1 | 2 2 3 B B 3 6 B B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 4 7 4 2 5 3 5 2 6 |
3 | 6 9 1 3 6 7 2 2 8 X |
2 | 5 B 5 8 2 2 B 6 2 4 |
1 | B 4 F B 3 7 3 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 4 X 5 6 4 7 5 4 |
3 | 9 2 3 2 7 8 2 2 2 6 |
2 | 3 2 1 3 B 3 4 B 2 3 |
1 | 8 7 5 B F B 6 B 2 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 7 3 2 6 4 5 5 2 |
3 | 6 2 9 7 5 2 8 4 7 6 |
2 | B 6 8 1 5 2 B X 3 2 |
1 | F B 3 B 3 B 4 2 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 B 8 4 2 8 7 5 2 |
3 | 6 9 3 5 7 X 7 6 2 4 |
2 | 2 5 1 3 2 2 6 4 2 2 |
1 | B 3 6 B F B 3 B B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 4 8 2 2 9 5 2 2 |
3 | 3 6 3 7 5 5 3 1 8 B |
2 | B 5 B 6 X 7 3 7 6 2 |
1 | F B 4 2 4 6 4 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 6 2 2 6 8 7 2 5 |
3 | 2 9 5 7 5 X 2 2 5 7 |
2 | 2 1 8 3 B 3 6 4 2 3 |
1 | 4 3 B B F B B B 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 2 2 2 4 2 8 5 6 |
3 | 9 7 3 5 6 B B 6 3 X |
2 | 1 3 8 B 2 5 4 2 7 2 |
1 | 7 5 B F B 3 3 4 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 7 5 B 2 X 6 2 4 |
3 | 5 4 9 1 7 4 5 2 B 3 |
2 | B 6 3 8 2 3 2 8 4 B |
1 | F B 5 2 3 6 7 3 2 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 8 X 7 2 9 7 5 2 |
3 | 4 B 1 5 2 6 2 6 2 5 |
2 | 6 B 4 B B B 3 8 2 7 |
1 | 3 4 B F 4 3 2 3 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 7 2 8 5 6 2 B 5 6 |
3 | 9 2 1 7 X B 8 4 5 2 |
2 | 3 2 3 2 2 6 4 B 7 5 |
1 | B 3 F 3 2 B 4 B 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 7 2 6 6 5 7 5 2 |
3 | 5 2 2 8 X 9 1 8 2 6 |
2 | 7 3 4 B 6 3 4 B 2 B |
1 | 3 4 B F B 3 4 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 6 8 5 2 5 B 2 4 |
3 | 2 9 1 4 2 7 2 8 3 7 |
2 | 6 3 7 B 6 X 3 6 B 2 |
1 | 3 5 B F B 3 4 B 2 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 8 2 5 5 7 6 4 B |
3 | X 2 3 2 2 9 1 6 B 4 |
2 | 7 B 7 3 6 2 3 8 B 4 |
1 | B F B 5 3 2 2 2 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 4 X 2 2 5 6 2 B |
3 | 5 B 8 2 4 6 1 9 2 5 |
2 | 6 7 4 2 B 2 4 8 3 6 |
1 | 5 3 3 B F B 7 3 7 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 3 5 6 3 7 X 9 4 B 4 |
3 | B B 2 5 5 8 1 7 B B |
2 | 4 6 7 8 2 2 2 6 2 3 |
1 | 3 4 5 F 2 6 B 3 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 9 7 5 2 5 7 2 2 |
3 | B B 1 F X 6 2 3 4 5 |
2 | 4 7 8 3 8 2 5 B 6 2 |
1 | 2 6 B B 3 3 B 4 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 2 X 7 4 9 4 2 6 |
3 | 5 8 2 4 2 6 1 2 8 5 |
2 | B 5 7 B 6 5 B 7 2 3 |
1 | 3 3 B F B 3 4 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 5 7 5 2 X 6 2 4 |
3 | 5 6 2 1 9 6 2 8 5 2 |
2 | 3 2 4 7 4 8 3 6 4 7 |
1 | B 3 B F B 3 B B 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 9 1 8 2 X 5 2 4 |
3 | 2 B 7 3 5 6 3 7 B 2 |
2 | B 3 2 8 2 2 7 5 4 B |
1 | 4 3 B F B 2 6 6 3 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 B 6 4 5 6 B 4 5 |
3 | 2 2 8 X 2 2 9 8 2 2 |
2 | B 2 3 7 B 3 1 7 B 2 |
1 | 4 7 F 3 6 6 B 3 3 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 7 4 5 2 2 B 6 2 |
3 | 3 4 5 1 8 6 3 7 2 9 |
2 | 2 5 8 3 X 4 7 4 2 3 |
1 | B B 6 B F B 5 3 2 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 8 7 2 5 9 6 4 2 |
3 | 6 2 3 X 6 2 1 B 2 6 |
2 | B 5 7 3 2 8 5 B 2 5 |
1 | F B 4 B 3 7 B 3 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 3 7 2 5 2 3 6 7 |
3 | 2 B B 3 2 9 2 X 2 2 |
2 | B 4 3 6 5 1 8 8 2 3 |
1 | 4 B B B F 6 4 7 5 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 5 3 2 2 7 6 2 2 |
3 | 2 6 8 9 6 5 3 X 5 4 |
2 | 2 7 B 1 B 7 B 8 B 4 |
1 | 3 B F B 4 2 6 3 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 2 2 5 4 9 2 5 4 |
3 | 4 7 X 2 7 6 1 2 7 6 |
2 | 8 2 3 B 5 8 6 B 3 2 |
1 | 3 6 B B F 3 4 B B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 8 7 4 6 9 4 2 6 |
3 | B 2 2 5 2 X 1 3 7 2 |
2 | 4 5 6 7 3 2 3 8 2 B |
1 | 3 B 5 B F B 4 B 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 B 6 4 5 X 7 2 4 |
3 | B 4 7 2 2 7 3 9 2 6 |
2 | 5 B 8 6 B 6 8 1 2 2 |
1 | 3 4 3 B F B 2 3 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 4 7 5 6 4 7 5 4 |
3 | 9 2 3 X 2 8 2 2 2 6 |
2 | 3 2 1 3 B 3 4 B 2 3 |
1 | 8 7 5 B F B 6 B 2 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 4 8 5 5 7 6 5 7 |
3 | 7 5 2 X 2 2 2 6 3 1 |
2 | 9 2 8 6 3 2 3 2 4 3 |
1 | B 3 F 4 2 B B B B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 1 5 X 6 8 6 4 6 |
3 | 6 9 8 7 4 2 5 2 7 2 |
2 | 2 2 3 B B 7 2 5 B 4 |
1 | 2 3 B F B 3 2 3 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 5 2 B 6 5 7 2 5 4 |
3 | 9 2 8 3 X B B 3 7 6 |
2 | 7 1 6 B 8 4 5 2 2 2 |
1 | 3 4 B F B 3 4 3 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 3 2 B 6 5 3 5 5 |
3 | 4 2 X 3 8 4 2 7 9 2 |
2 | 2 8 B 7 1 B 3 B B 7 |
1 | 2 6 F 6 2 3 4 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 9 1 6 5 2 8 6 2 |
3 | 5 7 2 3 8 X 6 4 2 4 |
2 | 3 2 4 7 B 3 2 B 3 2 |
1 | 4 B 5 B F B 7 B 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 X 1 5 4 7 2 2 5 |
3 | 2 9 6 8 6 2 8 2 6 3 |
2 | 2 2 3 3 B 3 B 3 B 5 |
1 | 2 6 7 F B 4 B 4 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 3 B 2 6 B 7 2 B |
3 | 9 5 4 7 5 4 5 2 4 B |
2 | 3 6 1 8 2 2 6 2 2 4 |
1 | 5 3 B F 7 3 B 8 X 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 B 8 2 2 5 7 5 2 |
3 | 2 7 X 6 4 B 8 9 3 B |
2 | 6 4 B 4 5 3 2 1 7 4 |
1 | 2 B 5 F 6 3 2 3 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 4 6 4 6 5 3 2 6 |
3 | 2 6 8 2 7 2 8 B 5 9 |
2 | 3 B 1 X 2 3 2 2 5 B |
1 | B 4 7 F B 4 7 B 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 6 5 7 8 4 7 5 6 B |
3 | F B X 3 2 2 9 8 B 4 |
2 | B 5 3 7 2 2 1 3 6 4 |
1 | 4 5 6 3 2 2 2 2 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 5 6 2 5 4 2 4 5 4 |
3 | 3 7 1 2 2 6 9 2 6 2 |
2 | 7 X 8 B 7 6 B 2 2 4 |
1 | F B 3 B 3 3 B 8 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 B 7 3 5 7 B 2 4 |
3 | 2 B 5 8 9 X 8 5 B 2 |
2 | B 5 7 6 6 2 1 2 4 B |
1 | 4 3 6 F 6 3 2 2 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 B 4 8 7 6 X 2 6 2 |
3 | B 2 2 1 9 2 2 5 8 2 |
2 | 3 6 B 6 3 5 7 B 5 7 |
1 | 2 B F B 5 4 3 3 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 4 4 1 9 2 2 4 5 |
3 | 2 B 7 2 X 2 3 2 B 8 |
2 | 5 B B 5 8 B 7 7 4 5 |
1 | 3 3 B F 6 6 6 6 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 6 8 9 5 2 2 7 4 5 |
3 | X 2 2 1 2 8 3 B B 6 |
2 | 6 2 7 2 6 B 5 4 5 3 |
1 | 3 2 F 3 3 B 4 B B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 9 3 5 2 2 X 6 2 |
3 | 5 8 6 1 7 5 3 4 8 5 |
2 | B 2 B 7 B 2 B 7 B 2 |
1 | 3 6 3 4 F B 3 4 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 7 2 5 4 6 4 2 2 |
3 | 7 3 9 6 3 2 8 5 2 5 |
2 | X 2 8 4 B 4 B 1 7 2 |
1 | 3 B B F 3 6 B 6 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 7 3 6 5 4 3 5 7 2 |
3 | 5 X 2 2 2 2 9 4 B 6 |
2 | B 8 1 2 8 2 2 3 5 3 |
1 | F B 6 B 3 7 B 4 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 6 4 3 5 B 3 2 6 5 |
3 | 8 X 2 9 6 8 2 5 2 7 |
2 | 2 B 5 3 B B 1 3 B 2 |
1 | 2 7 F 6 4 4 3 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 X 9 5 2 4 B 5 4 |
3 | 2 5 6 B 6 2 6 3 2 B |
2 | 8 3 F 4 B 2 8 7 B 4 |
1 | 2 2 3 7 6 B 3 1 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 3 5 2 7 2 4 6 2 4 2 |
3 | B 7 2 X 5 5 2 9 6 4 |
2 | 4 2 8 1 8 B 3 6 B 2 |
1 | 6 B 3 F 7 3 B 3 5 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 3 4 2 7 5 4 6 9 2 4 |
3 | B 6 2 X 2 2 2 1 6 2 |
2 | 4 B 5 7 5 8 3 2 8 5 |
1 | B 3 6 B F 7 B 3 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 7 2 4 2 2 7 2 2 |
3 | 5 3 X 4 6 5 8 9 6 4 |
2 | B 6 2 8 B 3 2 B 3 B |
1 | F B 7 3 6 B 5 3 1 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 9 X 4 6 5 5 6 2 |
3 | 7 8 3 3 7 2 2 2 3 5 |
2 | 2 4 7 4 2 3 3 1 8 2 |
1 | B B F 6 B B 6 4 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 6 3 1 2 6 2 6 4 2 |
3 | X 2 5 5 9 2 2 B 5 4 |
2 | 8 7 3 7 8 4 2 7 5 2 |
1 | F 3 3 B 3 B B 4 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 2 7 5 6 9 8 6 7 |
3 | 6 B 5 3 2 2 3 1 2 X |
2 | 5 4 3 8 B 3 2 7 2 4 |
1 | 4 B 6 B F B 5 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 X 2 2 2 9 1 B 2 7 |
3 | 2 2 5 2 3 7 B 4 B 5 |
2 | 8 6 B 6 8 3 5 3 3 4 |
1 | 6 B F B 6 4 3 5 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 2 5 2 2 5 2 5 4 |
3 | 2 8 6 7 7 6 X 9 8 7 |
2 | B 3 B 4 3 3 3 1 3 B |
1 | 4 B F B 2 B 6 6 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 X 6 4 2 2 4 2 4 |
3 | 6 8 3 9 5 2 B 6 2 6 |
2 | B 1 8 7 B 2 7 3 B 5 |
1 | F B 3 7 5 3 B 2 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 2 5 5 2 9 X 7 5 |
3 | 2 6 2 B 8 6 1 8 4 6 |
2 | 3 3 B F 2 7 7 5 6 3 |
1 | B 4 2 B 4 3 B B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 2 2 6 5 3 7 6 X |
3 | 5 B B 4 2 9 8 8 2 4 |
2 | 2 5 4 B 5 2 1 4 2 7 |
1 | 3 B B F B 6 3 3 3 7 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 5 3 2 2 2 6 2 2 |
3 | B 2 9 7 5 6 3 8 6 3 |
2 | 4 3 7 3 X 8 7 5 B B |
1 | 2 5 B 4 F 1 B 4 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 8 2 6 2 2 5 2 7 |
3 | 2 6 5 4 9 6 8 3 B 2 |
2 | B X 3 B 7 3 1 4 B 4 |
1 | 6 4 B F B 5 3 7 3 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 5 X 2 4 3 B 4 2 |
3 | 3 B 7 2 8 9 8 5 B 3 |
2 | B 5 6 7 2 1 7 6 2 B |
1 | 3 4 B F 2 2 6 6 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 4 9 3 4 7 3 B 4 B |
3 | 5 6 1 8 2 2 6 6 B 3 |
2 | 2 B 2 7 5 2 X 8 6 B |
1 | 2 4 F 5 7 3 3 5 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 4 4 6 6 5 3 5 5 |
3 | 2 X 1 6 9 8 2 7 2 6 |
2 | 2 3 B 3 2 B 3 B B 2 |
1 | 8 B F 7 2 3 4 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 8 5 2 6 2 9 4 2 |
3 | 6 5 6 7 2 8 1 2 6 5 |
2 | 5 7 3 3 2 X 3 3 4 7 |
1 | 4 2 B F B B B B B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 6 1 2 4 2 5 6 4 |
3 | 5 8 2 9 5 6 X 2 8 5 |
2 | 3 6 B 2 7 7 7 3 B 2 |
1 | 3 B F B 3 2 B 4 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 4 6 4 2 5 6 4 2 |
3 | 6 5 2 1 8 6 2 3 7 2 |
2 | 3 B 9 3 B B 8 X B 3 |
1 | 2 5 7 B F B 7 3 5 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 X 9 6 5 7 2 3 5 |
3 | 8 2 8 1 7 2 6 2 6 2 |
2 | 3 B 4 B 4 B 3 2 2 6 |
1 | 5 3 B F B 4 B 4 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 6 7 7 6 5 6 6 5 2 |
3 | 4 B X 8 2 2 9 8 2 7 |
2 | 5 5 1 F B 2 3 B 3 B |
1 | B 3 2 2 4 2 3 4 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 7 2 2 2 6 2 2 7 3 |
3 | 1 6 8 5 7 2 6 4 2 9 |
2 | B X 5 4 B 8 5 B 6 5 |
1 | 3 4 3 B F B 3 B 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 7 6 4 5 X 8 5 4 |
3 | 9 2 3 8 5 7 1 2 6 7 |
2 | 2 2 6 B 2 2 B 3 2 B |
1 | 3 2 B F B 3 5 B 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 7 2 9 6 4 2 7 4 2 |
3 | 7 X 2 5 1 5 8 2 6 2 |
2 | 8 6 3 B 5 4 B 3 2 2 |
1 | 3 3 B F B 5 3 B B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 8 X 5 6 1 8 5 2 |
3 | 6 7 2 3 7 9 2 3 7 6 |
2 | 2 2 5 B 3 2 3 4 B 2 |
1 | B 4 B F B 6 2 3 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 B 1 8 6 4 3 7 5 3 |
3 | 2 4 6 9 5 2 2 X 6 8 |
2 | B B 7 6 B 7 2 2 2 2 |
1 | 4 3 5 B F B 3 3 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 4 7 X 2 7 9 8 2 5 |
3 | 4 B 6 2 2 5 1 B B 2 |
2 | 2 6 8 6 2 4 3 5 4 B |
1 | 3 5 3 F 7 6 3 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 X 9 4 2 6 B 4 2 |
3 | 2 2 2 6 8 2 4 1 5 6 |
2 | 6 2 B 4 7 2 5 7 8 5 |
1 | 3 B F B 3 3 3 B 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 5 3 5 5 3 2 2 2 |
3 | 5 B 7 X 7 7 6 B 6 3 |
2 | 6 4 B 3 2 2 B 4 9 6 |
1 | 8 B 4 F 3 2 4 B 1 8 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 5 8 X 6 5 B 6 4 6 |
3 | 9 2 7 1 3 8 B 4 5 7 |
2 | 4 B 3 7 2 4 B 2 3 2 |
1 | B F B 3 2 2 3 2 5 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 5 8 2 5 X 2 7 4 5 |
3 | 7 2 6 5 4 2 6 8 2 9 |
2 | 3 B 4 6 7 3 B 1 6 2 |
1 | B F B 3 2 B 4 3 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 3 8 5 2 3 9 5 2 |
3 | 7 2 X 5 2 7 4 B 2 7 |
2 | 6 2 8 1 B 6 4 B 6 B |
1 | F 2 3 6 B 3 3 4 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 3 7 6 4 2 6 6 2 3 |
3 | X 8 3 9 3 2 8 3 2 B |
2 | 2 2 7 1 5 5 B 6 4 5 |
1 | 2 2 B F 4 B 4 B 7 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 8 2 5 2 3 9 7 6 |
3 | 3 7 X 2 6 4 7 1 8 2 |
2 | B 5 6 3 2 B 3 4 B 5 |
1 | 4 B 3 F 5 B 2 2 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 7 3 9 4 4 2 X 2 5 |
3 | 2 2 8 5 1 8 7 5 2 7 |
2 | 5 2 6 4 3 4 6 6 2 2 |
1 | B 3 B B F B B B 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 7 3 2 4 6 7 2 4 |
3 | 2 6 2 8 5 2 4 2 5 2 |
2 | 4 9 1 3 3 6 X 8 3 B |
1 | 6 B 3 B F B B B 7 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 2 7 4 2 9 B 2 B |
3 | 7 5 3 5 2 6 5 2 5 B |
2 | 3 X 8 6 7 3 1 8 2 4 |
1 | 6 3 F 4 B 4 6 3 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 4 4 2 2 5 4 6 2 |
3 | 2 2 6 8 5 2 X 8 2 4 |
2 | B 5 6 7 7 6 1 9 7 B |
1 | 3 3 3 F 3 B B 3 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 2 7 2 5 7 6 2 6 |
3 | 8 3 X 5 2 8 B 1 2 9 |
2 | 6 2 4 5 4 3 4 3 2 3 |
1 | 3 B 5 4 F B B B 7 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 3 X 6 2 6 B 2 B |
3 | 9 2 8 1 8 5 B 5 6 4 |
2 | 3 7 F 3 2 2 7 B 2 B |
1 | 4 7 3 3 2 5 B 5 4 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 4 9 6 4 7 8 6 2 |
3 | 2 7 3 1 5 2 2 2 2 B |
2 | B 3 8 3 X B 6 7 5 4 |
1 | F 2 5 B 3 4 B 5 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 6 3 2 2 6 2 6 4 2 |
3 | X 2 5 5 9 2 2 B 5 4 |
2 | 8 7 3 7 8 1 4 7 5 2 |
1 | F 3 3 B 3 B B 4 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 8 2 4 2 5 2 2 6 |
3 | B 6 X 4 7 2 8 9 5 B |
2 | 7 1 B B 3 6 3 3 2 4 |
1 | 5 3 B F 5 3 6 B 2 7 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 B 3 2 6 8 3 5 6 |
3 | 5 6 4 3 5 X 2 8 2 9 |
2 | 7 B 4 B 6 B 7 1 2 7 |
1 | 3 5 B F B 4 3 2 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 5 X 2 2 2 2 9 5 5 |
3 | 4 4 8 6 B 6 7 8 4 4 |
2 | 2 B 2 7 B 6 B 1 2 2 |
1 | 6 3 3 B F B 3 3 3 7 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 6 1 4 6 X 3 5 5 |
3 | 6 8 2 9 5 2 2 2 8 6 |
2 | B 3 B 7 7 7 3 3 B 2 |
1 | 4 B F B 5 2 B 3 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 7 6 2 5 7 2 2 5 |
3 | 7 5 X 2 9 6 2 8 6 2 |
2 | F 6 B B 1 8 3 2 3 B |
1 | 4 3 4 B 4 3 B B 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 5 8 2 7 3 7 4 2 |
3 | 2 9 2 1 5 2 6 8 2 6 |
2 | 7 3 F B B X B 2 5 3 |
1 | 6 3 5 B 4 B 4 3 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 8 B B 7 2 2 5 7 |
3 | 9 X 8 B 4 B 5 1 2 3 |
2 | 5 6 3 3 B 4 3 6 2 6 |
1 | F 3 6 2 4 B 2 2 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | F 6 8 9 4 5 2 6 4 2 |
3 | 8 X 2 1 6 B 3 B 5 B |
2 | 7 2 2 7 B 3 B 4 B 4 |
1 | 3 3 6 3 7 5 2 5 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 1 B B 5 2 8 6 4 |
3 | B 9 3 4 4 2 7 3 X 2 |
2 | B 8 7 5 3 2 3 3 7 B |
1 | 6 F 5 2 2 2 2 6 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 2 6 8 B 2 6 5 2 6 |
3 | X 2 2 2 4 B 5 B 5 8 |
2 | 3 2 9 7 3 6 4 4 B 4 |
1 | 3 2 7 F 1 B 3 5 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 7 X 6 2 5 4 2 4 |
3 | B 2 6 5 2 7 9 7 2 B |
2 | 2 3 8 B 4 5 1 8 6 3 |
1 | 3 4 B F B 3 6 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 4 2 7 4 5 2 6 2 2 |
3 | 9 2 5 3 6 8 1 2 7 5 |
2 | 6 2 B B X 4 3 B 2 3 |
1 | 3 8 B F B 5 B 4 3 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 2 8 5 2 9 2 4 7 |
3 | 3 7 X 2 7 6 3 6 B 2 |
2 | 4 6 B 4 2 B 1 5 6 8 |
1 | 2 B F B 3 B 3 5 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 6 2 4 2 2 6 2 5 |
3 | B 8 1 9 B 7 X 3 8 B |
2 | 5 B 6 7 4 B 7 6 B 5 |
1 | 3 3 2 4 F 4 2 2 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 1 9 2 2 4 B 2 2 |
3 | 5 6 3 3 7 6 5 3 6 2 |
2 | B X 7 8 5 B 7 B 4 4 |
1 | F 8 6 B 3 5 3 4 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 5 7 B B 5 9 6 4 7 |
3 | 4 B 5 8 6 3 1 3 2 X |
2 | B 6 4 3 2 7 3 2 2 6 |
1 | F B 5 3 2 2 2 2 4 8 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 7 X 4 5 8 6 4 5 |
3 | 9 6 4 2 7 2 2 2 6 2 |
2 | B 1 7 3 2 B 6 8 5 3 |
1 | F B 3 B 3 B 3 B 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 5 7 5 2 X 6 2 4 |
3 | 2 5 2 1 9 6 2 8 5 2 |
2 | 3 2 3 7 3 8 3 6 3 7 |
1 | B 4 B F B 4 B B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 7 B 7 5 9 5 4 2 |
3 | 2 6 2 3 X B 1 7 2 6 |
2 | 6 2 8 B 4 B 6 5 8 2 |
1 | 3 3 B 4 F 4 B 3 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 6 2 2 6 1 6 2 5 |
3 | 7 2 X 5 4 9 2 2 2 8 |
2 | 3 5 8 B 7 3 4 3 4 3 |
1 | 5 3 B F B B B 7 6 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 2 5 6 4 5 2 2 2 |
3 | 5 B 6 X 8 7 3 6 6 4 |
2 | 7 4 3 B 1 9 2 B 3 7 |
1 | 3 2 B F 8 3 B 4 B 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 2 2 3 2 5 2 5 4 |
3 | 2 7 X 2 5 6 2 9 7 2 |
2 | 3 4 8 6 7 8 3 6 1 3 |
1 | B B 3 F B 6 B B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 7 2 6 2 2 4 B 2 |
3 | 5 9 6 3 8 X 6 8 6 3 |
2 | 7 1 B B 5 7 3 5 2 B |
1 | 2 5 F 4 B 3 B 2 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 X 8 6 2 5 7 5 6 |
3 | 7 2 8 2 2 3 9 6 2 4 |
2 | B 7 1 3 B B 3 3 2 6 |
1 | F B 2 3 4 4 B 5 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 6 8 2 2 2 2 5 4 |
3 | 4 B 9 1 3 7 X 2 8 7 |
2 | B 4 7 B 6 3 B 3 2 2 |
1 | 3 6 B 4 F 6 5 B 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 4 5 2 4 4 5 2 4 2 |
3 | 6 2 8 3 6 7 6 3 7 5 |
2 | 5 2 9 1 2 X B 8 2 6 |
1 | 3 B F B 3 B B 3 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 X 2 7 2 3 2 2 2 |
3 | 8 5 8 1 9 5 7 6 B 4 |
2 | 6 3 2 B B B B 7 4 4 |
1 | F 2 3 5 5 4 B 6 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 6 B 7 5 9 2 5 6 |
3 | 8 2 2 3 X B 1 2 2 8 |
2 | 2 7 6 B 4 B 6 5 7 2 |
1 | 3 3 B 4 F 4 B 2 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 7 9 5 4 7 2 5 4 |
3 | 6 2 X 1 7 2 B 4 3 6 |
2 | 2 8 8 6 2 3 B 2 5 3 |
1 | 6 3 F 3 B B 4 B B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 3 2 7 2 4 2 6 2 |
3 | 2 7 5 7 2 5 B 4 5 6 |
2 | B 3 8 1 2 6 3 B B 9 |
1 | 4 F 3 3 X B B 4 5 8 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 8 2 2 6 2 2 6 2 |
3 | 4 X 4 3 2 8 2 3 9 4 |
2 | 5 7 B 5 7 5 6 1 7 B |
1 | 3 B F B 3 3 B B 5 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 6 9 8 6 6 B 4 5 4 |
3 | 2 2 7 X 2 2 5 B 3 2 |
2 | 5 7 2 7 3 B 8 5 B B |
1 | 2 2 3 F B 4 1 3 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 X 8 6 6 5 4 5 2 |
3 | 2 8 2 2 1 9 2 3 2 7 |
2 | 6 3 B 7 3 B 2 B 5 2 |
1 | 3 B F B 5 7 3 4 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 2 X 6 2 9 2 6 2 |
3 | 7 4 6 5 8 7 5 8 4 7 |
2 | 4 5 3 B 3 4 B 1 B 5 |
1 | 2 3 B F B 2 3 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 5 6 4 2 2 4 5 2 |
3 | B 6 X 9 2 B 6 6 7 5 |
2 | B 4 7 1 8 7 3 5 B 2 |
1 | 2 8 F B 3 3 B 3 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 3 X 6 6 2 2 2 2 |
3 | 5 6 5 3 8 9 3 2 6 5 |
2 | 7 B 8 3 2 1 7 B 2 3 |
1 | B 4 F 5 B 4 B 4 B 7 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 2 9 2 5 7 2 B 6 |
3 | 6 8 3 2 6 2 X 2 5 4 |
2 | B 1 7 4 B 8 6 2 3 B |
1 | F B 3 5 3 4 3 7 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B B 4 7 6 5 3 2 6 2 |
3 | 4 B 6 3 2 5 6 3 5 8 |
2 | B 5 B 8 B 2 1 X 2 2 |
1 | F 2 4 2 4 3 3 7 7 9 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 7 X 5 2 6 9 6 5 2 |
3 | 5 6 8 2 4 7 1 8 2 B |
2 | B 3 2 5 6 3 7 B 3 4 |
1 | F B 4 3 4 2 B 3 2 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 X 2 2 5 7 6 2 6 |
3 | 6 8 3 6 4 9 1 2 3 2 |
2 | 4 3 7 4 B 7 5 B 2 8 |
1 | B 5 3 B F B 3 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 9 2 4 2 3 5 4 2 |
3 | 2 8 1 X 6 5 2 3 6 5 |
2 | 7 B F 7 8 7 2 3 2 2 |
1 | 3 4 6 3 B B B 4 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 3 2 5 6 6 2 5 2 |
3 | 7 6 3 X 7 8 9 2 7 6 |
2 | B 8 B 3 2 1 B 3 B 2 |
1 | 4 B 4 F 5 2 4 B 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 8 B B 7 2 2 5 7 |
3 | 9 X 8 B 4 B 5 1 2 3 |
2 | 5 3 6 3 B 4 2 6 2 6 |
1 | F 6 3 2 4 B 2 3 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 3 X 2 4 9 5 2 B |
3 | 6 2 7 8 2 2 8 3 6 4 |
2 | B 3 6 5 4 5 1 6 B B |
1 | F B 3 7 B 2 2 7 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 2 5 2 5 3 2 7 5 |
3 | 3 7 X 4 B 6 9 1 8 2 |
2 | 2 B 7 8 3 B 5 B 6 4 |
1 | B 4 2 F 6 3 B 4 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 7 3 7 2 5 2 6 2 5 |
3 | 6 5 8 X 6 9 2 6 5 7 |
2 | F 2 B B B 1 8 3 2 B |
1 | B 4 3 4 2 3 2 B 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 4 2 7 4 5 2 2 7 2 |
3 | X 2 8 3 6 8 1 9 2 6 |
2 | 3 2 5 B B 4 3 B 2 3 |
1 | 6 4 B F B 5 B 5 3 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 2 6 3 6 8 2 5 2 |
3 | 8 6 B 7 9 1 7 7 B 3 |
2 | 2 2 3 B 6 2 B 5 B X |
1 | 4 2 F 4 3 5 3 5 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 B B 5 2 8 9 5 6 |
3 | 4 B 4 3 2 5 1 2 2 X |
2 | B 4 2 8 B 7 6 6 3 2 |
1 | 5 3 7 F 6 7 2 3 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 X 7 2 2 6 B B 5 |
3 | 2 7 8 1 B 5 8 2 4 7 |
2 | 3 5 B 4 4 3 6 3 9 2 |
1 | B 3 6 F 4 B 3 6 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 5 8 6 2 2 7 5 2 |
3 | 2 9 1 X 2 2 3 6 4 5 |
2 | 2 3 8 B 7 B 4 B 6 2 |
1 | 3 6 F B 3 B 4 B 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 8 2 5 6 3 2 2 5 |
3 | 4 6 5 X 7 8 5 9 6 7 |
2 | 7 2 B F B 1 3 6 3 2 |
1 | 2 2 4 B 4 B 4 3 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 7 1 8 2 6 B 5 4 |
3 | 6 2 9 3 X 5 2 5 B B |
2 | 3 4 7 3 7 2 8 4 B 4 |
1 | 2 B 3 F B 6 3 2 6 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 9 6 2 4 8 6 B B |
3 | 2 2 3 8 4 2 B 2 4 5 |
2 | B 5 X 3 3 2 6 B 6 2 |
1 | F B 7 1 5 4 7 3 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 4 2 5 6 2 5 6 4 |
3 | 8 2 4 X 7 2 8 B 9 4 |
2 | B B 3 1 B 6 7 3 2 2 |
1 | 3 2 7 B F B 5 3 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 2 4 6 3 2 8 4 6 |
3 | 7 9 3 X 2 2 7 6 7 2 |
2 | 2 2 3 5 B 5 B 1 2 3 |
1 | 8 4 5 B F B B 5 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 8 X 6 2 8 9 5 2 |
3 | 2 5 7 7 B 2 2 7 1 2 |
2 | 6 B 4 B 4 3 B 6 5 6 |
1 | 3 4 B F B 4 3 3 3 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 2 5 6 2 2 4 6 5 |
3 | 5 6 9 8 B 4 4 8 2 7 |
2 | 7 2 1 3 B B 5 7 2 X |
1 | 3 2 3 B F B 3 B 6 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 5 4 6 2 X 6 2 5 |
3 | 2 4 9 1 8 2 5 8 3 7 |
2 | 7 2 3 B 3 7 B 3 2 4 |
1 | 2 5 B F B 3 4 B 6 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 2 2 6 2 3 5 6 X |
3 | 5 B B 4 2 9 8 8 2 4 |
2 | 2 5 4 B 5 6 1 7 2 7 |
1 | 3 B B F B 4 3 3 3 7 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 X 6 2 4 6 9 2 6 |
3 | 3 6 5 5 4 B 8 1 4 8 |
2 | B 2 7 7 B 5 B 7 2 2 |
1 | F B 3 3 3 2 3 5 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 6 1 7 2 2 8 2 2 |
3 | B 9 2 8 X 6 4 2 5 6 |
2 | 4 3 5 B 6 3 7 B 2 4 |
1 | 3 7 B F B 5 3 5 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 7 5 9 2 4 1 5 2 4 |
3 | X 8 2 2 5 6 2 7 2 B |
2 | B 3 6 7 2 8 B 4 6 4 |
1 | F B 3 3 5 3 3 B B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 5 7 4 2 6 2 2 2 |
3 | 7 2 9 3 6 2 8 3 7 4 |
2 | B 5 6 1 8 B 3 6 B 5 |
1 | F B 4 3 2 4 B X 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 9 1 8 4 X 6 4 2 |
3 | 2 B 7 2 2 2 7 8 B 2 |
2 | B 3 5 5 2 6 3 7 3 B |
1 | 3 2 B F B 5 6 4 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 7 4 2 2 4 B 2 6 |
3 | X 6 2 9 7 2 8 B 4 2 |
2 | 7 2 8 1 3 6 B 4 B 5 |
1 | 3 3 5 F 5 5 B 3 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 7 5 9 6 2 5 2 4 2 |
3 | X 5 6 1 5 B 2 7 6 2 |
2 | 8 3 B 3 8 2 4 4 B 2 |
1 | 3 B F B 4 3 7 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 4 7 B 3 6 8 7 5 3 |
3 | 4 B 2 2 9 1 7 X 2 8 |
2 | 2 4 6 B 5 2 6 3 2 2 |
1 | 5 B B 4 F 3 5 3 6 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 7 3 2 6 B 4 5 7 B |
3 | 4 9 2 1 8 4 8 2 X 4 |
2 | 6 5 2 7 B 5 2 3 6 2 |
1 | 3 2 3 B F B 6 2 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 3 6 X 2 2 5 6 2 B |
3 | 4 B 8 2 4 7 1 9 2 4 |
2 | 6 5 3 7 B 2 2 8 6 5 |
1 | 3 5 3 B F B 7 4 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 3 6 5 4 9 2 6 4 |
3 | 2 7 4 8 B 6 7 1 8 3 |
2 | 2 B X 3 2 7 B 3 2 2 |
1 | 5 2 B 5 F 2 B 4 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 6 X 7 2 2 8 6 5 |
3 | 7 5 2 4 2 3 7 1 9 B |
2 | 4 B 2 3 B 6 2 6 8 B |
1 | 2 5 3 B F B 3 3 5 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 5 7 5 2 X 6 2 5 |
3 | B 4 9 4 B 6 2 2 2 8 |
2 | 4 8 1 7 4 B 3 5 2 3 |
1 | 6 3 F B B 3 B 3 2 7 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 7 9 1 8 2 8 6 2 4 |
3 | 5 2 2 6 X 2 4 B 5 2 |
2 | 2 3 7 B 5 3 7 4 B 4 |
1 | 3 6 B F B 5 3 6 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 X 8 1 4 4 6 4 5 2 |
3 | 6 2 2 6 9 2 2 2 2 8 |
2 | B 7 7 7 3 B B 5 2 3 |
1 | F B 3 B 6 3 5 B 3 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 5 3 9 6 6 X 3 4 6 |
3 | 2 B B 1 2 2 2 5 2 2 |
2 | B 5 8 7 B 5 2 2 8 B |
1 | 4 4 F 7 3 3 3 7 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 6 4 B 4 6 2 2 4 |
3 | 5 7 3 7 B 8 1 6 5 7 |
2 | 2 2 9 3 6 X 3 3 8 2 |
1 | 2 3 B B F 5 B B 5 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 3 8 5 2 4 6 5 B |
3 | 8 6 7 2 2 3 9 3 2 4 |
2 | B X 6 7 4 5 1 7 B B |
1 | F B 3 6 B 2 2 2 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 X 3 2 6 5 2 2 6 |
3 | 2 8 7 7 2 9 1 B 4 5 |
2 | 4 6 5 B 5 8 7 4 B 4 |
1 | 3 3 B F B 3 2 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 7 X 9 5 4 6 B 5 2 |
3 | 2 8 3 1 7 2 8 4 B B |
2 | 6 3 3 6 2 2 7 5 B 4 |
1 | 2 B F 5 B 6 3 2 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 8 2 5 6 5 7 5 4 |
3 | 7 3 2 2 4 2 2 B 2 6 |
2 | X 6 7 B 8 9 1 4 B 2 |
1 | 3 3 B F B 3 4 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 8 B 7 5 8 2 2 5 |
3 | 5 2 2 3 4 2 6 9 6 3 |
2 | B 3 4 7 2 X 1 5 B 2 |
1 | 4 B B F 6 3 7 B 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 2 X 2 4 9 4 2 6 |
3 | 5 8 2 2 7 6 1 2 8 5 |
2 | B 5 7 4 6 5 B 7 2 B |
1 | 3 3 B F B 3 4 B 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 7 3 6 2 B 4 6 2 |
3 | 2 2 8 3 2 6 2 2 8 5 |
2 | 3 5 X 7 5 9 1 5 2 B |
1 | 7 B 4 F 4 3 B B 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 X 2 2 6 2 9 4 2 |
3 | 4 B 5 7 2 8 7 1 2 5 |
2 | B 4 B 5 6 6 6 7 8 2 |
1 | F B 4 B 5 3 3 3 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 2 7 2 6 3 8 6 4 |
3 | 8 2 4 2 9 2 2 3 5 6 |
2 | 4 1 2 7 B X B 3 B 5 |
1 | 3 2 3 B F B 4 B 5 7 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 7 9 5 6 X 2 2 4 |
3 | 2 B 4 1 7 6 8 2 7 2 |
2 | B 4 6 3 B 5 2 3 5 8 |
1 | 4 2 3 B F B B 6 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 9 4 7 5 8 4 2 2 |
3 | 5 7 1 2 X 2 B 2 6 4 |
2 | B 8 4 3 7 5 6 3 B B |
1 | F B 6 3 2 6 B 2 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 3 5 7 6 2 5 2 3 4 6 |
3 | 6 2 8 1 5 7 2 X 2 9 |
2 | 3 7 B 4 2 B 6 8 2 5 |
1 | B 4 B F 4 B 3 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 7 X 7 2 2 2 B 5 |
3 | 4 9 1 5 2 6 8 6 4 B |
2 | 2 2 8 3 B 5 7 B 3 2 |
1 | 3 6 3 B F B 3 4 6 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 1 6 7 2 5 6 4 2 |
3 | B 8 X 2 2 2 8 9 2 7 |
2 | F B 3 5 2 7 4 3 5 2 |
1 | B 3 6 3 4 B B B 3 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 2 7 6 5 9 6 5 2 |
3 | 8 2 7 X 8 2 4 B 2 B |
2 | 1 3 6 B 4 2 5 3 4 7 |
1 | 3 5 B F B 4 3 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | X 5 2 8 6 3 6 2 2 4 |
3 | 3 B 7 7 1 9 7 B 6 8 |
2 | 2 B 5 F 2 6 B 3 2 2 |
1 | 4 B 5 3 5 3 4 B 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 3 7 2 5 7 6 2 B |
3 | 2 9 5 4 6 8 4 2 X 5 |
2 | 6 2 7 1 3 3 B 4 2 8 |
1 | 4 3 B F 5 B B B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 9 4 8 B B B 4 2 8 3 |
3 | 3 2 7 B 4 2 6 X 2 7 |
2 | 6 1 6 4 B 2 7 3 5 2 |
1 | F 6 5 5 3 B 3 2 2 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 5 2 2 4 2 2 5 6 |
3 | X 2 8 9 5 6 8 6 7 2 |
2 | B 7 1 7 2 3 4 B B 4 |
1 | F B 3 3 2 3 5 B B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 8 4 2 2 6 2 2 4 |
3 | 5 7 3 7 2 5 9 4 2 6 |
2 | 3 X B 6 4 8 1 3 3 5 |
1 | B B F B 7 2 3 6 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 2 4 1 4 2 7 2 2 6 |
3 | X 5 8 6 9 6 2 3 5 B |
2 | B 3 3 8 2 4 B 7 2 B |
1 | F B 6 5 2 3 5 B 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 X 7 4 5 9 2 5 5 |
3 | 8 2 4 2 2 8 1 2 2 7 |
2 | B 2 6 6 6 7 B 3 6 3 |
1 | F B 3 3 B 4 3 B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 4 6 2 4 2 5 B 5 2 |
3 | B 8 1 7 B 6 3 2 4 6 |
2 | 4 X F 7 3 8 2 9 6 2 |
1 | 3 2 B 5 2 5 B 3 7 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 5 X 2 5 2 9 5 2 4 |
3 | 8 4 3 1 8 4 2 3 B B |
2 | 2 2 7 6 B 3 7 2 B 4 |
1 | 7 3 6 B F B 6 6 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 8 2 5 2 9 7 2 4 |
3 | 6 6 3 7 2 1 B 4 B 6 |
2 | 7 X 2 3 B 5 8 B 5 2 |
1 | 3 2 3 F B 3 6 4 2 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 4 8 X 6 B 9 8 2 B |
3 | 4 B 6 7 3 3 1 7 4 4 |
2 | B 7 5 3 2 2 2 2 6 6 |
1 | F B 3 3 2 5 2 2 5 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 9 7 5 6 8 5 7 2 |
3 | 4 1 4 3 2 X 2 3 2 6 |
2 | 8 5 6 7 2 2 4 B 2 4 |
1 | B B F B 3 B 3 2 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 5 7 9 6 4 2 3 4 5 |
3 | 8 2 X 1 3 2 8 2 6 7 |
2 | 7 2 2 3 6 B B B 5 2 |
1 | 3 2 5 B F 4 B 4 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 X 2 5 6 2 B 5 4 |
3 | 2 2 8 7 2 2 9 2 B B |
2 | 6 7 B 1 4 7 2 8 3 4 |
1 | 3 B F B 6 3 5 3 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 B 6 9 5 6 X 3 4 5 |
3 | B 5 2 1 2 4 6 8 2 2 |
2 | B 4 B 8 2 3 7 6 2 2 |
1 | 5 3 F B 7 3 7 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 6 2 4 2 2 6 2 5 |
3 | B 8 1 9 B 7 X 3 8 B |
2 | 5 B 6 7 4 B 7 6 B 5 |
1 | 3 2 3 4 F 4 2 3 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 B 7 2 6 2 3 6 2 |
3 | 3 2 8 2 7 4 1 B 2 6 |
2 | X 4 3 5 B 9 3 4 3 8 |
1 | 7 2 5 B F B 4 5 B 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 6 X 2 2 9 7 4 2 |
3 | 4 B 8 2 5 6 1 8 B 4 |
2 | 3 7 2 7 B 6 3 2 5 B |
1 | 3 2 5 B F B 5 3 6 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 8 5 X 6 2 2 4 2 2 4 |
3 | F 3 3 9 5 B 3 6 2 6 |
2 | 1 8 6 7 B 4 B B 2 3 |
1 | 7 3 7 B 4 B 5 2 2 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 5 6 X 5 5 9 6 5 2 |
3 | B 7 B 3 7 8 1 8 7 6 |
2 | 4 B 4 B 3 2 2 2 2 3 |
1 | B 4 F 4 B 3 2 2 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 3 2 6 6 2 5 6 5 |
3 | 7 4 9 1 X 7 2 8 2 4 |
2 | 2 7 B F 4 8 3 4 B 2 |
1 | 2 2 3 B B 3 5 B B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 2 7 5 4 2 8 5 4 |
3 | 2 6 2 9 2 6 1 3 2 5 |
2 | B 6 8 3 7 3 B 3 X 7 |
1 | 4 B B 2 F 3 4 B B 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 8 X 6 6 6 6 5 2 |
3 | 2 5 4 B 4 B B 9 7 2 |
2 | 2 5 B F 8 4 2 1 B 3 |
1 | 2 7 3 B 3 2 3 7 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 5 6 2 5 4 2 4 5 4 |
3 | 3 7 2 1 2 6 9 2 6 2 |
2 | 7 X 8 B 7 8 B 2 2 4 |
1 | F B 3 B 3 3 B 6 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 3 5 3 1 5 4 4 4 B 5 |
3 | 7 X 8 8 9 B B 5 B 4 |
2 | 2 2 2 2 2 2 2 B 6 2 |
1 | 3 F 6 7 7 6 3 6 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 2 7 5 2 1 B B 4 |
3 | 8 5 X 2 6 6 8 4 4 5 |
2 | 2 3 2 7 3 9 2 7 6 2 |
1 | 5 4 B B F 3 3 B B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 3 7 5 6 1 5 4 5 |
3 | B 3 X 6 B 8 9 6 7 7 |
2 | 4 8 B 2 2 2 2 3 B 2 |
1 | F 5 4 B 2 2 3 3 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 8 X 5 2 6 4 5 2 |
3 | 7 6 1 8 6 9 2 7 4 6 |
2 | 2 2 4 B 7 3 3 B B 2 |
1 | 3 3 B F B 5 2 4 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 5 2 2 4 8 5 4 2 |
3 | 5 6 2 7 2 6 3 2 B B |
2 | 5 8 X B 3 9 1 7 4 3 |
1 | B 3 B F B 6 7 6 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 2 2 4 5 2 5 2 5 |
3 | 2 5 3 X 6 3 7 9 6 4 |
2 | 3 7 B 6 7 B 8 B 8 3 |
1 | 2 B 4 F B 2 6 3 B 1 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 9 2 4 B 5 4 2 4 |
3 | 2 2 8 2 7 X 1 8 5 2 |
2 | B 7 3 6 3 2 B 3 7 B |
1 | B B 5 F 5 3 6 2 3 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 X 9 6 4 7 B 2 B |
3 | 7 2 2 1 2 5 8 6 B 4 |
2 | 5 3 8 2 2 3 7 B 5 B |
1 | F 3 2 3 6 B 5 4 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 7 3 5 7 X 4 6 5 |
3 | 6 2 9 2 8 2 2 1 8 7 |
2 | 2 6 2 B 2 3 5 3 2 4 |
1 | B 3 B F B 3 B 6 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 6 X 5 6 3 2 4 2 |
3 | B B 9 2 7 2 8 6 6 5 |
2 | 4 B 1 8 3 3 7 2 2 7 |
1 | F B 4 3 4 B B 5 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 8 2 7 5 6 3 8 6 2 |
3 | 2 X 6 4 6 9 3 3 2 5 |
2 | B 3 B 7 2 5 2 2 1 B |
1 | 4 B F B B 3 2 4 7 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 8 2 6 3 5 2 3 2 5 4 |
3 | 2 7 8 6 7 2 2 3 B B |
2 | 2 2 1 5 9 4 B 7 4 3 |
1 | 3 X 6 F 5 B 4 B 6 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 9 3 2 5 8 6 2 5 |
3 | 4 2 4 1 7 2 B 5 B 2 |
2 | 6 8 6 3 X 5 B 7 4 3 |
1 | 2 4 B F 2 3 7 B 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 6 3 5 6 2 4 5 6 |
3 | 2 7 2 9 2 2 4 B 6 2 |
2 | X 1 8 3 B 7 B 4 2 5 |
1 | 3 3 8 B F B 4 3 B 7 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 6 8 6 2 7 5 2 4 |
3 | B B 2 2 2 9 6 2 2 5 |
2 | 5 7 3 B B 6 5 3 8 7 |
1 | 3 4 4 B F B 3 3 1 X |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 8 5 2 6 3 7 5 4 |
3 | 5 3 X 6 2 9 2 8 5 6 |
2 | 7 B B 7 2 2 3 1 B B |
1 | B 4 F B 2 2 3 2 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 X 1 5 B 2 5 3 2 |
3 | 5 8 2 3 9 8 B 7 2 4 |
2 | 2 2 7 7 6 B 3 B 4 2 |
1 | 3 6 F 6 2 4 B 3 B 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 5 X 2 2 5 6 2 B |
3 | 4 B 8 2 4 6 1 9 2 4 |
2 | 6 7 3 2 B 2 4 8 5 6 |
1 | 3 5 3 B F B 7 3 7 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 7 3 7 5 2 2 2 7 5 |
3 | 5 6 9 1 2 6 8 X 2 2 |
2 | 4 2 6 4 B 4 B 8 6 3 |
1 | 5 3 B F B 3 B 3 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 5 6 B B 5 9 6 5 7 |
3 | 4 B 8 4 4 2 1 3 2 X |
2 | B 6 7 3 2 7 2 2 2 8 |
1 | F B 5 4 3 2 2 3 3 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 6 4 6 2 7 6 2 6 |
3 | 7 2 9 1 8 4 2 X 5 8 |
2 | 5 2 3 7 3 B 5 3 2 4 |
1 | 3 B B F B B 4 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 5 8 5 6 2 B 2 2 5 |
3 | X 2 1 3 2 2 5 6 4 9 |
2 | 6 4 7 B 8 2 7 B B 4 |
1 | F B 7 3 3 2 4 3 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 7 6 5 6 6 1 2 5 |
3 | B 2 2 3 2 8 X 2 9 7 |
2 | 4 2 7 3 B 3 2 2 B 4 |
1 | 8 3 B B F B 6 3 5 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 3 2 2 7 4 2 9 B 2 B |
3 | 7 5 3 5 2 6 5 2 5 B |
2 | 3 X 8 6 7 1 3 8 2 4 |
1 | 6 3 F B B 4 6 2 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 2 X 7 4 9 2 2 6 |
3 | 5 8 2 2 2 6 1 5 8 5 |
2 | B 5 7 B 6 7 B 3 2 B |
1 | 4 3 B F B 3 4 3 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 1 X 2 5 6 2 2 4 |
3 | 6 9 8 7 8 6 7 5 B 5 |
2 | 5 7 3 B B 3 2 3 2 B |
1 | 2 4 2 B F B 3 3 4 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 9 6 2 7 X 2 6 3 4 5 |
3 | B B 5 3 2 2 8 B 6 5 |
2 | 4 8 1 6 2 2 B 4 B 7 |
1 | F 3 3 7 2 2 5 B 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 3 6 2 2 5 6 8 6 4 3 |
3 | 4 B 7 B 9 1 6 X 2 8 |
2 | B 4 B 5 2 2 7 7 2 2 |
1 | F B 4 B 5 3 3 5 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 5 3 2 2 2 6 2 2 |
3 | B 2 9 7 5 6 3 8 3 6 |
2 | 4 3 7 3 X 8 7 5 B B |
1 | 2 5 B 4 F 1 B 4 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 B 6 6 5 4 2 7 2 |
3 | 4 5 4 5 9 7 6 2 2 6 |
2 | 2 7 8 1 2 3 X 8 5 2 |
1 | B B B F 3 3 B 4 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 6 3 2 2 5 3 2 B |
3 | 7 2 2 8 6 5 7 9 5 6 |
2 | B 3 X 7 6 2 4 8 2 3 |
1 | 4 1 F B 4 3 B B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 3 6 B 4 7 2 5 2 |
3 | X 8 9 3 B 6 3 B 2 6 |
2 | 2 2 1 B 4 B 5 4 5 4 |
1 | 7 2 8 F 3 B 7 6 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 2 6 4 2 6 7 5 B |
3 | B 5 7 X 2 6 9 2 2 4 |
2 | 5 2 7 B 3 8 1 8 5 B |
1 | 3 3 B F B 3 2 3 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 6 7 4 2 6 4 2 5 |
3 | 8 3 2 X B 5 2 6 2 7 |
2 | 3 7 2 1 6 8 B 9 3 4 |
1 | 3 F 5 B B 4 B 3 2 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 8 7 5 2 4 7 5 4 |
3 | 3 6 2 8 X 6 5 2 4 6 |
2 | B 4 B F 1 9 7 B 6 B |
1 | 3 2 B 3 2 2 B 3 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 6 5 2 6 2 6 4 2 |
3 | 2 2 3 8 B 2 X 5 B 5 |
2 | 2 9 1 3 4 8 3 7 4 3 |
1 | 7 2 B 7 F 5 B B 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 7 2 4 2 2 5 5 2 5 |
3 | 6 2 4 7 2 6 2 3 2 8 |
2 | 8 X 6 5 6 9 7 1 B 3 |
1 | 3 B B B F B 3 B 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 X 6 2 2 6 7 2 2 |
3 | 4 8 6 2 5 8 5 1 9 7 |
2 | 7 5 4 B 4 3 B 6 3 2 |
1 | 3 3 B F B B 4 5 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 9 1 7 2 2 2 5 2 |
3 | 5 7 5 6 X 5 7 B B B |
2 | 2 2 8 B 3 6 8 4 4 4 |
1 | F 6 B 4 2 3 3 3 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 8 6 4 5 7 2 5 4 |
3 | 7 X 2 2 9 1 2 2 8 6 |
2 | B 6 3 2 B 3 7 6 2 3 |
1 | F B B 3 4 B B 2 3 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 X 6 4 5 7 9 4 5 |
3 | 2 2 5 1 8 6 2 2 2 8 |
2 | 6 2 3 7 B 3 6 3 2 4 |
1 | 4 3 B B F B B B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 2 3 6 2 5 B 2 6 |
3 | 2 2 3 8 2 4 9 2 5 2 |
2 | 7 6 X 1 B 7 3 6 3 8 |
1 | 5 B 4 B F B 4 3 7 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 7 2 2 6 4 6 2 5 |
3 | 6 4 X 1 3 4 2 5 B 2 |
2 | 8 3 8 B 9 2 B 5 5 6 |
1 | 3 7 B F B 7 B 3 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 9 5 4 2 2 7 2 B |
3 | 8 2 2 1 7 4 3 5 4 3 |
2 | 5 6 2 B X 6 4 8 2 6 |
1 | 7 3 B F B 3 B B 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 6 X 5 2 6 B 2 5 |
3 | 7 9 1 2 7 2 8 2 7 B |
2 | B 4 8 4 2 2 6 B 3 6 |
1 | F B 5 3 3 2 3 4 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 2 7 5 2 2 X 5 2 |
3 | 8 4 6 3 9 6 4 3 8 6 |
2 | 2 2 3 7 1 2 3 5 7 4 |
1 | B B 5 F 4 B B 3 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 3 1 6 5 B 5 4 2 |
3 | X 2 2 2 9 B 6 4 B 6 |
2 | B 8 7 2 2 8 2 4 4 B |
1 | F B 7 3 3 3 5 7 3 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 6 3 6 B 2 6 2 6 2 |
3 | 5 8 2 X 5 4 9 3 2 2 |
2 | 5 3 1 4 7 3 8 7 3 2 |
1 | 7 4 B B F 4 B B 5 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 6 8 5 2 6 2 8 4 5 |
3 | B 5 3 X 7 9 2 2 6 B |
2 | 4 B 7 3 1 2 3 5 7 4 |
1 | B F B 6 3 2 2 3 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 7 3 2 6 5 2 3 6 2 |
3 | 2 X 7 6 9 2 6 5 8 5 |
2 | 2 5 B 4 8 B 1 B 7 2 |
1 | 3 B F B 3 4 2 4 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 X 8 6 2 5 7 5 6 |
3 | 7 2 8 2 2 3 9 6 2 4 |
2 | 5 7 1 3 B B 3 3 2 B |
1 | F 6 2 3 4 4 B B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 B 2 X 2 2 5 2 2 B |
3 | B 4 3 7 4 6 1 9 B 3 |
2 | B 6 7 8 2 2 8 7 6 3 |
1 | F B 5 4 6 3 5 3 5 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 7 1 7 6 4 2 2 2 4 |
3 | 2 9 4 6 X 7 8 B 6 8 |
2 | 6 2 3 B 3 2 5 3 3 2 |
1 | B 5 B F B 5 3 B 5 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 8 9 6 2 6 X 7 2 |
3 | 3 5 5 1 2 5 2 8 4 5 |
2 | 4 B 7 6 B 2 B 7 3 6 |
1 | 3 B F 4 B 4 B 3 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 7 7 5 2 B 2 4 2 |
3 | 6 2 9 X 2 6 B 4 B 3 |
2 | 3 8 1 5 3 8 B 2 4 B |
1 | 6 5 6 F 7 3 4 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 4 6 B 2 8 5 2 2 |
3 | 6 5 9 3 4 5 4 X 5 B |
2 | B 8 1 7 6 7 6 B 2 4 |
1 | F 7 3 3 2 2 3 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 5 8 X 7 5 5 8 6 2 |
3 | 9 3 6 2 1 2 2 2 3 7 |
2 | B 3 4 B 5 B 4 7 6 2 |
1 | B 4 B F 4 B 3 2 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 3 2 X 5 2 7 B B 4 |
3 | 8 6 2 3 6 9 1 B 4 5 |
2 | 3 4 7 6 2 2 8 5 B 2 |
1 | 5 B F 6 B 7 3 3 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 5 X 7 B 3 2 2 5 |
3 | 6 2 8 9 2 6 5 4 B 4 |
2 | B 2 7 1 3 8 7 6 6 4 |
1 | F 2 5 B B 3 B 3 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 B 4 6 2 3 7 4 2 |
3 | 6 7 X 8 5 2 7 9 2 6 |
2 | 2 4 2 5 2 5 1 8 6 2 |
1 | 3 B B F B 3 B 3 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 B 3 2 6 8 B 2 2 |
3 | 9 6 8 X 5 2 3 4 5 5 |
2 | 7 1 4 B 6 B 3 7 2 7 |
1 | 3 5 B F B 4 3 2 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 4 7 2 6 9 7 4 2 |
3 | 5 2 7 X 5 1 3 2 2 6 |
2 | 2 3 5 3 3 8 B 8 6 2 |
1 | 4 B B F 4 B B 5 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 2 4 5 6 8 2 4 2 |
3 | 7 2 8 X 7 9 5 1 6 7 |
2 | 3 5 4 B 4 6 2 3 5 2 |
1 | B 3 B F B 3 B 3 2 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 7 X 8 5 2 2 2 7 |
3 | B 2 2 3 1 2 2 3 5 9 |
2 | 4 8 6 B 7 2 5 B 3 5 |
1 | 3 3 B F B 6 6 4 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 6 X 2 4 4 7 1 5 4 |
3 | 9 6 3 7 B 5 B 8 2 6 |
2 | 2 2 8 F 6 4 B 2 B 2 |
1 | 2 2 3 3 B 3 B 5 3 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 4 2 6 5 B 8 5 4 |
3 | 9 6 B 5 2 8 B 3 2 6 |
2 | 2 2 3 B X 1 4 6 2 2 |
1 | 3 4 B F B 7 3 2 7 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 1 8 6 2 7 2 2 7 |
3 | 7 9 4 2 X 6 8 B 6 2 |
2 | 4 5 3 5 B 3 5 B 2 2 |
1 | 3 3 3 B F B 4 B 5 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 7 5 2 6 5 6 2 4 |
3 | 4 6 X 2 5 2 2 9 4 2 |
2 | 8 2 7 3 3 8 1 B 7 6 |
1 | 5 B F B 3 B 3 B 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B B 6 X 6 5 9 4 B 6 |
3 | 4 5 8 3 2 2 8 1 7 B |
2 | B 5 7 3 2 2 7 4 2 3 |
1 | F B 6 2 5 3 3 2 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 7 5 2 6 B 9 4 2 |
3 | 6 8 5 2 5 8 3 3 7 6 |
2 | B X 3 B 6 2 2 1 4 2 |
1 | F B 4 B 3 3 7 B 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 X 2 4 5 2 9 6 2 |
3 | 8 5 7 6 2 2 6 3 5 6 |
2 | 4 2 B 4 3 8 7 1 7 3 |
1 | 3 B F B B 4 3 B B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 1 3 6 4 2 5 5 4 |
3 | 2 9 2 2 X 7 2 8 2 6 |
2 | 6 8 3 B 6 2 5 3 2 B |
1 | 3 7 F B B 3 B 4 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 9 X 7 5 2 3 4 2 |
3 | 5 3 4 1 2 2 8 B 6 5 |
2 | B 7 3 8 7 6 2 4 B 6 |
1 | F B 5 2 3 2 B B 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 1 8 6 2 7 2 2 7 |
3 | 7 9 2 2 X 6 8 B 6 2 |
2 | 4 5 3 5 B 3 5 4 B 4 |
1 | 3 3 4 B F B 3 B 5 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 7 9 3 2 2 7 3 5 2 |
3 | 2 2 X 7 2 6 8 2 8 2 |
2 | 4 5 4 B 6 3 1 B 5 B |
1 | 3 6 B F B 5 4 B 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 4 5 B 4 8 X 7 2 |
3 | 6 B 8 3 B 6 1 3 2 6 |
2 | 3 7 B 5 3 2 2 2 2 9 |
1 | 5 B F 4 B 7 3 6 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 6 6 4 2 7 2 2 2 |
3 | 5 8 X 8 6 5 3 B 4 5 |
2 | 3 1 5 B 9 2 2 B 6 B |
1 | 3 7 B F 7 3 B 4 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 3 5 2 2 4 2 6 2 |
3 | 8 2 3 7 2 6 9 7 5 B |
2 | 4 6 B B 5 7 1 X 2 8 |
1 | 3 5 B F B 4 3 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 5 4 6 2 7 6 2 7 |
3 | 9 2 7 1 8 4 2 X 5 4 |
2 | 5 2 3 B 3 6 B 3 2 8 |
1 | 3 B B F B B 4 5 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 6 8 6 5 7 6 2 7 |
3 | 2 5 3 X 2 5 2 5 4 8 |
2 | 7 3 B 4 B 2 1 9 2 3 |
1 | 3 2 B F B 4 B B 3 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 1 5 B B 4 X 6 2 |
3 | 4 9 7 4 B B 5 7 8 2 |
2 | B 8 3 4 6 7 3 6 2 2 |
1 | F B 5 3 3 2 2 3 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 B 1 X 6 5 9 8 5 6 |
3 | B 4 B 8 2 2 2 7 2 2 |
2 | 4 B 4 B 7 3 3 2 2 2 |
1 | F 4 B 7 6 5 3 3 3 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 X 7 2 6 8 6 4 5 |
3 | 6 8 3 1 2 9 2 2 5 3 |
2 | 7 2 B B 7 2 5 2 B 6 |
1 | 3 3 B F B 2 3 4 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | F 6 4 5 B 4 9 5 2 2 |
3 | 2 4 8 3 B 2 2 B 4 5 |
2 | 6 X 2 6 6 7 1 3 2 8 |
1 | 2 7 3 5 B B 3 7 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 6 3 2 2 6 6 2 2 |
3 | B 4 X 5 B 4 5 2 9 B |
2 | 4 7 8 B 7 8 7 3 1 3 |
1 | 3 5 B F B 6 3 4 2 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 5 2 2 7 5 4 B 4 |
3 | 9 2 2 4 6 X 8 7 B 6 |
2 | 1 3 8 5 B 6 2 3 B 2 |
1 | 3 7 4 B F B 5 3 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 7 3 5 X 8 3 2 5 |
3 | 4 9 8 6 4 2 4 6 3 2 |
2 | B 6 1 F 7 6 7 B 2 4 |
1 | 5 2 B 3 B 2 B 3 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 5 6 5 2 4 3 6 2 |
3 | 5 6 4 B 7 3 X B 2 4 |
2 | 2 4 8 F 9 3 2 5 8 3 |
1 | 3 2 B 6 1 7 B B 7 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 6 3 1 6 2 6 B B 2 |
3 | X 2 5 5 9 2 2 4 5 4 |
2 | 7 8 3 7 8 B 2 7 5 B |
1 | F 3 3 4 2 B 3 B 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 9 8 2 5 3 B 5 4 |
3 | 7 2 8 X 6 2 7 5 B 2 |
2 | 2 4 1 F 2 7 B B 4 3 |
1 | 3 2 6 3 6 2 3 4 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 B 6 4 2 7 B 5 7 |
3 | 8 2 7 2 8 6 2 4 2 9 |
2 | 6 3 5 B 1 X 2 3 6 B |
1 | 3 4 B F B 5 3 2 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 2 9 2 7 X 4 2 B |
3 | 5 6 8 1 8 2 7 B 5 3 |
2 | B B 7 6 2 2 2 6 B B |
1 | 3 3 5 F 4 6 5 4 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 2 2 5 6 8 2 4 6 |
3 | X 2 8 2 9 2 1 4 7 2 |
2 | 4 2 3 6 5 7 3 6 3 4 |
1 | 3 B B 5 F B B 3 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 7 4 2 2 4 B 2 6 |
3 | X 6 2 9 6 5 8 B 4 2 |
2 | 7 2 8 1 7 2 B 4 B 3 |
1 | 3 3 5 F 5 5 B 3 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 5 F B 4 5 7 5 4 2 |
3 | B 7 X 8 6 4 8 9 B 4 |
2 | 5 1 3 7 B 6 3 3 3 B |
1 | 2 2 3 2 2 B 6 2 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 X 2 5 4 9 7 5 2 |
3 | 6 7 2 2 7 6 1 2 6 2 |
2 | B 3 8 3 6 2 B 8 5 B |
1 | F B 4 B 2 3 4 B 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 X 3 6 5 2 9 6 5 |
3 | 5 6 8 3 4 2 2 1 2 2 |
2 | 7 B 4 B 6 B 7 8 3 7 |
1 | 3 5 B F B 4 3 2 2 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 2 5 7 2 6 4 6 2 5 |
3 | 4 2 X 4 5 8 3 2 2 9 |
2 | 8 2 6 3 2 1 4 7 3 5 |
1 | 3 6 F B B B B B B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 7 4 B 6 9 6 2 5 |
3 | 6 X 8 4 2 4 1 B 2 7 |
2 | 2 3 B 3 2 2 2 8 6 5 |
1 | 3 B F B 3 5 4 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 3 6 9 X 8 5 7 8 5 3 |
3 | 6 2 1 3 2 2 2 2 2 7 |
2 | B 6 B 7 2 3 2 6 3 5 |
1 | 4 B 4 F B 5 B 4 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 4 5 4 6 2 2 8 6 2 |
3 | 2 6 9 3 5 6 X 2 2 7 |
2 | 2 5 1 5 B B 4 7 B 3 |
1 | B 8 3 B F B 3 3 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 8 B B B 4 7 3 2 |
3 | X 6 3 B 4 8 2 2 2 9 |
2 | 7 3 6 4 B 2 3 2 2 6 |
1 | F 6 7 5 5 B 5 3 1 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 6 2 5 2 8 6 2 6 |
3 | 7 5 X 5 2 6 2 1 7 9 |
2 | B 3 8 7 B B 3 2 2 4 |
1 | F B B 3 4 4 B 3 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 7 5 B 5 6 6 4 2 2 |
3 | 7 X 3 4 B 9 8 7 2 6 |
2 | B 4 B 3 3 1 3 2 8 5 |
1 | F B 2 2 2 B 5 6 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 8 B 4 5 8 2 2 5 |
3 | 5 2 2 3 7 2 6 9 6 3 |
2 | B 3 4 7 2 X 1 5 B 2 |
1 | 4 B B F 6 3 7 B 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 2 4 6 6 2 3 5 5 |
3 | 5 X 3 2 9 8 2 7 5 2 |
2 | B 2 8 7 1 B 4 B B 2 |
1 | 2 3 6 F 7 B 3 4 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 7 X 7 5 3 7 5 6 |
3 | 2 6 8 3 2 B 6 9 2 2 |
2 | 4 2 3 4 B 4 B 1 8 2 |
1 | 2 3 6 B F B 4 B 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 6 X 5 4 2 7 B 7 5 |
3 | 8 2 5 1 9 2 6 8 B 3 |
2 | 3 2 6 B 6 2 2 4 5 B |
1 | 3 2 B F B 3 3 4 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 6 3 8 5 X 9 5 4 |
3 | B 8 2 2 2 2 2 3 6 7 |
2 | 4 6 B 1 6 7 B 7 2 2 |
1 | 3 B F B 5 3 4 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 9 X 2 4 5 4 5 5 B |
3 | 8 1 B 6 4 2 2 B 5 6 |
2 | B 7 3 3 8 7 2 7 4 2 |
1 | F B 3 3 3 6 2 2 6 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 6 8 6 4 5 7 5 5 6 |
3 | 7 4 6 1 8 4 2 2 7 2 |
2 | B 4 5 2 2 X 2 3 B 9 |
1 | F B 3 B 3 2 B 3 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 X 2 5 2 4 5 2 4 |
3 | 7 2 3 9 6 2 3 4 6 2 |
2 | 2 8 B 1 8 6 B 6 5 4 |
1 | 3 B F B 7 3 B 7 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 6 4 3 X 5 7 3 2 6 |
3 | B 2 6 2 2 2 4 2 5 9 |
2 | 4 2 8 1 7 7 8 B 6 3 |
1 | 5 3 B F B 3 5 4 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 6 X 2 2 7 6 2 6 |
3 | 4 5 7 8 2 2 8 7 2 9 |
2 | 3 B 3 5 4 B 6 5 B 1 |
1 | B F B 5 3 3 3 4 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 7 2 7 6 9 6 5 2 |
3 | 5 2 3 X 5 2 1 B 4 7 |
2 | 8 2 B 4 8 6 4 3 2 B |
1 | 3 B F B 5 3 2 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 5 7 9 6 5 X 6 5 4 |
3 | 6 2 3 2 1 7 8 2 7 6 |
2 | B B 8 3 2 2 3 2 B B |
1 | 4 F B 3 2 2 3 B 4 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 5 8 X 6 5 B 6 4 6 |
3 | 9 2 7 1 3 8 B 4 5 7 |
2 | 4 B 3 7 2 4 3 2 3 2 |
1 | B F B 3 2 2 B 2 5 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 X 7 B 4 5 3 2 5 B |
3 | 6 7 3 B 6 2 B 8 4 6 |
2 | F 5 9 1 8 2 B 7 2 2 |
1 | 5 6 3 2 2 3 4 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 2 3 7 4 B 2 4 5 |
3 | 3 9 B 6 2 2 6 8 6 7 |
2 | 6 2 1 8 X B 5 B 2 5 |
1 | 2 3 B F 2 4 B 4 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 5 X 5 7 9 4 2 2 |
3 | 3 6 8 B B 4 1 5 6 2 |
2 | 2 6 3 4 B B B 8 7 2 |
1 | 2 7 B 3 F 4 5 6 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 6 4 5 2 7 7 4 2 |
3 | 3 5 6 5 2 6 2 2 6 5 |
2 | 7 2 9 B B X 1 B 2 3 |
1 | F B 3 B 4 8 3 B 3 8 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 9 6 2 2 2 2 2 6 |
3 | 5 8 1 8 B B B 4 6 2 |
2 | 4 3 B 7 7 7 X 3 2 4 |
1 | 3 B F 3 5 5 5 B 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 6 X 5 2 6 9 4 2 |
3 | 5 8 2 8 7 7 1 2 7 5 |
2 | B 2 4 3 B B B 3 4 2 |
1 | 3 2 B 6 F 3 5 6 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 6 1 5 4 5 B 4 5 |
3 | 7 X 3 8 9 B B 7 B 3 |
2 | 2 2 2 2 2 2 2 2 3 4 |
1 | 6 F 3 7 8 6 B 3 6 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 5 4 8 2 4 B 5 2 |
3 | X 2 3 7 2 B 2 2 6 9 |
2 | 4 B 5 8 7 3 6 2 B 1 |
1 | B F B 3 5 6 3 7 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 1 8 6 2 7 2 2 7 |
3 | 7 9 4 2 X 6 8 B 6 2 |
2 | 4 5 3 5 B 3 5 B 2 2 |
1 | 3 3 B F B 3 4 B 5 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 2 9 2 2 X 3 2 B |
3 | 4 5 8 5 6 2 1 8 5 4 |
2 | B 3 7 4 7 2 B 7 2 B |
1 | F B 6 3 6 3 5 6 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 7 X 5 4 9 7 B B |
3 | 6 5 3 1 6 5 2 6 5 4 |
2 | B 3 B 8 7 2 8 2 2 3 |
1 | 4 B F B 3 2 3 2 6 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 6 X 2 2 2 2 2 2 |
3 | 7 B 5 3 6 6 3 9 6 7 |
2 | B 4 B 8 3 7 8 1 B 5 |
1 | 4 F 4 B 4 3 5 B 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 7 2 2 4 2 7 5 2 |
3 | 7 8 1 6 2 6 6 9 6 2 |
2 | X 3 B B 5 8 3 4 3 2 |
1 | 3 5 4 F B 4 B B B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 3 1 6 5 8 3 5 2 |
3 | 8 5 4 X 2 2 2 7 9 2 |
2 | 2 3 6 4 B 2 2 6 B 3 |
1 | 7 3 5 B F B 7 B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 4 5 B 4 8 9 2 7 |
3 | 6 B 8 3 B 4 1 3 6 X |
2 | 3 7 B 5 6 2 2 2 2 2 |
1 | 5 B F B 3 7 3 6 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 7 2 4 5 7 6 4 2 |
3 | 4 2 X 3 2 2 1 9 2 5 |
2 | 2 6 B 8 6 8 3 B 6 7 |
1 | 3 5 B F 3 B B 4 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 2 2 2 4 6 4 2 5 |
3 | 7 6 3 5 2 6 8 6 2 7 |
2 | X 8 B 7 4 9 1 2 B 2 |
1 | 3 B F B B 3 3 B 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 6 7 5 2 2 6 5 4 |
3 | B 2 3 2 2 4 3 8 B 3 |
2 | 5 7 B 9 X 8 6 2 6 B |
1 | 3 B F B 3 1 7 2 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 9 5 4 5 X 8 B 4 |
3 | 6 4 8 6 2 2 2 1 5 B |
2 | B 7 3 6 2 2 2 6 7 B |
1 | F B 7 B 2 2 3 3 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 7 1 2 5 6 B 5 4 |
3 | 6 2 9 3 8 X 2 5 B B |
2 | 3 4 7 3 7 2 8 4 B 4 |
1 | 2 B 3 F B 6 3 2 6 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 1 8 5 6 6 4 6 5 |
3 | 6 7 B 3 2 2 2 2 9 4 |
2 | X B F B 2 2 8 B 2 2 |
1 | 3 5 B 3 7 3 B 4 3 7 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 B F B B 4 2 2 2 |
3 | 7 9 8 B X 7 B 3 8 7 |
2 | 5 4 6 6 3 3 6 2 6 5 |
1 | 2 4 3 5 2 1 4 B 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 2 7 5 4 9 6 4 2 |
3 | X 5 2 8 1 6 7 3 B B |
2 | 8 2 5 5 B 3 2 7 B 4 |
1 | 3 2 3 B F B 3 6 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 X 6 4 B 6 3 5 2 |
3 | 2 2 8 3 2 9 8 B B 4 |
2 | 4 3 3 5 6 B 1 7 5 2 |
1 | 6 B 4 F B 7 3 2 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 X 1 6 2 2 5 B 2 |
3 | 2 4 3 8 9 2 8 2 4 5 |
2 | B 7 2 3 B 7 5 3 7 B |
1 | F B 6 5 4 B 3 6 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 6 X 8 2 7 B 2 2 |
3 | 5 9 7 3 1 6 B 2 5 B |
2 | B 4 6 4 2 8 3 7 B 5 |
1 | F B 3 6 3 4 2 5 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 5 2 2 4 6 4 2 2 |
3 | 2 5 7 5 B 6 9 6 B 2 |
2 | 5 7 X 7 3 8 1 8 6 4 |
1 | B 4 F 3 B 3 B 3 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 7 B X 6 5 9 6 B B |
3 | 8 1 F 2 2 2 2 5 B 4 |
2 | 2 5 6 8 7 6 7 3 4 B |
1 | 2 2 2 3 3 4 3 3 B 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 5 7 4 5 2 8 5 2 |
3 | B 2 3 2 6 3 6 7 B 4 |
2 | 3 9 7 B 8 B 2 2 3 X |
1 | 6 1 B F B 4 3 5 6 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 3 7 5 2 2 6 7 5 |
3 | 4 7 9 1 2 6 8 X 2 2 |
2 | 2 2 6 4 B 4 B 8 6 3 |
1 | 5 3 B F B 3 B 3 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 7 2 2 6 B 5 2 2 |
3 | 8 6 X 6 3 2 9 2 3 B |
2 | 4 2 5 B 5 7 1 8 6 B |
1 | 3 5 B F B 4 7 3 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | F X 8 5 5 5 B 4 B 3 |
3 | 3 6 7 8 6 5 6 B 4 B |
2 | 3 2 7 7 1 9 3 3 B B |
1 | 6 2 2 2 2 2 2 2 4 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 6 9 5 2 4 B 2 5 |
3 | X 2 2 1 7 2 B 6 4 B |
2 | B 6 8 3 8 6 4 7 B 4 |
1 | F B 5 2 3 2 3 2 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 8 9 6 7 X 8 2 5 |
3 | 3 5 B 2 2 1 5 B 3 7 |
2 | 4 B 4 7 6 6 4 B 2 3 |
1 | 3 B 6 F 2 2 3 B 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 8 X 7 2 2 9 5 4 |
3 | 2 B 3 3 2 6 1 3 B 6 |
2 | 5 7 6 B 8 2 7 5 4 B |
1 | 3 2 B F B 2 3 5 2 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 8 7 4 6 9 4 2 6 |
3 | 3 2 2 6 2 5 1 3 7 2 |
2 | 4 5 7 X B 2 5 8 2 B |
1 | 3 B 5 B F B 3 B 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 7 2 4 6 B 8 5 4 |
3 | 6 2 9 1 5 8 2 X 2 7 |
2 | B 3 6 3 B 3 3 7 2 3 |
1 | F 5 B B 4 2 B 5 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 7 X 5 4 8 4 2 5 |
3 | 9 6 2 2 7 6 B 6 2 7 |
2 | 1 8 3 B 3 2 6 B 2 5 |
1 | 3 3 F 4 B 4 B 3 2 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 X 3 2 5 B 4 2 5 |
3 | 4 7 6 8 6 9 1 6 2 7 |
2 | 8 2 2 3 B 4 7 B B 2 |
1 | 6 3 5 B F B 3 2 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 3 9 4 5 7 3 4 5 |
3 | 5 6 7 2 6 2 5 2 6 2 |
2 | B 1 8 X 6 4 2 B 4 B |
1 | 3 8 B B F B 7 3 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 X 8 2 6 1 8 B 2 |
3 | 2 4 3 2 5 9 2 2 4 5 |
2 | B 7 2 3 B 7 5 3 7 B |
1 | F B 6 5 4 B 3 6 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 7 4 2 2 4 2 6 5 4 |
3 | X 9 1 B 6 B 3 8 4 2 |
2 | 2 8 F 5 B 5 B 5 B 6 |
1 | 3 2 7 3 3 2 3 7 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 9 8 5 4 X B 5 4 |
3 | 8 3 6 7 2 7 3 7 6 B |
2 | 3 2 1 B 2 2 2 B 5 4 |
1 | 6 2 6 F B 3 2 3 2 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 7 8 5 4 X 3 2 6 |
3 | 3 2 3 2 7 2 7 9 5 2 |
2 | B 6 B 5 B 6 5 1 2 2 |
1 | 4 B 4 B F B 3 8 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 8 2 4 4 X 9 6 2 |
3 | B 2 6 7 2 7 8 1 5 B |
2 | 4 5 F 5 B 2 5 3 7 B |
1 | B 3 2 B 3 6 3 2 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 3 5 6 1 5 4 4 4 B 5 |
3 | 7 X 8 8 9 B B 5 B 4 |
2 | 2 2 2 2 2 2 2 B 6 2 |
1 | F 3 3 7 7 6 3 6 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 7 2 4 6 1 8 6 5 |
3 | 4 6 2 X 5 9 2 5 4 7 |
2 | B 8 4 7 2 2 B B 2 2 |
1 | 3 3 B F 6 3 B 3 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 2 4 3 6 2 5 2 2 6 |
3 | X 6 8 5 B 2 2 6 2 9 |
2 | B 5 1 8 4 3 7 3 B B |
1 | F B 7 4 B 5 3 2 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B B 4 9 3 2 X 6 2 2 |
3 | 4 2 6 2 5 6 1 8 6 4 |
2 | B 3 B 7 8 3 7 3 2 5 |
1 | 4 B F B 3 5 7 2 5 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 4 X 6 5 2 6 2 6 4 |
3 | 8 2 2 4 B 7 5 9 2 8 |
2 | 7 2 5 3 B B 4 1 2 2 |
1 | 3 5 B B F B 3 3 6 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 8 7 4 6 9 4 2 6 |
3 | 5 2 2 5 2 X 1 3 7 2 |
2 | 4 B 6 7 3 2 3 8 2 B |
1 | B 3 5 B F B 4 B 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 B B 4 6 5 3 2 6 2 |
3 | B 5 8 2 2 7 5 2 5 8 |
2 | 4 B 3 7 B 6 1 X 2 3 |
1 | B 4 F 2 4 3 3 2 7 9 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 7 3 2 2 3 6 2 5 |
3 | B 5 8 X 6 2 8 5 2 2 |
2 | 3 2 3 4 B 1 6 6 5 7 |
1 | 7 4 9 B F B 4 B 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 5 2 1 7 5 4 B 2 5 |
3 | 2 9 2 3 2 2 2 6 2 B |
2 | B 4 7 8 6 X 8 3 B 4 |
1 | F B 6 5 B 3 7 3 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 4 6 4 6 5 3 2 6 |
3 | 2 6 8 2 7 2 8 B 5 9 |
2 | 3 B 1 X 2 3 5 2 2 B |
1 | B 4 7 F B 4 7 B 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 2 6 4 5 9 3 5 B |
3 | 4 2 8 3 B 2 6 8 2 B |
2 | 7 3 2 5 B 4 2 3 6 4 |
1 | X 6 7 B F B 7 1 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 6 7 5 6 9 2 2 5 |
3 | 6 B B 2 X 8 1 8 6 2 |
2 | 3 B 4 7 B 2 4 3 7 3 |
1 | B 5 3 4 F B 5 2 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 2 7 5 4 6 7 5 4 |
3 | B 7 5 9 2 2 8 X 4 2 |
2 | 6 8 1 3 2 2 3 2 2 5 |
1 | B 3 B F B 3 B 3 B 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 5 X 8 6 4 7 2 5 4 |
3 | 9 6 1 8 2 3 B 3 2 6 |
2 | 2 2 6 7 B 5 B 5 B 2 |
1 | 3 2 F 3 B 4 B 4 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 2 7 4 2 9 B 2 B |
3 | 7 2 6 5 2 6 5 2 5 B |
2 | 3 X 8 3 7 3 1 8 2 4 |
1 | 6 3 F 4 B 4 5 3 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 4 2 7 4 5 2 2 7 2 |
3 | 9 2 8 3 6 8 1 5 2 6 |
2 | 6 2 B B X 4 3 B 2 6 |
1 | 3 5 B F B 5 B 4 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 5 2 2 7 3 9 2 6 |
3 | 2 6 7 8 5 4 5 2 7 X |
2 | 5 B 6 B 4 B 2 8 1 3 |
1 | 3 4 B F B 6 3 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 6 9 5 2 5 5 2 7 |
3 | 6 7 2 2 7 6 3 8 6 3 |
2 | 3 X B 1 B 3 B 5 4 2 |
1 | 8 F 4 B 4 B 4 B 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 4 2 3 4 6 9 2 4 6 |
3 | X 2 8 8 5 7 1 5 2 B |
2 | 3 7 2 6 B 2 2 B 5 3 |
1 | 6 3 F 5 B 3 2 B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 7 X 5 6 9 7 4 B |
3 | 2 2 5 7 8 1 8 3 6 2 |
2 | 2 B 6 F 4 3 B 5 2 B |
1 | 2 3 B 4 6 B 3 2 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 2 6 9 6 2 8 6 3 2 |
3 | 2 5 1 3 2 4 2 X 7 B |
2 | 4 8 6 5 2 7 3 2 3 5 |
1 | B 3 4 F B 5 B B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 6 3 5 2 B 6 2 6 |
3 | 5 7 1 8 2 6 2 3 2 9 |
2 | 8 X 3 B 4 7 4 2 4 5 |
1 | 7 3 B F B 4 2 3 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 3 2 5 3 2 6 7 2 4 |
3 | 4 6 5 X 6 8 2 2 5 2 |
2 | 5 8 3 7 4 2 1 3 9 6 |
1 | B 4 B B F B B 7 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 6 3 X 6 4 5 2 4 5 |
3 | 9 2 5 2 5 2 B 3 2 2 |
2 | B 2 8 7 B 2 1 8 6 3 |
1 | F 4 3 B 3 7 B 4 B 7 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 2 X 7 4 9 2 2 6 |
3 | 5 8 2 2 2 6 1 2 8 5 |
2 | B 4 7 5 6 7 B 5 4 B |
1 | 3 B 3 F B 3 4 B 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 3 1 6 5 B 5 4 2 |
3 | X 8 2 6 9 B 6 4 B 4 |
2 | B 2 7 2 2 8 2 2 4 B |
1 | F B 7 3 5 3 5 7 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 4 9 3 7 4 3 B 2 B |
3 | 4 6 1 8 3 2 6 6 B 3 |
2 | 5 2 7 6 2 5 X 8 4 B |
1 | F 2 5 3 2 2 7 5 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 5 5 2 2 6 4 2 2 |
3 | 8 4 3 7 5 4 9 3 2 6 |
2 | 3 2 1 4 7 3 8 7 2 3 |
1 | 6 X F B B B B B 5 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | X 6 7 2 5 4 6 3 2 4 |
3 | 2 8 9 1 B B B 6 2 B |
2 | 3 7 8 7 5 4 4 B 5 2 |
1 | 2 2 F 3 6 2 3 3 B 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 3 8 4 6 8 3 6 4 |
3 | 2 7 B 1 X 6 3 9 5 5 |
2 | 5 B 5 2 2 2 2 2 7 7 |
1 | 2 3 F 3 B 2 4 B B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 2 X 5 4 B 5 2 4 |
3 | 2 9 1 6 8 7 4 B B 5 |
2 | B 2 6 7 7 3 8 2 3 2 |
1 | F B 2 6 3 3 3 B 2 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 8 6 X 2 7 5 8 1 4 7 |
3 | 2 2 3 6 5 2 6 9 2 3 |
2 | 3 B 5 7 B 2 B 6 B 2 |
1 | B 4 F 4 2 B 4 3 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 3 B 2 4 B 7 5 4 |
3 | 7 2 9 3 6 B 3 2 B 2 |
2 | X 2 6 6 8 1 8 5 3 B |
1 | 2 2 7 F B 4 5 3 5 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 3 7 4 6 3 5 2 2 |
3 | 8 2 9 1 8 2 X 2 7 2 |
2 | B 3 B 7 6 5 4 B 5 3 |
1 | 4 5 B F B 6 3 B 4 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 B 2 X 2 2 5 2 2 B |
3 | B 4 3 6 4 7 1 9 B 3 |
2 | B 6 7 8 2 2 8 7 6 4 |
1 | F B 5 4 3 6 5 3 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 B F X 7 4 6 3 4 5 |
3 | 7 9 7 8 2 8 2 B 6 2 |
2 | 3 3 1 5 2 B 2 B 6 2 |
1 | 2 6 5 3 2 B 4 B 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 F 8 4 6 6 1 2 6 |
3 | 7 X 3 7 2 2 7 8 9 2 |
2 | 2 2 B 3 5 B 5 3 B 3 |
1 | 3 4 B 5 4 B 2 4 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 2 X 6 5 8 2 B 4 |
3 | 2 8 7 7 9 1 B 2 4 B |
2 | 6 2 6 B 7 6 5 B 3 4 |
1 | F 2 3 3 5 3 3 4 B 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 7 9 5 4 2 5 B 5 |
3 | X 2 1 8 2 B 7 3 B 4 |
2 | 3 2 F 8 2 7 B 6 B 3 |
1 | 3 2 6 6 3 6 B 2 4 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 X 6 5 5 3 2 2 2 |
3 | 7 6 3 3 7 8 1 9 6 2 |
2 | B 8 B 6 B 4 B 2 7 5 |
1 | 4 B F B 4 2 4 2 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 6 3 8 6 4 8 3 4 6 |
3 | 5 4 X 3 6 9 1 B 4 5 |
2 | 7 7 B 7 2 2 2 5 B 2 |
1 | 3 B F B 2 2 2 B 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 2 7 2 2 6 8 6 2 |
3 | B 6 4 1 5 9 5 2 2 4 |
2 | 6 8 X 3 7 2 3 7 4 B |
1 | B 3 F B B 5 B 3 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | X 6 1 7 4 2 2 8 4 2 |
3 | 6 7 2 9 5 6 2 B 6 5 |
2 | 3 B 2 5 2 8 2 4 B 4 |
1 | B F B 3 7 3 5 3 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 5 8 6 2 2 6 2 5 |
3 | 6 7 1 2 2 7 9 2 6 7 |
2 | B 5 X 3 4 3 5 8 3 4 |
1 | 4 B B F 3 B B 2 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 2 4 2 5 7 5 B 5 4 |
3 | 7 2 6 2 6 2 9 B 2 2 |
2 | X 6 B 3 8 2 3 4 6 B |
1 | 3 B F B 1 7 3 3 8 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 7 X 5 4 9 7 B 4 |
3 | 6 2 3 1 6 5 2 6 5 2 |
2 | B 3 B 8 7 2 8 B 2 3 |
1 | 4 B F B 3 2 3 2 6 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 5 8 4 5 X B 4 2 |
3 | 2 6 9 2 2 2 5 8 B 2 |
2 | 6 7 B 1 6 7 6 3 4 B |
1 | 3 B F B 7 3 5 2 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | B 2 7 9 6 2 7 4 2 6 |
3 | 8 6 5 2 1 5 2 2 2 8 |
2 | 4 X B 2 5 7 B 3 6 5 |
1 | F 3 3 B 3 4 B B 3 4 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 B 6 9 X 6 7 B 5 6 |
3 | B 6 7 4 2 2 8 4 B 8 |
2 | B 4 3 3 2 2 3 7 5 1 |
1 | F B 4 2 2 2 5 3 3 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 4 X 6 4 5 2 2 5 |
3 | 4 6 8 1 9 7 8 6 2 7 |
2 | 2 7 3 B 6 3 3 2 B 2 |
1 | 3 2 B B F B B 5 4 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 7 3 5 B 6 B 5 B 5 |
3 | 2 X 9 3 7 4 2 7 3 4 |
2 | 8 2 2 8 5 6 1 B 4 B |
1 | 2 6 F 2 B 2 3 4 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 6 2 8 2 5 2 3 7 4 |
3 | 6 2 9 5 6 2 6 8 5 2 |
2 | 7 5 4 B 4 1 3 7 2 4 |
1 | X 3 B F B 3 B B 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 4 2 7 4 5 2 5 2 2 |
3 | 9 2 5 3 6 8 1 2 7 6 |
2 | 6 2 B B X 4 3 B 2 3 |
1 | 3 8 B F B 5 B 4 3 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 3 B 7 5 1 6 2 5 |
3 | 8 6 2 5 2 9 8 4 7 2 |
2 | 2 2 4 3 2 6 7 B 2 4 |
1 | 3 B B F X 3 B 3 6 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 4 5 3 6 4 2 2 6 2 |
3 | 2 7 X 7 2 7 9 1 8 5 |
2 | B 5 B 2 B 5 B 4 2 2 |
1 | F B 3 8 4 B 3 3 6 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 2 7 2 2 3 6 B 4 |
3 | 6 5 X 6 5 2 9 8 4 B |
2 | B 7 8 B 7 B 1 6 3 5 |
1 | F B 3 4 2 2 3 5 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 7 1 7 5 2 2 5 7 2 |
3 | 2 9 8 2 8 6 5 2 2 4 |
2 | 3 6 3 5 3 X 3 6 3 6 |
1 | B B 4 F 4 B B 4 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 2 4 8 6 2 7 2 6 2 |
3 | 4 B 7 5 2 6 X 3 8 2 |
2 | 2 6 9 3 B 5 7 1 3 5 |
1 | 5 3 4 B F B 3 4 B B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 5 4 6 1 5 4 5 B 4 5 |
3 | 7 X 8 8 9 B B 7 B 3 |
2 | 2 2 2 2 2 2 2 2 3 4 |
1 | 3 F 3 6 7 6 B 3 6 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 6 2 5 7 5 2 X 6 2 4 |
3 | 2 5 2 6 9 6 3 8 5 2 |
2 | 3 3 2 7 1 8 3 3 2 7 |
1 | B 4 B F B 4 B B 4 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 8 X 7 4 9 2 4 5 |
3 | 2 B 5 2 5 2 1 7 2 2 |
2 | 5 6 7 B 2 2 6 B 8 B |
1 | 3 3 B F B 3 3 3 4 6 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 5 3 9 6 2 6 B 4 4 |
3 | 6 2 1 B 5 4 8 5 B B |
2 | 8 X 2 B 7 3 3 2 4 5 |
1 | 6 F 7 B 7 3 3 2 2 2 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 7 X 8 6 5 3 6 2 4 |
3 | 6 2 2 4 2 7 5 B B 6 |
2 | 8 3 7 1 9 2 4 B 5 2 |
1 | 3 2 B B F 5 2 3 B 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 5 B 2 6 7 X 2 5 2 |
3 | 5 B 6 8 2 6 8 7 2 6 |
2 | B 4 B 5 B 2 3 1 9 7 |
1 | 4 B 4 F 3 2 3 3 2 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 9 2 2 6 X 7 5 2 |
3 | 5 7 1 8 5 8 4 2 B 3 |
2 | 2 3 3 B 7 2 6 4 4 B |
1 | 2 6 B F B 6 5 B 3 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 2 3 2 7 5 3 B B 4 |
3 | 6 7 B 1 9 6 B 4 4 7 |
2 | B X F 8 5 8 3 2 2 3 |
1 | 5 2 2 6 2 B 2 6 3 5 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 4 6 1 8 6 2 7 2 2 7 |
3 | 7 9 2 2 X 6 8 B 6 2 |
2 | 4 4 3 5 B 3 5 B 2 2 |
1 | 3 3 5 B F B 4 B 5 3 |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 7 2 4 7 5 6 2 7 2 5 |
3 | 4 2 8 2 9 X 4 1 2 8 |
2 | 5 2 6 3 B 6 2 3 6 5 |
1 | B 3 4 B F B 3 B 3 B |
  +---------------------+
    a b c d e f g h i j

  +---------------------+
4 | 2 4 6 8 5 2 7 9 2 4 |
3 | B 2 3 X 6 4 1 2 7 6 |
2 | 5 4 8 B 7 2 6 3 B 2 |
1 | 2 3 B F B 5 3 5 B 3 |
  +---------------------+
    a b c d e f g h i j